@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-700.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-600.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-500.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-400.woff2") format("woff2");
  font-weight: 400;
}

:root {
  --body-bg: #0d0d0d;
  --body-clr: #f0f0f0;
  
  --sidebar-bg: #121212;
  --sidebar-clr: #d4d4d4;
  --sidebar-border-clr: #222;

  --profile-image-svg-fill: #f3f3f3;

  --primary-menu-link-hover-bg: hsl(0, 0%, 13%);
  --sub-menu-link-hover-bg: hsl(0, 0%, 17%);
  --sub-menu-option-hover-bg: hsl(0, 0%, 20%);
  --sidebar-footer-clr: #666;

  --homepage-bg: #0d0d0d;
  --diversion-border-clr: #222;

  --h1-clr: linear-gradient(to right, #ffffff, #888);
}

* {
  font-family: "Poppins";
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  margin: 0;
  color: var(--body-clr);
}

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  color: inherit;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}