//! sidebar styling
.sidebar {
  background-color: var(--sidebar-bg);
  border-inline-end: 1px solid var(--sidebar-border-clr);
  min-width: 57px;
  max-width: 57px;

  position: relative;
  user-select: none;
  color: var(--sidebar-clr);
  overflow-x: hidden;

  transition: 500ms;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-toggle-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  display: grid;

  cursor: pointer;
}

.sidebar-toggle-btn svg {
  rect:first-of-type {
    fill: var(--sidebar-toggle-icon-fill);
  }

  &:active {
    scale: 0.9;
  }
}

.profile-image {
  height: 120px;
  padding-block-end: 1rem;
  display: flex;
  justify-content: center;
  align-items: end;
  transition: 500ms;

  svg {
    transition: 500ms;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}

.primary-menu {
  margin-inline: 0.5rem;
  margin-block: 0.525rem;
  border-radius: 0.5rem;
}

.primary-menu-link {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;

  padding-inline: 0.525rem;
  padding-block: 0.425rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;

  &:hover {
    color: var(--white);
    background-color: var(--primary-menu-link-hover-bg);
    border: 1px solid var(--slick-border-clr);
  }

  svg {
    min-width: 24px;
  }
}

.project-menu {
  border: 1px solid transparent;
  &:hover {
    border: 1px solid var(--slick-border-clr)
  }
}

.project-menu .primary-menu-link {
  padding-block: 0;
  border: 1px solid transparent;
}

.project-menu > div:first-of-type {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 40.5px;
  border-block-end: 1px solid transparent;

  a {
    height: 100%;
    border-radius: unset;
    flex-grow: 1;
  }
}

.sub-menu-btn {
  display: grid;
  place-items: center;
  height: 100%;
  padding-inline: 0.325rem;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-menu-link-hover-bg);
  }

  svg {
    transition: 200ms ease-in-out;
  }
}

.sub-menu {
  background-color: var(--primary-menu-link-hover-bg);
  padding-inline: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  filter: blur(2px);
  transition: 400ms;
  max-height: 300px;
  overflow-y: auto;
}

.sub-menu::-webkit-scrollbar {
  display: none;
}

.create-new-project-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.825rem;
  width: 100%;
  text-align: start;
  padding-block: 0.425rem;
  padding-inline-start: 0.5rem;
  cursor: pointer;
  border-radius: 0.4rem;
  text-wrap: nowrap;
  background-color: hsl(0, 0%, 15%);
  border: 1px solid var(--slick-border-clr);

  &:hover {
    color: var(--white);
    background-color: var(--sub-menu-link-hover-bg);
  }

  svg {
    min-width: 18px;
  }
}

.project-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0.4rem;
  margin-block: 5px;
  opacity: 0;
  border: 1px solid transparent;
  position: relative;
  z-index: 5;

  a {
    flex-grow: 1;

    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    padding-block: 0.525rem;
    padding-inline-start: 0.5rem;
  }

  span {
    outline: none;
    padding-inline-end: 0.2rem;
  }

  &:hover {
    color: var(--white);
    background-color: var(--sub-menu-link-hover-bg);
    border: 1px solid var(--slick-border-clr);
  }

  &:hover .sub-menu-option-btn {
    color: var(--white);
    opacity: 1;
  }

  svg {
    min-width: 18px;
  }
}

.sub-menu-options {
  position: absolute;
  bottom: calc(50% + 20px);
  right: 0;
  z-index: 5;
  translate: 0 50%;

  display: grid;
  border: 1px solid var(--slick-border-clr);

  button {
    display: flex;
  }
}

.sub-menu-option-btn {
  box-sizing: content-box;
  border-radius: 50%;
  padding: 0.25rem;
  // opacity: 0;
  transition: opacity 200ms;
  margin-inline-end: 0.25rem;
  background-color: var(--sub-menu-option-hover-bg);

  &:hover {
    background-color: var(--sub-menu-option-hover-bg);
  }
}

.grid-smooth-height {
  display: grid;
  grid-template-rows: 0fr;
  scale: 0.9;
  transition: 400ms ease-in-out;
}

//! create project form styling
.form-background-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--form-bg-layer-bg);
  backdrop-filter: blur(3px);
  display: grid;
  place-items: center;

  opacity: 0;
  transition: 300ms allow-discrete;
  display: none;
}

form {
  background-color: var(--sidebar-bg);
  box-sizing: content-box;
  padding: 2rem;
  min-width: 400px;
  border: 1px solid var(--slick-border-clr);
  border-radius: 0.5rem;
  user-select: none;
  translate: 0 -20px;
  transition: translate 300ms;

  > div:not(.form-buttons) {
    display: grid;
    margin-block-end: 1rem;
  }

  label {
    margin-block-end: 0.325rem;
    color: var(--sidebar-clr);
  }

  input,
  textarea {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--input-textarea-bg);
    color: var(--body-clr);
    border-radius: 0.5rem;
    border: 1px solid var(--slick-border-clr);
  }

  textarea {
    resize: none;
    max-height: 200px;
    height: 150px;
  }

  textarea::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  button {
    cursor: pointer;
  }

  button:not(.cancel-btn) {
    background-color: var(--form-btn-bg);
    padding-block: 0.4rem 0.3rem;
    padding-inline: 0.8rem;
    border-radius: 0.5rem;
    font-size: 0.825rem;
    border: 1px solid var(--slick-border-clr);

    &:hover {
      background-color: var(--form-btn-hover-bg);
    }
  }

  .cancel-btn {
    font-size: 0.9rem;
    padding-block: 0rem;
    padding-inline: 0.8rem;
    text-underline-offset: 2px;
    text-decoration: underline;
    transition: text-underline-offset 200ms;

    &:hover {
      text-underline-offset: 6px;
    }
  }
}

//! Homepage styling

.homepage {
  background-color: var(--homepage-bg);
  color: #616161;
}

h1 {
  font-size: 3.5rem;
  background: var(--h1-clr);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

// p{
//   margin: 0;
// }
