* {
  background-color: rgb(255, 79, 79);
}

* * {
  background-color: rgb(80, 255, 80);
}

* * * {
  background-color: rgb(17, 53, 255);
}

* * * * {
  background-color: rgb(216, 0, 236);
}

* * * * * {
  background-color: rgb(0, 182, 167);
}

* * * * * * {
  background-color: rgb(128, 31, 255);
}

* * * * * * * {
  background-color: rgb(238, 135, 0);
}