//! Homepage styling

.homepage {
  background-color: var(--homepage-bg);
  color: #616161;
}

h1 {
  font-size: 3.5rem;
  background: var(--h1-clr);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  margin: 0;
}