.landing-page-wrapper {
  position: relative;
}

#particle-container {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1000ms;
}

.particle {
  position: absolute;
  border-radius: 50%;
  background: white;
  opacity: 0.1;
  animation: float infinite ease-in-out;
  will-change: transform;
}

@keyframes float {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(20px, -30px) scale(1.1);
  }
  50% {
    transform: translate(0px, -60px) scale(1);
  }
  75% {
    transform: translate(-20px, -30px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

//! Home page content styling
.landing-page-wrapper {
  position: relative;
}

.home-page-header {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: clamp(2.5rem, 1.875rem + 2.5vw, 3.75rem);
  background-color: hsl(0, 0%, 50%, 0.05);
  border-block-end: 1px solid var(--sidebar-border-clr);
  backdrop-filter: blur(10px);
}

.home-page-header-wrapper {
  max-width: 1200px;
  margin-inline: auto;
  height: 100%;
  box-sizing: content-box;
  padding-inline: clamp(0.6rem, 0.15rem + 1.8vw, 1.5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.editor-info {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.logo-text {
  display: inline-block;
  margin: 0;
  line-height: clamp(1.625rem, 1.3606rem + 1.0577vw, 2.3125rem);
  font-size: clamp(1.425rem, 1.025rem + 1.6vw, 2.225rem);
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

.version-info {
  font-size: 0.8525rem;
  opacity: 0.7;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.home-page-nav {
  display: flex;
  gap: clamp(0.725rem, 0.475rem + 1vw, 1.225rem);
}
.home-page-nav button {
  position: relative;
  font-weight: 500;
  padding-block: 0.125rem;
  font-size: clamp(0.9525rem, 0.9287rem + 0.095vw, 1rem);
}

.home-page-nav button::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50% 0;
  width: 0;
  height: 1px;
  background-color: var(--body-clr);
  transition: width 300ms;
}

.home-page-nav button:hover::before {
  width: 100%;
}

//! Home page home section styling
.home-page-wrapper {
  box-sizing: content-box;
  // margin-inline: auto;
  padding-inline: clamp(0.6rem, 0.15rem + 1.8vw, 1.5rem);
  position: relative;
  z-index: 4;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
}

.home-page-wrapper-content {
  max-width: 1200px;
  margin-inline: auto;
}

.hero-section {
  padding-block-start: clamp(5rem, 1.5rem + 14vw, 12rem);
}

.hero-section .text-area {
  h1,
  p {
    margin: 0;
  }

  h1 {
    font-weight: 400;
    font-size: clamp(1.825rem, -0.1036rem + 6.1714vw, 4.525rem);
    margin-block-end: 1rem;
  }
  p {
    font-size: clamp(0.925rem, 0.7107rem + 0.6857vw, 1.225rem);
    font-weight: 300;
  }
}
@media (width < 900px) {
  .hero-section .text-area {
    display: grid;
    justify-items: center;
    text-align: center;
    margin-block-end: 3rem;

    p {
      max-width: 35ch;
    }
  }
}

@media (width >=900px) {
  .hero-section {
    display: flex;
    align-items: center;
    gap: 1rem;

    > * {
      flex: 1;
    }
  }

  .hero-section .text-area {
    p {
      max-width: 36ch;
    }
  }
}

.quick-start-btn {
  display: flex;
  margin-block-start: 2rem;
  font-size: 1.325rem;
  padding-inline: 2rem;
  padding-block: 0.5rem;
  border: 1px solid var(--slick-border-clr);
  border-radius: 100rem;
  background-color: hsla(0, 0%, 50%, 0.1);

  &:hover {
    background-color: hsla(0, 0%, 50%, 0.15);
  }
}

//! demo code styling
.demo-code-area {
  border: 1px solid var(--slick-border-clr);
  border-radius: 0.4rem;
  background-color: hsla(0, 0%, 60%, 0.05);
  backdrop-filter: blur(3px);
  position: relative;

  *:not(header > span) {
    font-family: var(--user-font);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.print-button.print-button {
  font-family: 'Poppins';
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 1;
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  border: 1px solid var(--slick-border-clr);
  padding-inline: 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--global-button-bg);
  opacity: 0.5;
  transition: opacity 300ms;

  &:hover {
    background-color: var(--global-button-hover-bg);
    opacity: 1;
  }

  @media (pointer: coarse) {
    display: none;
  }
}

.demo-code-area:hover .print-button {
  opacity: 0.9;
}

.demo-code-area header {
  padding-inline: 1rem;
  padding-block: 0.3rem;
  border-block-end: 1px solid var(--slick-border-clr);

  span {
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 0.3px;
  }
}

.gap {
  padding-inline: 0.25rem;
}
.gap-2 {
  padding-inline: 0.525rem;
}
.gap-4 {
  padding-inline: 1.05rem;
}

.demo-code-area > div {
  cursor: text;
  padding: 0.5rem;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.ZeroIDE-line {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 0.875rem;
  padding-block: 0.1125rem;

  @media (width < 500px) {
    font-size: 0.8rem;
  }
}

.ZeroIDE-line:hover {
  background-color: var(--ZeroIDE-line-hover-bg);
}
.ZeroIDE-line:hover .ZeroIDE-linenumber {
  color: var(--ZeroIDE-line-hover-number-clr);
}

.ZeroIDE-linenumber {
  color: var(--ZeroIDE-linenumber);
  width: 25px;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-end;
  margin-inline-end: 1rem;
  user-select: none;
}

.ZeroIDE-keyword {
  color: var(--ZeroIDE-keyword);
}

.ZeroIDE-variable {
  color: var(--ZeroIDE-variable);
}

.ZeroIDE-variable-2 {
  color: var(--ZeroIDE-variable-2);
}

.ZeroIDE-operator {
  color: var(--ZeroIDE-operator);
}

.ZeroIDE-curlybraces {
  color: var(--ZeroIDE-curlybraces);
}

.ZeroIDE-property {
  color: var(--ZeroIDE-property);
}

.ZeroIDE-property-2 {
  color: var(--ZeroIDE-property-2);
}

.ZeroIDE-string {
  color: var(--ZeroIDE-string);
}

.ZeroIDE-comma {
  color: var(--ZeroIDE-comma);
}

.ZeroIDE-keyword-2 {
  color: var(--ZeroIDE-keyword-2);
}

//! Features page styling
#features {
  padding-block-start: clamp(3rem, 0.5rem + 10vw, 8rem);
}

.feature-header {
  display: grid;
  justify-items: center;
  gap: 0.525rem;
  margin-block-end: 3rem;

  h2 {
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-size: clamp(1.325rem, 0.9875rem + 1.35vw, 2rem);
  }
  span {
    text-align: center;
    font-size: clamp(0.925rem, 0.8875rem + 0.15vw, 1rem);
    opacity: 0.7;
  }
}

.feature-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0.625rem;
}

.each-feature-card {
  border: 1px solid var(--sidebar-border-clr);
  padding-block: 1.225rem;
  padding-inline: 1.5rem;
  border-radius: 0.5rem;
  background-color: hsla(0, 0%, 50%, 0.05);
  transition: scale 400ms, opacity 300ms, filter 300ms, border-color 300ms;
  position: relative;

  &:hover {
    border: 1px solid var(--slick-border-clr);

    @media (pointer: fine) {
      backdrop-filter: blur(3px);
    }
  }

  @media (pointer: coarse) {
    backdrop-filter: blur(3px);
    border: 1px solid var(--slick-border-clr);
  }
}

.each-feature-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 0;
  height: 1px;
  background-color: var(--body-clr);
  mask-image: linear-gradient(to right, transparent, #fff, #fff, transparent);
  transition: width 400ms;
}

.each-feature-card:hover::before {
  width: 100%;
}

.feature-container:hover .each-feature-card:not(:hover) {
  opacity: 0.6;
  scale: 0.98;
  @media (pointer: fine) {
    filter: blur(3px);
  }
}

.feature-info {
  letter-spacing: 0.3px;
  h3 {
    margin: 0;
    margin-block-end: 1rem;
    font-weight: 500;
    font-size: 1.225rem;

    @media (width < 700px) {
      text-align: center;
    }
  }

  p {
    font-size: 0.9325rem;
    font-weight: 300;
    opacity: 0.8;
    margin: 0;
    margin-block-end: 1rem;
    max-width: 38ch;

    @media (width < 700px) {
      text-align: center;
      margin-inline: auto;
    }
  }

  h4 {
    margin: 0;
    font-weight: 400;
  }
  span {
    font-size: 0.925rem;
    opacity: 0.8;
    font-weight: 300;
  }
}

.other-features {
  margin-block-start: 3rem;
  h3 {
    margin: 0;
    margin-block-end: 0.5rem;
    font-weight: 500;
    font-size: 1.225rem;
  }

  h4 {
    margin: 0;
    font-weight: 500;
  }

  span {
    display: block;
    margin-block-end: 1rem;
    font-size: 0.925rem;
    opacity: 0.8;
    font-weight: 300;
  }
}

.other-features-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin-block-start: 3rem;
}

.mini-feature-card {
  background-color: hsla(0, 0%, 50%, 0.05);
  border: 1px solid var(--sidebar-border-clr);
  border-radius: 12px;
  padding: 1rem;
  transition: all 300ms;

  @media (pointer: coarse) {
    border: 1px solid var(--slick-border-clr);
    backdrop-filter: blur(3px);
  }
}

.other-features-grid:hover .mini-feature-card:not(:hover) {
  opacity: 0.6;
  scale: 0.98;
  @media (pointer: fine) {
    filter: blur(3px);
  }
}
.mini-feature-card:hover {
  border: 1px solid var(--slick-border-clr);
  transform: translateY(-4px);

  @media (pointer: fine) {
    backdrop-filter: blur(3px);
  }
}
.mini-feature-card h4 {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.mini-feature-card p {
  font-size: 0.925rem;
  opacity: 0.8;
  font-weight: 300;
}

.about-ZeroIDE {
  margin: 4rem auto;
  padding: 2rem;
  background: hsl(0, 0%, 50%, 0.05);
  border: 1px solid var(--sidebar-border-clr);
  border-radius: 0.6rem;
  font-size: 1rem;
  line-height: 1.8;

  transition: 300ms;

  &:hover {
    border: 1px solid var(--slick-border-clr);

    @media (pointer: fine) {
      backdrop-filter: blur(3px);
    }
  }
  @media (pointer: coarse) {
    border: 1px solid var(--slick-border-clr);
    backdrop-filter: blur(3px);
  }
}
.about-ZeroIDE h2 {
  font-size: clamp(1.325rem, 0.9875rem + 1.35vw, 2rem);
  font-weight: 500;
  margin: 0;
  margin-bottom: 1rem;
}
.about-ZeroIDE p {
  font-weight: 300;
  letter-spacing: 0.2px;
  margin-bottom: 1.2rem;

  strong {
    font-weight: 500;
  }
}


.site-footer {
  text-align: center;
  padding-block: 3rem 2rem;
  margin-block-start: 4rem;
  font-size: 0.875rem;
  border-top: 1px solid var(--sidebar-border-clr);
}

.site-footer p {
  font-weight: 300;
  margin-block-end: 0.625rem;
}
