.profile-page-wrapper {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  box-sizing: content-box;
  gap: 1rem;
  padding: 1rem;
}

.profile-informations {
  width: 100%;
  max-width: 300px;
  max-height: fit-content;
  // border: 1px solid red;
  padding: 1rem;
}

.profile-image-container {
  margin-block-end: 1rem;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}

.p-image {
  width: 100%;
  max-width: 250px;
  min-height: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  outline: 2px solid hsl(0, 0%, 50%, 0.5);
  transition: scale 400ms, outline-offset 100ms;

  &:hover {
    scale: 0.95;
    outline-offset: 5px;
  }

  &:hover svg,
  &:hover img {
    scale: 1.05;
  }

  img,
  svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale 300ms;
  }
}

//! Profile basic data styling
// .basic-profile-info {
//   border: 1px solid blue;
// }
.p-name {
  font-size: 24px;
  line-height: 1.2lh;
  letter-spacing: -1px;
}

.p-username {
  font-size: 20px;
  font-weight: 200;
  line-height: 1lh;
  color: var(--p-username-clr);
  letter-spacing: -1px;
}

.p-bio {
  line-height: 0.9lh;
  word-break: break-all;
}

.profile-activity-tab {
  flex-grow: 1;
  overflow-x: hidden;
  position: relative;
  border: 1px solid var(--slick-border-clr);
  border-radius: 1rem;
  padding: 1.525rem;

  > div {
    background-color: hsl(0, 0%, 50%);
    width: 300px;
    height: 300px;
  }
}

.profile-edit-button {
  display: block;
  width: 100%;
  background-color: var(--global-button-bg);
  border: 1px solid var(--slick-border-clr);
  padding: 0.325rem 0;
  font-size: 0.925rem;
  font-weight: 500;
  border-radius: 0.5rem;
  margin-block-start: 1rem;

  &:hover {
    background-color: var(--global-button-hover-bg);
  }
}

.profile-edit-form {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--sidebar-bg);
  padding: 1.525rem;
  translate: 100% 0;
  transition: translate 400ms;

  input,
  textarea,
  select,
  button {
    padding: 0.325rem 0.625rem;
  }

  textarea {
    height: 100px;
  }
}

.profile-edit-form.active {
  translate: 0 0;
}

.p-form-btns.p-form-btns {
  display: flex;
  width: fit-content;
  margin: 0;
  margin-block-start: 2rem;
  gap: 0.5rem;

  button {
    border-radius: 0.5rem;
    background-color: var(--global-button-bg);
    border: 1px solid var(--slick-border-clr);

    &:hover {
      background-color: var(--global-button-hover-bg);
    }
  }
}

.profile-edit-form select {
  background-color: var(--input-textarea-bg);
  color: var(--body-clr);
  border: 1px solid var(--slick-border-clr);
  border-radius: 0.5rem;
  appearance: none;
  height: 37px;
  cursor: pointer;
}

.profile-edit-form option {
  background: var(--input-textarea-bg);
  color: #111;
}
