:root {
  --white: hsl(0, 0%, 0%);
  --overlay-dark: hsla(0, 0%, 100%, 0.3);
  --white-transparent: hsla(0, 0%, 0%, 0.075);
  --outline-hover: hsla(0, 0%, 35%, 0.7);

  // base
  --body-bg: hsl(0, 0%, 95%);
  --body-clr: hsl(0, 0%, 10%);

  --global-button-clr: hsl(0, 0%, 10%);
  --global-button-bg: hsl(0, 0%, 85%);
  --global-button-hover-bg: hsl(0, 0%, 82%);
  --global-button-padding: 0.125rem 0.625rem;
  --global-button-border-radius: 0.325rem;

  --slick-border-clr: hsl(0, 0%, 79%);

  // layout
  --global-scrollbar-track-bg: hsl(0, 0%, 93%);
  --global-scrollbar-thumb-bg: hsl(0, 0%, 65%);
  --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%);

  // allpage
  --each-page-body-bg: hsl(0, 0%, 93%);
  --each-page-body-border: hsl(0, 0%, 87%);

  // sidebar
  --sidebar-bg: hsl(0, 0%, 93%);
  --sidebar-border-clr: hsl(0, 0%, 87%);
  --sidebar-clr: hsl(0, 0%, 17%);
  --sidebar-toggle-btn-hover-border: hsl(0, 0%, 79%);
  --sidebar-toggle-icon-fill: hsl(0, 0%, 88%);
  --profile-image-svg-fill: hsl(0, 0%, 5%);
  --profile-img-outline-hover: hsla(0, 0%, 35%, 0.7);
  --primary-link-hover-clr: hsl(0, 0%, 0%);
  --primary-menu-link-hover-bg: hsl(0, 0%, 87%);

  --sub-menu-bg: hsl(0, 0%, 87%);
  --sub-menu-button-hover-bg: hsl(0, 0%, 87%);
  --create-new-project-btn-bg: hsl(0, 0%, 85%);
  --create-new-project-btn-hover-bg: hsl(0, 0%, 83%);
  --project-list-item-hover-bg: hsl(0, 0%, 83%);
  --project-list-item-created-outline: hsl(0, 0%, 87%);
  --sub-menu-option-hover-bg: hsl(0, 0%, 80%);

  // homepage
  --particle-bg: hsla(0, 0%, 7%, 0.7);
  --banner-clr: hsl(0, 0%, 20%);
  --banner-bg: hsla(0, 0%, 50%, 0.1);

  // profilepage
  --p-username-clr: hsl(0, 0%, 50%);
  --social-link-form-bg: hsl(0, 0%, 91%);
  --profile-edit-form-bg: hsl(0, 0%, 91%);
  --input-textarea-bg: hsla(0, 0%, 0%, 0.075);

  // settingspage
  --setting-border: 1px solid hsla(0, 0%, 50%, 0.2);

  // ui component
  --form-bg-clr: hsl(0, 0%, 91%);
  --form-bg-layer-bg: hsla(0, 0%, 100%, 0.3);
  --delete-message-modal-suggested-span: hsl(0, 0%, 36%);

  --toast-message-clr: hsl(0, 0%, 20%);
  --toast-message-bg: hsl(0, 0%, 80%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: hsl(0, 0%, 100%);
    --overlay-dark: hsla(0, 0%, 0%, 0.3);
    --white-transparent: hsla(0, 0%, 100%, 0.075);
    --outline-hover: hsla(0, 0%, 65%, 0.7);

    // base
    --body-bg: hsl(0, 0%, 5%);
    --body-clr: hsl(0, 0%, 90%);

    --global-button-clr: hsl(0, 0%, 90%);
    --global-button-bg: hsl(0, 0%, 15%);
    --global-button-hover-bg: hsl(0, 0%, 18%);
    --global-button-padding: 0.125rem 0.625rem;
    --global-button-border-radius: 0.325rem;

    --slick-border-clr: hsl(0, 0%, 21%);

    // layout
    --global-scrollbar-track-bg: hsl(0, 0%, 7%);
    --global-scrollbar-thumb-bg: hsl(0, 0%, 35%);
    --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%);

    // allpage
    --each-page-body-bg: hsl(0, 0%, 7%);
    --each-page-body-border: hsl(0, 0%, 13%);

    // sidebar
    --sidebar-bg: hsl(0, 0%, 7%);
    --sidebar-border-clr: hsl(0, 0%, 13%);
    --sidebar-clr: hsl(0, 0%, 83%);
    --sidebar-toggle-btn-hover-border: hsl(0, 0%, 21%);
    --sidebar-toggle-icon-fill: hsl(0, 0%, 12%);
    --profile-image-svg-fill: hsl(0, 0%, 95%);
    --profile-img-outline-hover: hsla(0, 0%, 65%, 0.7);
    --primary-link-hover-clr: hsl(0, 0%, 100%);
    --primary-menu-link-hover-bg: hsl(0, 0%, 13%);

    --sub-menu-bg: hsl(0, 0%, 13%);
    --sub-menu-button-hover-bg: hsl(0, 0%, 13%);
    --create-new-project-btn-bg: hsl(0, 0%, 15%);
    --create-new-project-btn-hover-bg: hsl(0, 0%, 17%);
    --project-list-item-hover-bg: hsl(0, 0%, 17%);
    --project-list-item-created-outline: hsl(0, 0%, 13%);
    --sub-menu-option-hover-bg: hsl(0, 0%, 20%);

    // homepage
    --particle-bg: hsla(0, 0%, 100%, 0.7);
    --banner-clr: hsl(0, 0%, 80%);
    --banner-bg: hsla(0, 0%, 50%, 0.1);

    // profilepage
    --p-username-clr: hsl(0, 0%, 50%);
    --social-link-form-bg: hsl(0, 0%, 9%);
    --profile-edit-form-bg: hsl(0, 0%, 9%);
    --input-textarea-bg: hsla(0, 0%, 100%, 0.075);

    // settingspage
    --setting-border: 1px solid hsla(0, 0%, 50%, 0.2);

    // ui component
    --form-bg-clr: hsl(0, 0%, 9%);
    --form-bg-layer-bg: hsla(0, 0%, 0%, 0.3);
    --delete-message-modal-suggested-span: hsl(0, 0%, 64%);
    --toast-message-clr: hsl(0, 0%, 100%);
    --toast-message-bg: hsl(0, 0%, 40%);
  }
}

[data-theme='light'] {
  color-scheme: light;
  --white: hsl(0, 0%, 0%);
  --overlay-dark: hsla(0, 0%, 100%, 0.3);
  --white-transparent: hsla(0, 0%, 0%, 0.075);
  --outline-hover: hsla(0, 0%, 35%, 0.7);

  // base
  --body-bg: hsl(0, 0%, 95%);
  --body-clr: hsl(0, 0%, 10%);

  --global-button-clr: hsl(0, 0%, 10%);
  --global-button-bg: hsl(0, 0%, 85%);
  --global-button-hover-bg: hsl(0, 0%, 82%);
  --global-button-padding: 0.125rem 0.625rem;
  --global-button-border-radius: 0.325rem;

  --slick-border-clr: hsl(0, 0%, 79%);

  // layout
  --global-scrollbar-track-bg: hsl(0, 0%, 93%);
  --global-scrollbar-thumb-bg: hsl(0, 0%, 65%);
  --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%);

  // allpage
  --each-page-body-bg: hsl(0, 0%, 93%);
  --each-page-body-border: hsl(0, 0%, 87%);

  // sidebar
  --sidebar-bg: hsl(0, 0%, 93%);
  --sidebar-border-clr: hsl(0, 0%, 87%);
  --sidebar-clr: hsl(0, 0%, 17%);
  --sidebar-toggle-btn-hover-border: hsl(0, 0%, 79%);
  --sidebar-toggle-icon-fill: hsl(0, 0%, 88%);
  --profile-image-svg-fill: hsl(0, 0%, 5%);
  --profile-img-outline-hover: hsla(0, 0%, 35%, 0.7);
  --primary-link-hover-clr: hsl(0, 0%, 0%);
  --primary-menu-link-hover-bg: hsl(0, 0%, 87%);

  --sub-menu-bg: hsl(0, 0%, 87%);
  --sub-menu-button-hover-bg: hsl(0, 0%, 87%);
  --create-new-project-btn-bg: hsl(0, 0%, 85%);
  --create-new-project-btn-hover-bg: hsl(0, 0%, 83%);
  --project-list-item-hover-bg: hsl(0, 0%, 83%);
  --project-list-item-created-outline: hsl(0, 0%, 87%);
  --sub-menu-option-hover-bg: hsl(0, 0%, 80%);

  // homepage
  --particle-bg: hsla(0, 0%, 7%, 0.7);
  --banner-clr: hsl(0, 0%, 20%);
  --banner-bg: hsla(0, 0%, 50%, 0.1);

  // profilepage
  --p-username-clr: hsl(0, 0%, 50%);
  --social-link-form-bg: hsl(0, 0%, 91%);
  --profile-edit-form-bg: hsl(0, 0%, 91%);
  --input-textarea-bg: hsla(0, 0%, 0%, 0.075);

  // settingspage
  --setting-border: 1px solid hsla(0, 0%, 50%, 0.2);

  // ui component
  --form-bg-clr: hsl(0, 0%, 91%);
  --form-bg-layer-bg: hsla(0, 0%, 100%, 0.3);
  --delete-message-modal-suggested-span: hsl(0, 0%, 36%);

  --toast-message-clr: hsl(0, 0%, 20%);
  --toast-message-bg: hsl(0, 0%, 80%);
}

[data-theme='dark'] {
  color-scheme: dark;
  --white: hsl(0, 0%, 100%);
  --overlay-dark: hsla(0, 0%, 0%, 0.3);
  --white-transparent: hsla(0, 0%, 100%, 0.075);
  --outline-hover: hsla(0, 0%, 65%, 0.7);

  // base
  --body-bg: hsl(0, 0%, 5%);
  --body-clr: hsl(0, 0%, 90%);

  --global-button-clr: hsl(0, 0%, 90%);
  --global-button-bg: hsl(0, 0%, 15%);
  --global-button-hover-bg: hsl(0, 0%, 18%);
  --global-button-padding: 0.125rem 0.625rem;
  --global-button-border-radius: 0.325rem;

  --slick-border-clr: hsl(0, 0%, 21%);

  // layout
  --global-scrollbar-track-bg: hsl(0, 0%, 7%);
  --global-scrollbar-thumb-bg: hsl(0, 0%, 35%);
  --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%);

  // allpage
  --each-page-body-bg: hsl(0, 0%, 7%);
  --each-page-body-border: hsl(0, 0%, 13%);

  // sidebar
  --sidebar-bg: hsl(0, 0%, 7%);
  --sidebar-border-clr: hsl(0, 0%, 13%);
  --sidebar-clr: hsl(0, 0%, 83%);
  --sidebar-toggle-btn-hover-border: hsl(0, 0%, 21%);
  --sidebar-toggle-icon-fill: hsl(0, 0%, 12%);
  --profile-image-svg-fill: hsl(0, 0%, 95%);
  --profile-img-outline-hover: hsla(0, 0%, 65%, 0.7);
  --primary-link-hover-clr: hsl(0, 0%, 100%);
  --primary-menu-link-hover-bg: hsl(0, 0%, 13%);

  --sub-menu-bg: hsl(0, 0%, 13%);
  --sub-menu-button-hover-bg: hsl(0, 0%, 13%);
  --create-new-project-btn-bg: hsl(0, 0%, 15%);
  --create-new-project-btn-hover-bg: hsl(0, 0%, 17%);
  --project-list-item-hover-bg: hsl(0, 0%, 17%);
  --project-list-item-created-outline: hsl(0, 0%, 13%);
  --sub-menu-option-hover-bg: hsl(0, 0%, 20%);

  // homepage
  --particle-bg: hsla(0, 0%, 100%, 0.7);
  --banner-clr: hsl(0, 0%, 80%);
  --banner-bg: hsla(0, 0%, 50%, 0.1);

  // profilepage
  --p-username-clr: hsl(0, 0%, 50%);
  --social-link-form-bg: hsl(0, 0%, 9%);
  --profile-edit-form-bg: hsl(0, 0%, 9%);
  --input-textarea-bg: hsla(0, 0%, 100%, 0.075);

  // settingspage
  --setting-border: 1px solid hsla(0, 0%, 50%, 0.2);

  // ui component
  --form-bg-clr: hsl(0, 0%, 9%);
  --form-bg-layer-bg: hsla(0, 0%, 0%, 0.3);
  --delete-message-modal-suggested-span: hsl(0, 0%, 64%);
  --toast-message-clr: hsl(0, 0%, 100%);
  --toast-message-bg: hsl(0, 0%, 40%);
}
