//! first welcome note
.first-load-welcome-note {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;

  background-color: var(--body-bg);
  display: grid;
  place-items: center;
  padding-inline: 1.425rem;
  overflow: hidden;
  box-shadow: 10px 0 15px hsl(0, 0%, 10%, 0.1);
}

.first-load-welcome-note > .note-content {
  width: 100%;
  max-width: 600px;
  text-align: center;

  > * {
    margin: 0;
  }

  h2 {
    font-size: clamp(1.725rem, 1.2346rem + 1.9615vw, 3rem);
    font-weight: 500;
  }

  p {
    font-size: clamp(0.825rem, 0.7096rem + 0.4615vw, 1.125rem);
  }

  button {
    font-size: 1.225rem;
    padding-inline: 2rem;
    padding-block: 0.425rem;
    background-color: var(--body-clr);
    color: var(--body-bg);
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 0.425rem;
    font-weight: 500;

    transition: scale 100ms;

    display: block;
    margin-inline: auto;
    margin-block-start: 2rem;
  }
}

//! Sidebar bg layer
.sidebar-bg-layer {
  position: fixed;
  z-index: 8;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--form-bg-layer-bg);

  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: 450ms;
  transition-behavior: allow-discrete;

  @media (pointer: fine) {
    backdrop-filter: blur(3px);
  }
}

.sidebar-bg-layer.show {
  display: block;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

//! disable-interactivity-layer
.disable-interactivity-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  background-color: transparent;
  display: none;
}

//! Profile Image Modal component stylings
.profile-img-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: var(--form-bg-layer-bg);
  place-items: center;
  padding: 1.5rem;
  overflow: hidden;

  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: var(--main-transition-duration);
  transition-behavior: allow-discrete;

  @media (width > 700px) {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

.img-modal-container {
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: fit-content;
  background-color: var(--form-bg-clr);
  border-radius: 1rem;
  border: 1px solid var(--slick-border-clr);
  padding: 1rem;
  overflow-y: auto;

  scale: 0.3;
  translate: 0 150%;
  transition: translate var(--content-transition-duration-translate), scale var(--content-transition-duration-scale);
}

.img-container {
  border-radius: 0.8rem;
  width: 100%;
  max-height: 650px;
  background-color: var(--sidebar-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.img-buttons {
  display: flex;
  align-items: center;
  gap: 0.525rem;
  justify-content: flex-end;
  padding-block-start: 1rem;

  div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.525rem;
  }

  span {
    flex-grow: 1;
    font-size: 0.8125rem;
    opacity: 0.7;
    font-weight: 200;
    letter-spacing: 0.3px;
    pointer-events: none;
    user-select: none;
  }

  input {
    display: none;
  }
  @media (pointer: coarse) {
    display: grid;
    gap: 1.425rem;
  }
}
.img-buttons button {
  font-size: 0.9rem;
  padding-block: 0.225rem;
  padding-inline: 0.625rem;
  background-color: var(--global-button-bg);
  border: 1px solid var(--slick-border-clr);
  border-radius: 0.5rem;
}
.img-buttons button:hover {
  background-color: var(--global-button-hover-bg);
}

//! Create new project form component stylings
.form-background-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: var(--form-bg-layer-bg);
  place-items: center;
  padding: 1rem;

  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: var(--main-transition-duration);
  transition-behavior: allow-discrete;
  @media (width > 700px) {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

.form-background-layer form {
  background-color: var(--form-bg-clr);
  box-sizing: content-box;
  padding: 1.425rem;
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--slick-border-clr);
  border-radius: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  translate: 0 250%;
  scale: 0.5;
  transition: scale var(--content-transition-duration-scale), translate var(--content-transition-duration-translate);

  @media (width < 700px) {
    width: 80%;
  }
}
form > div:not(.form-buttons) {
  display: grid;
  margin-block-end: 1rem;
}
form label {
  margin-block-end: 0.325rem;
  color: var(--sidebar-clr);
}
form input,
form textarea {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.225rem 0.625rem;
  background-color: var(--input-textarea-bg);
  color: var(--body-clr);
  border-radius: 0.5rem;
  border: 1px solid var(--slick-border-clr);
}
form textarea {
  resize: none;
  max-height: 200px;
  height: 150px;
}
form textarea::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.form-buttons button {
  cursor: pointer;
}
.form-buttons button:not(.cancel-btn) {
  background-color: var(--global-button-bg);
  padding: var(--global-button-padding);
  border-radius: var(--global-button-border-radius);
  font-size: 0.925rem;
  border: 1px solid var(--slick-border-clr);
}
.form-buttons button:not(.cancel-btn):hover {
  background-color: var(--global-button-hover-bg);
}
.form-buttons .cancel-btn {
  font-size: 0.9rem;
  padding-block: 0rem;
  padding-inline: 0.8rem;
  text-underline-offset: 2px;
  text-decoration: underline;
  transition: text-underline-offset 200ms;
}
.form-buttons .cancel-btn:hover {
  text-underline-offset: 6px;
}

//! Delete confirmation modal component stylings
.delete-confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  place-items: center;
  background-color: var(--form-bg-layer-bg);

  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: var(--main-transition-duration);
  transition-behavior: allow-discrete;

  @media (width > 700px) {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

.delete-confirmation-modal > div {
  box-sizing: content-box;
  background-color: var(--sidebar-border-clr);
  border-radius: 1rem;
  border: 1px solid var(--slick-border-clr);
  width: 100%;
  max-width: 400px;

  scale: 0.5;
  translate: 0 250%;
  transition: scale var(--content-transition-duration-scale), translate var(--content-transition-duration-translate);
}
.delete-confirmation-modal > div > div:first-of-type {
  border-block-start: 1px solid var(--slick-border-clr);
  padding-inline: 1.5rem;
}
.delete-confirmation-modal h2 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
  padding-inline: 1.5rem;
  padding-block: 1rem;
}
.delete-confirmation-modal .delete-messages > span {
  font-size: 0.9rem;
  color: var(--delete-message-modal-suggested-span);
}
.delete-confirmation-modal p {
  margin-block-end: 0.5rem;
  color: var(--body-clr);
  word-break: break-all;
}
.delete-confirmation-modal p span {
  font-weight: 500;
}
.delete-confirmation-modal a {
  text-decoration: underline;
  text-underline-offset: 1px;
  transition: text-underline-offset 200ms;
}
.delete-confirmation-modal a:hover {
  text-underline-offset: 5px;
}

.delete-confirmation-buttons {
  padding-block: 1.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.delete-confirmation-buttons button {
  padding-block: 0.325rem 0.425rem;
  padding-inline: 1.225rem;
  border: 1px solid var(--slick-border-clr);
  border-radius: 1000px;
  font-size: 0.925rem;
  font-weight: 500;
}
.delete-confirmation-buttons .dlt-confirm-btn {
  color: #fff;
  border: 1px solid hsl(0, 73%, 47%);
  background-color: hsl(0, 73%, 47%);
}
.delete-confirmation-buttons .dlt-confirm-btn:hover {
  background-color: hsl(0, 73%, 55%);
  border: 1px solid hsl(0, 73%, 50%);
}
.delete-confirmation-buttons .dlt-cancel-btn:hover {
  background-color: var(--global-button-hover-bg);
}

//! Toast/Action Popup component stylings
.toast-container {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 9999;
  width: 100%;
  pointer-events: none;
}
.toast-container div {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  height: 0px;
  margin-block-end: 2px;

  transition: 200ms;

  span {
    height: 40px;
    color: var(--toast-message-clr);
    background-color: var(--toast-message-bg);
    font-size: 0.925rem;
    font-weight: 500;
    display: grid;
    place-items: center;
    padding-inline: 0.725rem;
    border-radius: 0.425rem;
    box-shadow: 0 4px 5px hsla(0, 0%, 25%, 0.1);

    scale: 0.6;
    opacity: 0;
    translate: 0 -100%;
    transition: 250ms;
  }
}
.toast-container div.active {
  height: 50px;

  span {
    scale: 1;
    opacity: 1;
    translate: 0 0;
  }
}

//! edit-project-form-modal
.edit-project-form-modal {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  display: grid;
  place-items: center;
  background-color: var(--form-bg-layer-bg);

  display: none;
  opacity: 0;
  transition-property: display, opacity;
  transition-behavior: allow-discrete;
  transition-duration: var(--main-transition-duration);

  @media (width > 700px) {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

.edit-project-form-modal form {
  box-sizing: content-box;
  background-color: var(--form-bg-clr);
  padding: 1.525rem;
  width: 100%;
  max-width: 400px;
  border-radius: 0.5rem;
  border: 1px solid var(--slick-border-clr);

  translate: 0 250%;
  scale: 0.5;
  transition: translate var(--content-transition-duration-translate), scale var(--content-transition-duration-scale);

  div:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.425rem;
    margin-block: 1.525rem 0;
  }

  button {
    padding: var(--global-button-padding);
    background-color: var(--global-button-bg);
    border: 1px solid var(--slick-border-clr);
    border-radius: var(--global-button-border-radius);
    font-size: 0.925rem;
    transition: 100ms;

    &:hover {
      background-color: var(--global-button-hover-bg);
    }
  }
  .project-edit-form-delete-btn:hover {
    color: #fff;
    background-color: hsl(0, 73%, 47%);
    border-color: hsl(0, 73%, 60%);
  }

  @media (width < 700px) {
    width: 80%;
  }
}

//! All project delete form
.delete-all-project-modal {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: var(--form-bg-layer-bg);

  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: var(--main-transition-duration);
  transition-behavior: allow-discrete;

  @media (width > 700px) {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

.delete-all-project-modal form {
  background-color: var(--form-bg-clr);
  box-sizing: content-box;
  padding: 1.525rem;
  width: 100%;
  max-width: 450px;
  border-radius: 0.5rem;
  border: 1px solid var(--slick-border-clr);

  scale: 0.5;
  translate: 0 250%;
  transition: translate var(--content-transition-duration-translate), scale var(--content-transition-duration-scale);

  span:first-child {
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
    padding-block-end: 0.5rem;
    border-block-end: 1px solid var(--slick-border-clr);
  }

  .warning-message {
    background-color: hsl(0, 100%, 60%, 0.13);
    color: hsl(0, 100%, 45%);
    font-size: 0.925rem;
    padding-block: 0.5rem;
    padding-inline-start: 1rem;
    border-radius: 0.425rem;
    display: block;
    margin-block: 1rem;
    font-weight: 300;
    letter-spacing: 0.2px;

    strong {
      font-weight: 500;
    }
  }

  .delete-project-input-container {
    margin: 0;
  }

  .error-message {
    margin-block: 0.425rem;
    height: 22px;
    font-size: 0.855rem;
    color: hsl(0, 100%, 45%);
    display: flex;
    align-items: center;
    gap: 0.325rem;
  }

  button {
    background-color: var(--global-button-bg);
    padding: var(--global-button-padding);
    border-radius: var(--global-button-border-radius);
    border: 1px solid var(--slick-border-clr);
    transition: 100ms;

    &:hover {
      background-color: var(--global-button-hover-bg);
    }
  }

  .confirm-all-project-delete-btn:hover {
    background-color: #cf2020;
    border-color: #e34f4f;
    color: #fff;
  }

  .delete-all-project-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.525rem;
    margin: 0;
  }

  @media (width < 700px) {
    width: 80%;
    padding: 1.225rem;
  }
}
