.blinking-rect {
  animation: blinking 2s infinite;
}

@keyframes blinking {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

//! Sidebar toggle
.sidebar.show {
  min-width: 250px;
}

//! Profile Image toggle
.profile-image.enlarge {
  height: 150px;
  svg {
    width: 80px;
    height: 80px;
  }
}

//! Sub menu toggle
.project-menu.show {
  background-color: var(--primary-menu-link-hover-bg);

  .primary-menu-link,
  .sub-menu-btn {
    &:hover {
      background-color: var(--sub-menu-option-hover-bg);
    }
  }

  > div:first-of-type {
    border-radius: 0.5rem 0.5rem 0 0;
    border-block-end: 1px solid var(--slick-border-clr);
  }

  // .sub-menu-btn {
  //   border-inline-start: 1px solid var(--slick-border-clr);
  // }

  .sub-menu-btn svg {
    rotate: -180deg;
    animation: blinking 1.5s infinite;
  }

  .grid-smooth-height {
    scale: 1;
    grid-template-rows: 1fr;
  }

  .sub-menu {
    padding-block: 0.5rem;
    filter: unset;
  }
}

//! create new project utilities
.form-background-layer.appear {
  opacity: 1;
  display: grid;

  form {
    translate: 0 0px;
  }
}

@starting-style {
  .form-background-layer.appear {
    opacity: 0;

    form {
      translate: 0 20px;
    }
  }
}

@keyframes created {
  0% {
    translate: 0 -20px;
    opacity: 0;
    outline: 2px solid hsl(0, 0%, 80%);
    scale: 0.6;
  }
  50% {
    // outline: 2px solid hsl(0, 0%, 45%);
    translate: 0 0;
    scale: 0.99;
  }
  80% {
    outline: 2px solid hsl(0, 0%, 70%);
  }
  100% {
    opacity: 1;
    outline: 1px solid hsl(0, 0%, 13%);
    scale: 1;
  }
}

.project-list-item.created {
  animation-name: created;
  animation-timing-function: ease;
  animation-delay: 400ms;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
