@import "./theme.css";

@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins-v21-latin-600.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins-v21-latin-500.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins-v21-latin-300.woff2') format('woff2');
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins-v21-latin-200.woff2') format('woff2');
  font-weight: 200;
}
@font-face {
  font-family: 'Poppins';
  src: url('../assets/fonts/poppins-v21-latin-400.woff2') format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'firaCode';
  src: url('../assets/fonts/editor-fonts/firaCode.woff2') format('woff2');
  /* font-weight: 400; */
}
@font-face {
  font-family: 'cascadiaCode';
  src: url('../assets/fonts/editor-fonts/cascadiaCode.woff2') format('woff2');
  /* font-weight: 400; */
}
@font-face {
  font-family: 'jetBrainsMono';
  src: url('../assets/fonts/editor-fonts/jetBrainsMono.woff2') format('woff2');
  /* font-weight: 400; */
}

:root {
  /* --body-bg: hsl(0, 0%, 95%);
  --body-clr: hsl(0, 0%, 10%);
  --overlay: hsl(0, 0%, 100%, 0.3);

  --g-btn-clr: hsl(0, 0%, 10%);
  --g-btn-bg: hsl(0, 0%, 86%);
  --g-btn-hover-bg: hsl(0, 0%, 82%);
  --g-btn-hover-clr: hsl(0, 0%, 0%);
  --g-btn-padding: 0.125rem 0.625rem;
  --g-btn-border-radius: 0.325rem;

  --option-btn-bg: hsl(0, 0%, 80%);
  --option-btn-hover-bg: hsl(0, 0%, 75%);

  --input-bg: hsla(0, 0%, 70%, 0.3);
  --input-outline: 1px solid hsl(0, 0%, 50%, 0.6);

  --tab-change-btn-before-bg: hsl(0, 0%, 37%);
  --tab-change-btn-selected-bg: hsl(0, 0%, 75%);
  --tab-change-btn-border: 1px solid var(--tab-change-btn-before-bg);

  --slick-border: 1px solid hsl(0, 0%, 79%);

  --sidebar-toggle-icon-bg: hsl(0, 0%, 88%);
  --sidebar-toggle-btn-hover-border: 1px solid hsl(0, 0%, 79%);
  --submenu-bg: hsl(0, 0%, 88%);

  --project-list-item-hover-bg: hsl(0, 0%, 87%);

  --container-bg: hsl(0, 0%, 93%);
  --light-container-border: 1px solid hsl(0, 0%, 87%);

  --global-scrollbar-track-bg: hsl(0, 0%, 93%);
  --global-scrollbar-thumb-bg: hsl(0, 0%, 65%);
  --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%); */

  /* ! Code editor colors */
  /* --topbar-bg: hsl(0, 0%, 85%);
  --topbar-clr: hsl(0, 0%, 25%);

  --file-type-icon-bg: hsl(0, 0%, 23%);
  --file-type-icon-clr: hsl(0, 0%, 90%); */
}



/* ----- base ----- */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  background-color: var(--body-bg);
  margin: 0;
}

button {
  font-family: 'Poppins';
  border: none;
  color: var(--g-btn-clr);
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  user-select: none;

  &:active {
    opacity: 0.8;
  }

  &:hover {
    color: var(--g-btn-hover-clr);
  }

  @media (pointer: fine) {
    cursor: pointer;
  }
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: var(--global-scrollbar-track-bg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--global-scrollbar-thumb-bg);
  border: 3px solid var(--global-scrollbar-track-bg);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--global-scrollbar-thumb-hover-bg);
}

label {
  user-select: none;
}

/*! Sidebar styling */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  max-width: 250px;
  background-color: var(--container-bg);
  height: 100%;
  border-inline-end: var(--light-container-border);
  padding: 0.5rem;
  overflow-y: auto;

  display: none;
  translate: -100% 0;
  transition: translate 600ms, max-width 200ms;
  z-index: 2;

  @media (width>700px) {
    max-width: 300px;
  }
}

.sidebar.show {
  translate: 0 0;
}

h1 {
  padding-inline: 0.5rem;
  margin-block-end: 0.5rem;
  margin-block-start: 3.5rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.project-list-container {
  max-height: 70vh;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  overflow-y: auto;
  background-color: var(--submenu-bg);
  border-radius: 0.5rem;
  border: 1px solid transparent;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.925rem;
    padding: 0.325rem 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.425rem;
    margin-block-end: 0.325rem;
    position: relative;
    overflow: hidden;

    &:hover {
      border: var(--slick-border);
      background-color: var(--project-list-item-hover-bg);
      background-color: hsla(0, 0%, 50%, 0.116);
    }
  }
  a {
    word-break: break-all;
    text-decoration: none;
    color: inherit;

    span {
      position: absolute;
      inset: 0;
    }
  }

  svg {
    min-width: 16px;
  }

  &:hover {
    border: var(--slick-border);
  }
}

.project-list-container > div.current {
  border: var(--slick-border);
  background-color: var(--project-list-item-hover-bg);
  background-color: hsla(0, 0%, 50%, 0.116);
}

.project-list-container::-webkit-scrollbar {
  width: 10px;

  @media (width < 700px) {
    width: 0;
  }
}

.project-list-container::-webkit-scrollbar-track {
  background-color: var(--submenu-bg);
}

.project-list-container:hover::-webkit-scrollbar {
  display: unset;
}

/* ! -------------------------- */
.main-diversion {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  --header-height: 50px;
  --console-height: 35px;
}

/*! ----- Header styling ----- */
header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.325rem;
  background-color: var(--container-bg);
  border-block-end: var(--light-container-border);
  padding-inline: 0.725rem;
}

header > div {
  display: flex;
  align-items: center;
}

.sidebar-toggle-btn {
  display: grid;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.465rem;
  position: relative;
  left: 0px;
  z-index: 3;
  transition: scale 50ms, left 600ms;

  svg {
    width: 35px;
    height: 35px;
  }

  &:active {
    scale: 0.95;
  }

  &:hover {
    border: var(--sidebar-toggle-btn-hover-border);
  }
}

.sidebar-toggle-btn.move {
  left: 190px;

  @media (width > 700px) {
    left: 240px;
  }
}

.title-container {
  display: flex;
  align-items: center;
}

.project-title {
  font-size: clamp(0.825rem, 0.6443rem + 0.6424vw, 1.2225rem);
  font-weight: 500;
  padding-inline: 0.625rem;
  outline: none;
  cursor: default;
  max-height: 45px;
  overflow-y: scroll;
}

.project-title::-webkit-scrollbar {
  width: 8px;
}

.title-container button {
  display: grid;
  place-items: center;
}

nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  button {
    font-weight: 500;
    background-color: var(--g-btn-bg);
    padding: var(--g-btn-padding);
    border-radius: var(--g-btn-border-radius);
    border: var(--slick-border);
    font-size: 0.925rem;
  }
  button:hover {
    background-color: var(--g-btn-hover-bg);
  }
}

/*! editor styling */
main {
  background-color: var(--container-bg);
  display: flex;

  --editor-count: 3;
  --gap-between-editor: 1px;
  --height-margin: calc(var(--header-height) + var(--console-height) + (var(--gap-between-editor) * var(--editor-count)));
  --resizeBar-width: 20px;
  --topbar-height: 30px;
  --code-input-max-width: calc(100vw - var(--resizeBar-width));
  --code-input-min-height: calc(100vh - 85px);
  --each-editor-height: calc((100vh / var(--editor-count)) - (var(--height-margin) / var(--editor-count)));
}

.code-inputs {
  display: flex;
  flex-direction: column;
  width: 450px;
  max-width: var(--code-input-max-width);
  min-height: var(--code-input-min-height);
  overflow-x: auto;
  gap: var(--gap-between-editor);
  position: relative;
  isolation: isolate;

  @media (pointer: coarse) {
    min-width: var(--resizeBar-width);
    max-width: calc(100vw - var(--resizeBar-width) * 2);
  }
}

.expand-reset-btn {
  position: absolute;
  top: 0rem;
  right: 150px;
  z-index: 2;

  font-size: 0.925rem;
  font-weight: 500;
  background-color: var(--option-btn-bg);
  color: var(--g-btn-clr);
  padding: var(--g-btn-padding);
  border: 1px solid hsl(0, 0%, 75%);
  border-radius: var(--g-btn-border-radius);
  box-shadow: 0 2px 4px hsla(0, 0%, 50%, 0.35);
  display: none;

  &:active {
    opacity: 1;
    scale: 0.98;
  }

  &:hover {
    background-color: var(--g-btn-hover-bg);
    color: var(--g-btn-hover-clr);
  }
}

.each-editor {
  flex-grow: 1;
  display: grid;
  grid-template-rows: auto 1fr;
  transition: flex 500ms;
  max-height: var(--each-editor-height);
  min-height: var(--each-editor-height);
  overflow-y: auto;
  overflow-x: auto;
  transition: max-height 400ms, min-height 400ms;
}

.each-editor.shrink {
  max-height: var(--topbar-height);
  min-height: var(--topbar-height);
  overflow: hidden;
}

.each-editor.expand {
  min-height: calc(100% - 65px);
}

.top-bar {
  min-height: var(--topbar-height);
  background-color: var(--topbar-bg);
  color: var(--topbar-clr);
  padding-inline: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  user-select: none;

  .file-type-svg-container {
    display: flex;
    align-items: center;
    gap: 0.425rem;

    svg {
      min-width: 17px;
      min-height: 17px;
    }
  }

  .extra-options {
    display: flex;
    gap: 0.225rem;

    button {
      background-color: var(--option-btn-bg);
      color: var(--g-btn-clr);
      font-size: 0.7525rem;
      padding: 0 0.5rem;
      border: var(--slick-border);
      border-radius: 0.2rem;
    }
    button:hover {
      background-color: var(--option-btn-hover-bg);
      color: var(--g-btn-hover-clr);
    }
  }
}

/* ! CodeMirror styling */
.CodeMirror {
  font-size: var(--user-font-size);
  font-family: var(--user-font);
  background-color: var(--container-bg);
  background-color: #1f1f1f;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.CodeMirror-activeline-background {
  background-color: transparent;
  border-block: var(--slick-border);
  opacity: 0.2;
}

.CodeMirror-sizer {
  height: 100%;
  cursor: text;
}

/* @media(pointer: fine) {
  .CodeMirror {
    }
    } */

/*! Code mirror styles */
.CodeMirror.CodeMirror-focused .CodeMirror-selected {
  background-color: hsla(216, 100%, 60%, 0.25);
}

.CodeMirror .CodeMirror-selected {
  background-color: hsla(0, 0%, 50%, 0.25);
}

.CodeMirror-cursor {
  border-color: #cccccc;
  border-width: 2px;
  animation: custom-cursor-blink 1.3s 500ms infinite;
}

@keyframes custom-cursor-blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*! html */
.cm-m-xml {
  color: #cccccc;
}

.cm-m-xml.cm-tag {
  color: #569cd6;
}
.cm-m-xml.cm-tag.cm-bracket {
  color: #808080;
}

.cm-m-xml.cm-attribute {
  color: #9cdcfe;
}

.cm-m-xml.cm-string {
  color: #ce9178;
}

.cm-m-xml.cm-comment {
  color: #6a9955;
}

/*! css */
.cm-m-css {
  color: #cccccc;
}

.cm-m-css.cm-qualifier {
  color: #d7ba7d;
}

.CodeMirror-matchingbracket {
  color: #cccccc !important;
  outline: 1px solid #c5c5c5;
}
.cm-m-css.cm-property {
  color: #9cdcfe;
}
.cm-m-css.cm-number {
  color: #b5cea8;
}
.cm-m-css.cm-keyword {
  color: #ce9178;
}
.cm-m-css.cm-variable-3 {
  color: #ce9178;
}
.cm-m-css.cm-variable.cm-callee {
  color: #dcdcaa;
}
.cm-m-css.cm-comment {
  color: #6a9955;
}
.cm-m-css.cm-atom {
  color: #ce9178;
}
.cm-m-css.cm-builtin {
  color: #d7ba7d;
}
.cm-m-css.cm-tag {
  color: #d7ba7d;
}

/*! javascript */
.cm-m-javascript {
  color: #cccccc;
}

.cm-m-javascript.cm-keyword {
  color: #569cd6;
}
.cm-m-javascript.cm-def {
  color: #4fc1ff;
}
.cm-m-javascript.cm-variable {
  color: #9cdcfe;
}
.cm-m-javascript.cm-variable-2 {
  color: #9cdcfe;
}
.cm-m-javascript.cm-property {
  color: #dcdcaa;
}
.cm-m-javascript.cm-string {
  color: #ce9178;
}

.cm-m-javascript.cm-comment {
  color: #6a9955 !important;
}

.cm-m-javascript.cm-number {
  color: #b5cea8;
}

/* ! preview styling */
.horizontal-resizer {
  background-color: var(--topbar-bg);
  min-width: var(--resizeBar-width);
  border-inline: var(--slick-border);
  height: 100%;
  cursor: col-resize;
}

.code-preview {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  background-color: #fff;
}

.code-preview iframe {
  display: block;
  width: 100%;
  min-width: 0;
  height: 100%;
}

/* ! Console styling */
.console {
  border-block-start: var(--light-container-border);
  background-color: var(--container-bg);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 1rem;
  height: var(--console-height);

  button {
    padding-inline: 0.325rem;
    font-size: 0.925rem;
    line-height: 0.9lh;
    background-color: var(--g-btn-bg);
    color: var(--g-btn-clr);
    border-radius: var(--g-btn-border-radius);
    border: var(--slick-border);
    font-weight: 500;

    &:hover {
      background-color: var(--g-btn-hover-bg);
      color: var(--g-btn-hover-clr);
    }
  }
}

/*! Modal styling */
.beneath-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  z-index: 2;
  display: none;

  @media (width > 700px) {
    backdrop-filter: blur(3px);
  }
}

.customization-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;

  padding: 1rem;
  background-color: var(--overlay);
  display: grid;
  display: none;
  place-items: center;
  opacity: 1;
  opacity: 0;

  transition: opacity 200ms;

  @media (pointer: fine) {
    backdrop-filter: blur(3px);
  }
}

.customization-container {
  --padding: 1rem;

  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 400px;
  background-color: var(--container-bg);
  border: var(--slick-border);
  padding: var(--padding);
  border-radius: 0.5rem;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;

  scale: 0.5;
  opacity: 0;
  translate: 0 250%;
  transition: all 500ms;

  h2 {
    margin: 0;
    font-size: 1.225rem;
    font-weight: 500;
    line-height: 0.9lh;
  }
}

.close-modal-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  display: grid;
  place-items: center;
  border-radius: 50%;
  opacity: 0.85;

  &:hover {
    opacity: 1;
  }
}

.close-modal-btn:active {
  scale: 0.95;
}

.tab-area {
  display: flex;
  gap: 0.5rem;
  --break: 700px;

  @media (width < 600px) {
    display: grid;
    grid-auto-rows: max-content;
  }
}

.customizaion-tab-btn-container {
  align-self: flex-start;
  max-height: fit-content;
  display: grid;
  min-width: 100px;
  gap: 0.225rem;

  @media (width < 600px) {
    display: flex;

    > * {
      flex: 1;
    }
  }
}

.tab-switch-btn {
  display: grid;
  font-size: 0.925rem;
  font-weight: 500;
  padding-block: 0.125rem;
  background-color: var(--g-btn-bg);
  border: var(--slick-border);
  border-radius: 0.225rem;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: var(--g-btn-hover-bg);
  }

  @media (width < 600px) {
    padding-block: 0.225rem;
  }
}
.tab-switch-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  background-color: var(--tab-change-btn-before-bg);
  width: 3px;
  height: 0;
  transition: height 300ms, width 300ms;

  @media (width < 600px) {
    top: unset;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 0;
    translate: -50% 0;
  }
}
.tab-switch-btn:hover::before {
  height: 100%;

  @media (width < 600px) {
    height: 3px;
    width: 100%;
  }
}
.tab-switch-btn.selected {
  background-color: var(--g-btn-hover-bg);
}
.tab-switch-btn.selected::before {
  height: 100%;

  @media (width < 600px) {
    height: 3px;
    width: 100%;
  }
}

.customization-tab {
  flex-grow: 1;
  border-radius: 0.325rem;
  border: var(--light-container-border);
  max-height: 330px;
  overflow-y: auto;
}

.each-tab {
  display: none;
}

.each-tab.show {
  display: unset;
}

.html-tab {
  padding: 1rem;
  display: grid;
  grid-auto-rows: max-content;
  gap: 0.5rem;
}

.label-container {
  position: relative;
  max-width: fit-content;
}

.label-container > label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: fit-content;
}

.info-icon {
  display: grid;
  cursor: pointer;
}

.info-container {
  position: absolute;
  top: 35px;
  left: 100%;
  z-index: 5;
  translate: calc(-50% - 8px) -10px;

  width: 100%;
  max-width: 200px;
  font-size: 0.825rem;
  outline: 3px solid hsl(0, 0%, 85%);
  box-shadow: 0 3px 10px hsl(0, 0%, 50%, 0.5);
  border-radius: 0.3rem;
  background-color: var(--body-bg);

  display: none;
  opacity: 0;
  transition: opacity 100ms, translate 300ms;
}

.info-container > div {
  border-radius: inherit;
  padding: 0.5rem;
  background-color: var(--body-bg);
  letter-spacing: 0.3px;
  position: relative;
}

.info-container::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--body-bg);
  outline: 3px solid hsl(0, 0%, 85%);

  position: absolute;
  top: 0;
  left: 50%;
  rotate: 45deg;
  translate: -50% -50%;
}

.info-container > span {
  padding-inline: 0.2rem;
  position: relative;
}

code {
  font-family: var(--user-font);
  background-color: hsl(0, 0%, 50%, 0.2);
  padding-inline: 0.25rem;
  border-radius: 0.2rem;
}

.html-tab > textarea {
  font-family: var(--user-font);
  border: var(--slick-border);
  min-height: 100px;
  max-height: 260px;
  background-color: var(--input-bg);
  color: inherit;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 0.9525rem;
  resize: vertical;
  outline: none;
  outline-offset: 2px;
}

.html-tab > textarea:focus,
.html-tab > textarea:focus-visible {
  outline: var(--input-outline);
}

.editor-tab {
  padding: 1rem;
  > * {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-block-end: 0.3rem;

    > * {
      flex: 1;
    }
  }
}

.editor-tab {
  select {
    border: var(--slick-border);
    background-color: var(--input-bg);
    font-family: 'Poppins';
    appearance: none;
    color: var(--body-clr);
    height: 33px;
    min-width: 0;
    border: var(--slick-border);
    border-radius: 0.425rem;
    padding-inline: 0.925rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    outline-offset: 2px;
  }
  select:focus {
    outline: var(--input-outline);
  }
}

/*! Util */
.blinking-rect {
  animation: blinking 2s infinite;
}

@keyframes blinking {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

@media (pointer: coarse) {
  * {
    cursor: default;
  }
}

.customization-container.slide-up {
  scale: 1;
  opacity: 1;
  translate: 0 0;
}
.info-container.show {
  translate: calc(-50% - 8px) 0;
  opacity: 1;
}
