@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-700.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-600.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-500.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-300.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-200.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-400.woff2") format("woff2");
  font-weight: 400;
}

body {
  font-family: "Poppins";
}

