/*! Sidebar styling */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;

  width: 100%;
  max-width: 250px;
  background-color: var(--container-bg);
  height: 100%;
  border-inline-end: var(--light-container-border);
  padding: 0.5rem;
  overflow-y: auto;

  display: none;
  translate: -100% 0;
  transition-property: display translate;
  transition-duration: 550ms;
  transition-behavior: allow-discrete;

  @media (width>700px) {
    max-width: 300px;
  }
}

.sidebar.show {
  display: block;
  translate: 0 0;

  @starting-style {
    translate: -100% 0;
  }
}

h1 {
  padding-inline: 0.5rem;
  margin-block-end: 0.5rem;
  margin-block-start: 3.5rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.project-list-container {
  max-height: 70vh;
  padding-block: 0.5rem;
  padding-inline: 0.5rem;
  overflow-y: auto;
  background-color: var(--submenu-bg);
  border-radius: 0.5rem;
  border: 1px solid transparent;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.925rem;
    padding: 0.325rem 0.5rem;
    border: 1px solid transparent;
    border-radius: 0.425rem;
    margin-block-end: 0.325rem;
    position: relative;
    overflow: hidden;

    &:hover {
      border: var(--slick-border);
      background-color: var(--project-list-item-hover-bg);
      background-color: hsla(0, 0%, 50%, 0.116);
    }
  }
  a {
    word-break: break-all;
    text-decoration: none;
    color: inherit;

    span {
      position: absolute;
      inset: 0;
    }
  }

  svg {
    min-width: 16px;
  }

  &:hover {
    border: var(--slick-border);
  }
}

.project-list-container > div.current {
  border: var(--slick-border);
  background-color: var(--project-list-item-hover-bg);
  background-color: hsla(0, 0%, 50%, 0.116);
}

.project-list-container::-webkit-scrollbar {
  width: 10px;

  @media (width < 700px) {
    width: 0;
  }
}

.project-list-container::-webkit-scrollbar-track {
  background-color: var(--submenu-bg);
}

.project-list-container:hover::-webkit-scrollbar {
  display: unset;
}

.sidebar footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5rem;

  button {
    font-size: 0.925rem;
    height: 40px;
    width: 100%;
    display: block;
    color: #fff;
    border-radius: 0.425rem;
    border: 1px solid hsl(0, 73%, 47%);
    background-color: hsl(0, 73%, 47%);
  }

  button:hover {
    background-color: hsl(0, 73%, 55%);
    border: 1px solid hsl(0, 73%, 50%);
  }
}

/* ! -------------------------- */
.main-diversion {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  transition: scale 6s;

  --header-height: 50px;
  --footer-feature-bar-height: 30px;
}

/*! ----- Header styling ----- */
.main-header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.325rem;
  background-color: var(--container-bg);
  border-block-end: var(--light-container-border);
  padding-inline: 0.725rem;
}

.iframe-size-display {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 2;
  display: block;
  translate: 0 50px;
  display: flex;
  align-items: center;
  gap: 0.225rem;
  padding-inline: 0.4rem;
  padding-block: 0.2rem;
  border-radius: 3px;
  transition: opacity 200ms;

  background-color: var(--body-clr);
  color: var(--body-bg);
  border: var(--light-container-border);
  opacity: 0;
  user-select: none;
  pointer-events: none;

  .txt {
    font-size: 0.825rem;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  .close-txt {
    font-size: 0.6rem;
  }
}

header > div {
  display: flex;
  align-items: center;
}

.sidebar-toggle-btn {
  display: grid;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.465rem;
  position: relative;
  left: 0px;
  z-index: 3;

  transition: scale 50ms, left 550ms;

  svg {
    width: 35px;
    height: 35px;
  }

  &:active {
    scale: 0.95;
  }

  &:hover {
    border: var(--sidebar-toggle-btn-hover-border);
  }
}

.sidebar-toggle-btn.show {
  left: 190px;

  @media (width > 700px) {
    left: 240px;
  }
}

.title-container {
  display: flex;
  align-items: center;
}

.project-title {
  color: var(--body-clr);
  font-size: 1.225rem;
  font-weight: 500;
  padding-inline: 0.625rem;
  outline: none;
  cursor: default;
  max-height: 45px;
  max-width: 800px;
  overflow-y: scroll;

  @media (pointer: coarse) {
    font-size: clamp(0.825rem, 0.2917rem + 2.1333vw, 1.225rem);
  }
}

.project-title::-webkit-scrollbar-track {
  background-color: var(--container-bg);
}
.project-title::-webkit-scrollbar {
  width: 8px;
}
@media (pointer: fine) {
  .project-title::-webkit-scrollbar {
    display: none;
    width: 8px;
  }
}

.title-container button {
  display: grid;
  place-items: center;
}
/*! navigation area styling */
.navigation-area {
  display: flex;
  align-items: center;
  gap: 2rem;

  --nav-btn-height: 27px;
  --nav-btn-padding-inline: 0.5rem;
}

.basic-tools {
  display: flex;
  align-items: center;
}

.color-picker-container {
  position: relative;

  .color-picker-btn {
    height: var(--nav-btn-height);
    display: grid;
    place-items: center;
    border: var(--slick-border);
    padding-inline: var(--nav-btn-padding-inline);
    border-radius: var(--g-btn-border-radius);
    background-color: var(--g-btn-bg);
    color: var(--g-btn-clr);
  }
  .color-picker-btn:hover {
    background-color: var(--g-btn-hover-bg);
    color: var(--g-btn-hover-clr);
  }
  .color-picker-btn:active {
    translate: 0 1px;
  }
}

.color-picker-actions {
  position: absolute;
  top: 272px;
  left: 50%;
  z-index: 10001;
  translate: -50% 0;

  background-color: var(--container-bg);
  width: 228px;
  padding: 0 1rem 1rem 1rem;
  border-radius: 0 0 0.4rem 0.4rem;
  border-bottom: var(--slick-border);
  border-inline: var(--slick-border);
  display: grid;
  display: none;
  opacity: 0;
  transition: opacity 300ms;

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: 0.3rem;

    span {
      font-size: 0.825rem;
      opacity: 0.7;
    }

    button {
      display: grid;
      place-items: center;
      background-color: var(--g-btn-bg);
      color: var(--g-btn-clr);
      border: var(--slick-border);
      border-radius: 0.2rem;
      width: 25px;
      height: 25px;

      &:hover {
        background-color: var(--g-btn-hover-bg);
        color: var(--g-btn-hover-clr);
      }
    }
  }
  @media (pointer: coarse) {
    top: 271px;
  }
}

.pcr-button {
  display: none;
}

.pcr-app {
  position: absolute;
  top: 45px !important;
  left: 50% !important;
  translate: -50% 0;
  background-color: var(--container-bg);
  box-shadow: none;
  border-radius: 0.4rem 0.4rem 0 0;
  overflow: hidden;
  border-top: var(--slick-border);
  border-inline: var(--slick-border);
  padding: 0.5rem;
  /* transition: opacity 5000ms; */
}

.pcr-swatches.pcr-swatches.pcr-swatches {
  display: none;
}

.pcr-interaction.pcr-interaction.pcr-interaction {
  padding: 0;
  padding-block-start: 0.5rem;
  background-color: var(--container-bg);
  width: 100%;
  translate: 3px 3px;
}

.pcr-result {
  color: var(--body-clr) !important;
  background-color: var(--input-bg) !important;
  box-shadow: none !important;
  outline: 2px solid hsl(0, 0%, 50%, 0.3);
}

.pcr-result:focus {
  outline-offset: 2px;
  outline: 2px solid hsl(0, 0%, 50%, 0, 5);
}

nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  button {
    font-weight: 500;
    background-color: var(--g-btn-bg);
    padding-inline: var(--nav-btn-padding-inline);
    height: var(--nav-btn-height);
    border-radius: var(--g-btn-border-radius);
    border: var(--slick-border);
    font-size: 0.925rem;
    transform-origin: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  button:active {
    translate: 0 1px;
  }

  button:hover {
    background-color: var(--g-btn-hover-bg);
  }
}

/*! editor styling */
main {
  background-color: var(--container-bg);
  display: flex;

  --editor-count: 3;
  --gap-between-editor: 1px;
  --height-margin: calc(var(--header-height) + var(--footer-feature-bar-height) + (var(--gap-between-editor) * var(--editor-count)));
  --resizeBar-width: 20px;
  --topbar-height: 30px;
  --code-input-max-width: calc(100vw - var(--resizeBar-width));
  --code-input-min-height: calc(100vh - 85px);
  --each-editor-height: calc((100vh / var(--editor-count)) - (var(--height-margin) / var(--editor-count)));
}

.code-inputs {
  display: flex;
  flex-direction: column;
  width: 350px;
  max-width: var(--code-input-max-width);
  min-height: var(--code-input-min-height);
  overflow-x: auto;
  gap: var(--gap-between-editor);
  position: relative;
  isolation: isolate;

  @media (pointer: coarse) {
    min-width: var(--resizeBar-width);
    max-width: calc(100vw - var(--resizeBar-width) * 2);
  }
}

.expand-reset-btn {
  position: absolute;
  top: 4px;
  right: 110px;
  z-index: 2;

  background-color: var(--option-btn-bg);
  color: var(--g-btn-clr);
  font-size: 0.7525rem;
  padding: 0 0.5rem;
  border: var(--slick-border);
  border-radius: 0.2rem;
  display: none;

  &:active {
    translate: 0 1px;
  }

  &:hover {
    background-color: var(--g-btn-hover-bg);
    color: var(--g-btn-hover-clr);
  }
}

.each-editor {
  flex-grow: 1;
  display: grid;
  grid-template-rows: auto 1fr;
  transition: flex 500ms;
  max-height: var(--each-editor-height);
  min-height: var(--each-editor-height);
  overflow-y: auto;
  overflow-x: auto;
  transition: max-height 400ms, min-height 400ms;
}

.each-editor.shrink {
  max-height: var(--topbar-height);
  min-height: var(--topbar-height);
  overflow: hidden;
}

.each-editor.expand {
  min-height: calc(100% - 65px);
}

.top-bar {
  min-height: var(--topbar-height);
  background-color: var(--topbar-bg);
  color: var(--topbar-clr);
  padding-inline: 1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  user-select: none;
  position: relative;
  z-index: 1;

  .file-type-svg-container {
    display: flex;
    align-items: center;
    gap: 0.425rem;

    svg {
      min-width: 17px;
      min-height: 17px;
    }
  }

  .extra-options {
    display: flex;
    align-items: center;
    gap: 0.225rem;
    translate: 0 -1px;

    button {
      background-color: var(--option-btn-bg);
      color: var(--g-btn-clr);
      border: var(--slick-border);
      border-radius: 0.2rem;
      display: grid;
      place-items: center;
      height: 20px;
      width: 25px;
    }

    button:active {
      translate: 0 1px;
    }

    button:hover {
      background-color: var(--option-btn-hover-bg);
      color: var(--g-btn-hover-clr);
    }
  }
}

.top-bar::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: var(--light-container-border);
  width: 100%;
}

/* ! preview styling */
.horizontal-resizer {
  background-color: var(--topbar-bg);
  min-width: var(--resizeBar-width);
  border-inline: var(--slick-border);
  height: 100%;
  cursor: col-resize;
}

.code-preview {
  flex-grow: 1;
  flex-basis: 0;
  flex-shrink: 1;
  width: 100%;
  background-color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - (var(--header-height) + var(--footer-feature-bar-height)));

  container-type: inline-size;
}

.code-preview iframe {
  flex: 1;
  display: block;
  width: 100%;
  min-width: 0;
  min-height: 0;
  height: 100%;
}

.console {
  height: 0;
  background-color: var(--container-bg);
  width: 100%;
  max-width: 100%;
  min-width: 0;
}

@container (width < 200px) {
  .console {
    display: none;
  }
}

.console.show {
  min-height: var(--footer-feature-bar-height);
  height: 200px;
  max-height: calc(100vh - (var(--footer-feature-bar-height) + var(--header-height)));
}

.console-header {
  height: 30px;
  border-block: var(--light-container-border);
  background-color: var(--topbar-bg);
  user-select: none;
  cursor: row-resize;
  padding-inline: 1rem;
  position: relative;
}

.console-btn-container {
  position: absolute;
  top: 50%;
  right: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  translate: 0 -50%;

  > * {
    display: grid;
    place-items: center;
    height: 20px;
    min-width: 25px;
    background-color: var(--g-btn-bg);
    color: var(--g-btn-clr);
    border: var(--slick-border);
    font-size: 0.825rem;
    padding-inline: 0.2rem;
    border-radius: 0.25rem;

    &:hover {
      background-color: var(--g-btn-hover-bg);
      color: var(--g-btn-hover-clr);
    }
  }
}

.console-body {
  background-color: var(--cm-editor-bg);
  height: calc(100% - var(--footer-feature-bar-height));
  overflow-y: auto;
  overflow-x: auto;
  font-family: var(--user-font), monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  white-space: nowrap;

  > div {
    padding-inline: 1rem 2rem;
    padding-block: 0.325rem;
  }
  > div:not(:last-child) {
    border-block-end: var(--slick-border);
  }
}

/* ! footer styling */
.footer-feature-bar {
  border-block-start: var(--light-container-border);
  background-color: var(--container-bg);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline: 1rem;
  height: var(--footer-feature-bar-height);

  button {
    padding-inline: 0.425rem;
    font-size: 0.825rem;
    background-color: var(--g-btn-bg);
    color: var(--g-btn-clr);
    border-radius: 0.225rem;
    border: var(--slick-border);
    display: grid;
    place-items: center;
  }
  button:hover {
    background-color: var(--g-btn-hover-bg);
    color: var(--g-btn-hover-clr);
  }
  button:active {
    translate: 0 1px;
  }
}

/*! Modal styling */
/** Customization modal styling */
.beneath-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay);
  z-index: 2;

  opacity: 0;
  display: none;
  transition-property: display opacity;
  transition-duration: 550ms;
  transition-behavior: allow-discrete;

  @media (width > 700px) {
    backdrop-filter: blur(3px);
  }
}
.beneath-layer.show {
  display: block;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

.customization-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;

  padding: 1rem;
  background-color: var(--overlay);
  place-items: center;
  opacity: 1;
  opacity: 0;

  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: var(--modal-transition-duration);
  transition-behavior: allow-discrete;

  @media (pointer: fine) {
    backdrop-filter: blur(3px);
  }
}

.customization-modal.show {
  display: grid;
  opacity: 1;

  .customization-container {
    translate: 0 0;
    scale: 1;

    @starting-style {
      translate: 0 250%;
      scale: 0.5;
    }
  }

  @starting-style {
    opacity: 0;
  }
}

.customization-container {
  --padding: 1rem;

  width: 100%;
  max-width: 750px;
  height: 100%;
  max-height: 500px;
  background-color: var(--container-bg);
  border: var(--slick-border);
  padding: var(--padding);
  border-radius: 0.5rem;
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem;

  scale: 0.5;
  translate: 0 250%;
  transition: translate var(--modal-content-transition-duration-translate), scale var(--modal-content-transition-duration-scale);

  h2 {
    margin: 0;
    font-size: 1.225rem;
    font-weight: 500;
    line-height: 0.9lh;
  }
}
.close-modal-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  display: grid;
  place-items: center;
  border-radius: 50%;
  opacity: 0.85;

  &:hover {
    opacity: 1;
  }
}
.close-modal-btn:active {
  scale: 0.95;
}
.tab-area {
  display: flex;
  gap: 0.5rem;

  @media (width < 600px) {
    display: grid;
    grid-auto-rows: max-content;
  }
}
.customizaion-tab-btn-container {
  align-self: flex-start;
  max-height: fit-content;
  display: grid;
  min-width: 120px;
  gap: 0.425rem;

  @media (width < 600px) {
    display: flex;

    > * {
      flex: 1;
    }
  }
}
.tab-switch-btn {
  display: grid;
  font-size: 0.925rem;
  font-weight: 500;
  padding-block: 0.225rem;
  background-color: var(--g-btn-bg);
  border: var(--slick-border);
  border-radius: 0.225rem;
  position: relative;
  overflow: hidden;

  &:hover {
    background-color: var(--g-btn-hover-bg);
  }

  @media (width < 600px) {
    padding-block: 0.225rem;
  }
}
.tab-switch-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  background-color: var(--tab-change-btn-before-bg);
  width: 3px;
  height: 0;
  transition: height 300ms, width 300ms;

  @media (width < 600px) {
    top: unset;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 0;
    translate: -50% 0;
  }
}
.tab-switch-btn:hover::before {
  height: 100%;

  @media (width < 600px) {
    height: 3px;
    width: 100%;
  }
}
.tab-switch-btn.selected {
  background-color: var(--g-btn-hover-bg);
}
.tab-switch-btn.selected::before {
  height: 100%;

  @media (width < 600px) {
    height: 3px;
    width: 100%;
  }
}
.customization-tab {
  flex: 1;
  border-radius: 0.325rem;
  border: var(--light-container-border);
  max-height: 420px;
  overflow-y: auto;

  @media (width < 700px) {
    max-height: 385px;
  }
}
.each-tab {
  display: none;
  height: 100%;
}
.each-tab.show {
  display: unset;
}
/* html tab styling*/
.html-tab {
  padding: 1rem;
  display: grid;
  grid-auto-rows: max-content;
  gap: 0.5rem;
  height: 100%;
}
.label-container {
  position: relative;
  max-width: fit-content;
}
.label-container > label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: fit-content;
}
.info-icon {
  display: grid;
  cursor: pointer;
}
.info-container {
  position: absolute;
  top: 35px;
  left: 100%;
  z-index: 5;
  translate: calc(-50% - 8px) -10px;

  width: 100%;
  max-width: 200px;
  font-size: 0.825rem;
  outline: var(--slick-border);
  outline-width: 2px;
  box-shadow: 0 0 0 5px hsl(0, 0%, 50%, 0.4);
  border-radius: 0.3rem;
  background-color: var(--body-bg);

  display: none;
  opacity: 0;
  transition: opacity 100ms, translate 300ms;
}
.info-container > div {
  border-radius: inherit;
  padding: 0.5rem;
  background-color: var(--container-bg);
  letter-spacing: 0.3px;
  position: relative;
}
.info-container::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: var(--container-bg);
  outline: var(--slick-border);
  outline-width: 2px;

  position: absolute;
  top: 0;
  left: 50%;
  rotate: 45deg;
  translate: -50% -50%;
}
.info-container > span {
  padding-inline: 0.2rem;
  position: relative;
}
.info-container code {
  font-family: var(--user-font), monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: hsl(0, 0%, 50%, 0.2);
  padding-inline: 0.25rem;
  border-radius: 0.2rem;
}
.html-tab > textarea {
  font-family: var(--user-font), monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: var(--slick-border);
  min-height: 100px;
  max-height: 350px;
  background-color: var(--input-bg);
  color: inherit;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 0.9525rem;
  resize: vertical;
  outline: none;
  outline-offset: 2px;

  @media (width < 600px) {
    max-height: 315px;
  }
}
.html-tab > textarea:focus,
.html-tab > textarea:focus-visible {
  outline: var(--input-outline);
}

/* editor tab styling*/
.editor-tab {
  padding: 1rem;

  select {
    border: var(--slick-border);
    background-color: var(--input-bg);
    font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    appearance: none;
    color: var(--body-clr);
    height: 33px;
    min-width: 0;
    border: var(--slick-border);
    border-radius: 0.225rem;
    padding-inline: 0.925rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    outline-offset: 2px;
  }

  option {
    font: inherit;
    background-color: var(--option-bg);
    color: var(--option-clr);
  }

  select:focus {
    outline: var(--input-outline);
  }
}

.setting-type-diversion {
  margin-block-end: 1.5rem;

  h3 {
    margin: 0;
    line-height: 0.8lh;
    font-weight: 500;
    margin-block-end: 1rem;
    border-inline-start: 2px solid var(--tab-change-btn-before-bg);
    padding-inline-start: 0.5rem;
    font-size: 1rem;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.225rem;

    label {
      font-size: 0.925rem;
      flex: 3;
      opacity: 0.9;
      font-weight: 300;
      letter-spacing: 0.3px;
    }
    select {
      flex: 2;
    }

    &:not(:last-child) {
      margin-block-end: 0.325rem;
    }
  }
}

/* theme tab styling*/
.theme-tab {
  padding: 1rem;
}
.theme-change-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--g-btn-clr);
  background-color: var(--g-btn-bg);
  font-size: 0.925rem;
  gap: 0.4rem;
  border: var(--slick-border);
  height: 35px;
  padding-inline: 1rem;
  border-radius: var(--g-btn-border-radius);
  opacity: 0.7;
  position: relative;
  overflow: hidden;

  span + span {
    font-weight: 300;
    font-size: 0.725rem;
    font-style: italic;
  }

  &:hover {
    opacity: 1;
    color: var(--g-btn-hover-clr);
    background-color: var(--g-btn-hover-bg);
  }
}
.theme-change-btn::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  width: 3px;
  height: 0;
  background-color: var(--tab-change-btn-before-bg);
  transition: height 500ms 100ms, background-color 0ms 100ms;
}
.theme-change-btn.selected {
  opacity: 1;
  background-color: var(--g-btn-hover-bg);
}
.theme-change-btn.selected::before {
  height: 100%;
}
.theme-container {
  > span {
    display: block;
    margin-block: 1rem 0.5rem;
  }

  > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 0.425rem;
  }
  button {
    background-color: var(--g-btn-bg);
    font-size: 0.925rem;
    gap: 0.4rem;
    border: var(--slick-border);
    height: 35px;
    padding-inline: 1rem;
    border-radius: var(--g-btn-border-radius);

    &:hover {
      color: var(--g-btn-hover-clr);
      background-color: var(--g-btn-hover-bg);
    }
  }
}
/** Delete modal styling */
.delete-modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  inset: 0;

  background-color: var(--overlay);
  /* display: grid; */
  place-items: center;
  padding: 1.5rem;

  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: 350ms;
  transition-behavior: allow-discrete;

  @media (pointer: fine) {
    backdrop-filter: blur(3px);
  }
}
.delete-modal-content {
  box-sizing: content-box;
  background-color: var(--container-bg);
  border-radius: 1rem;
  border: var(--slick-border);
  width: 100%;
  max-width: 400px;

  translate: 0 350%;
  scale: 0.5;
  transition: translate 450ms, scale 400ms;
}
.delete-modal h2 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
  padding-inline: 1.5rem;
  padding-block: 1rem;
}
.delete-modal p {
  margin-block-end: 0.5rem;
  color: var(--body-clr);
  word-break: break-all;
}

.delete-modal p span {
  font-weight: 500;
}

.delete-modal-content > div:first-of-type {
  border-block-start: var(--slick-border);
  padding-inline: 1.5rem;
}
.delete-buttons {
  padding-block: 1.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.delete-buttons button {
  padding-block: 0.325rem 0.425rem;
  padding-inline: 1.225rem;
  border: var(--slick-border);
  border-radius: 1000px;
  font-size: 0.925rem;
  font-weight: 500;
  background-color: var(--g-btn-bg);
}

.dlt-cancel-btn:hover {
  background-color: var(--g-btn-hover-bg);
}

.delete-buttons .dlt-confirm-btn {
  color: #fff;
  border: 1px solid hsl(0, 73%, 47%);
  background-color: hsl(0, 73%, 47%);
}
.delete-buttons .dlt-confirm-btn:hover {
  background-color: hsl(0, 73%, 55%);
  border: 1px solid hsl(0, 73%, 50%);
}

/*! Util */
.blinking-rect {
  animation: blinking 2s infinite;
}

@keyframes blinking {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

@media (pointer: coarse) {
  * {
    cursor: default;
  }
}

.customization-container.slide-up {
  scale: 1;
  opacity: 1;
  translate: 0 0;
}

.customization-container.transition-off {
  transition: none;
}

.info-container.show {
  translate: calc(-50% - 8px) 0;
  opacity: 1;
}

/* toast message */
.toast-message-container {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 9999;
  width: 100%;
  pointer-events: none;
}
.toast-message-container div {
  display: flex;
  justify-content: center;
  height: 0px;
  margin-block-end: 2px;

  transition: 200ms;
}
.toast-message {
  height: 35px;
  color: var(--toast-message-clr);
  background-color: var(--toast-message-bg);
  font-size: 0.8525rem;
  font-weight: 500;
  display: grid;
  place-items: center;
  padding-inline: 0.725rem;
  border-radius: 0.255rem;
  border: var(--toast-message-border);
  overflow: hidden;

  scale: 0.6;
  opacity: 0;
  translate: 0 -100%;
  transition: 300ms;
}

.toast-message::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  height: 3px;
  width: 100%;
  background-color: var(--toast-message-clr);
  transition: width 2800ms linear;
}

.toast-message-container div.show {
  height: 40px;

  span {
    scale: 1;
    opacity: 1;
    translate: 0 0;
  }
  span::before {
    width: 0;
  }
}

.code-not-found-container {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 9999999999999;
  display: grid;
  place-items: center;
  backdrop-filter: blur(5px);
  background-color: var(--overlay);
  display: none;
  padding: 1.5rem;

  div {
    background-color: var(--container-bg);
    border-radius: 0.425rem;
    padding: 1.3rem;
    display: grid;
    grid-auto-rows: max-content;
    border: var(--slick-border);
    max-width: 400px;

    h3 {
      margin: 0;
      font-weight: 500;
      font-size: 1.325rem;
    }

    span {
      display: block;
      margin-block: 0.4rem 1rem;
      opacity: 0.7;
      line-height: 0.95lh;
    }

    button {
      background-color: var(--g-btn-bg);
      color: var(--g-btn-clr);
      padding-block: 0.3rem;
      padding-inline: 1rem;
      border-radius: 10000px;
      border: var(--slick-border);
      font-weight: 500;

      &:hover {
        background-color: var(--g-btn-hover-bg);
        color: var(--g-btn-hover-clr);
      }
    }
  }
}

.delete-modal.show {
  display: grid;
  opacity: 1;

  .delete-modal-content {
    translate: 0 0;
    scale: 1;

    @starting-style {
      translate: 0 350%;
      scale: 0.5;
    }
  }
  @starting-style {
    opacity: 0;
  }
}

.disable-interaction {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  z-index: 9998;
  background-color: var(--container-bg);

  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: 3s;
  transition-behavior: allow-discrete;
}

.disable-interaction.show {
  display: block;
  opacity: 1;

  @starting-style {
    opacity: 0;
  }
}

/** Keyboard shortcut modal */
.keyboard-shortcut-modal {
  display: grid;
  place-items: center;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  inset: 0;
  background-color: var(--overlay);
  padding: 5rem 1.5rem;
  overflow-y: auto;

  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: var(--modal-transition-duration);
  transition-behavior: allow-discrete;

  @media (pointer: fine) {
    backdrop-filter: blur(3px);
  }
  @media (pointer: coarse) {
    &::-webkit-scrollbar {
      width: 10px;
    }
  }
}

.keyboard-shortcut-modal.show {
  display: grid;
  opacity: 1;

  .keyboard-shortcut-modal-content {
    translate: 0 0;
    scale: 1;

    @starting-style {
      translate: 0 250%;
      scale: 0.5;
    }
  }

  @starting-style {
    opacity: 0;
  }
}

.keyboard-shortcut-modal-content {
  --padding: 1.325rem;
  width: 100%;
  max-width: calc(450px + (var(--padding) * 2));
  background-color: var(--container-bg);
  border: var(--slick-border);
  padding: var(--padding);
  border-radius: 0.5rem;
  position: relative;

  * {
    margin: 0;
  }

  display: grid;
  gap: 2rem;

  translate: 0 250%;
  scale: 0.5;
  transition: translate var(--modal-content-transition-duration-translate), scale var(--modal-content-transition-duration-scale);

  @media (width >= 900px) {
    max-width: calc(900px + (var(--padding) * 2));
    grid-template-columns: 3fr 4fr;
  }
}

.close-keyboard-shortcut-modal-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  display: grid;
  place-items: center;
  border-radius: 50%;
  opacity: 0.85;

  &:hover {
    opacity: 1;
  }
}
.close-keyboard-shortcut-modal-btn:active {
  scale: 0.95;
}

.keyboard-shortcut-modal-content h3 {
  /* line-height: 0.8lh; */
  font-weight: 500;
  margin-block-end: 1rem;
  border-block-end: var(--slick-border);
}

.shortcut-header {
  font-weight: 500;
  line-height: 0.7lh;
  margin-block: 1.5rem 0.5rem;
  padding-inline-start: 0.5rem;
  border-inline-start: 2px solid var(--tab-change-btn-before-bg);
}

.shortcut-line {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-block-end: 0.5rem;
  }
}

.shortcut-indication {
  font-size: 0.875rem;
  letter-spacing: 0.3px;
  opacity: 0.9;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.shortcut-keys {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  code {
    font-family: 'firaCode', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.7525rem;
    border: var(--slick-border);
    padding: 0.225rem 0.525rem;
    border-radius: 0.325rem;
    background-color: var(--g-btn-bg);
  }
}

.or {
  font-weight: 300;
  font-size: 0.8525rem;
  opacity: 0.9;
}