html {
  color-scheme: light dark;
}

:root {
  --body-bg: hsl(0, 0%, 95%);
  --body-clr: hsl(0, 0%, 10%);
  --overlay: hsl(0, 0%, 100%, 0.3);

  --g-btn-clr: hsl(0, 0%, 10%);
  --g-btn-bg: hsl(0, 0%, 86%);
  --g-btn-hover-bg: hsl(0, 0%, 82%);
  --g-btn-hover-clr: hsl(0, 0%, 0%);
  --g-btn-padding: 0.125rem 0.625rem;
  --g-btn-border-radius: 0.325rem;

  --option-btn-bg: hsl(0, 0%, 85%);
  --option-btn-hover-bg: hsl(0, 0%, 80%);

  --input-bg: hsla(0, 0%, 70%, 0.3);
  --input-outline: 1px solid hsl(0, 0%, 50%, 0.6);
  --option-bg: hsl(0, 0%, 86%);
  --option-clr: hsl(0, 0%, 0%);

  --expand-reset-btn-border: 1px solid hsl(0, 0%, 85%);
  --expand-reset-btn-box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.2);

  --tab-change-btn-before-bg: hsl(0, 0%, 37%);
  --tab-change-btn-selected-bg: hsl(0, 0%, 85%);
  --tab-change-btn-border: 1px solid var(--tab-change-btn-before-bg);

  --slick-border: 1px solid hsl(0, 0%, 79%);

  --sidebar-toggle-icon-bg: hsl(0, 0%, 88%);
  --sidebar-toggle-btn-hover-border: 1px solid hsl(0, 0%, 79%);
  --submenu-bg: hsl(0, 0%, 88%);

  --project-list-item-hover-bg: hsl(0, 0%, 87%);

  --container-bg: hsl(0, 0%, 91%);
  --light-container-border: 1px solid hsl(0, 0%, 87%);
  --toast-message-clr: hsl(0, 0%, 95%);
  --toast-message-bg: hsl(0, 0%, 15%);
  --toast-message-border: 1px solid var(--toast-message-bg);

  --global-scrollbar-track-bg: hsl(0, 0%, 93%);
  --global-scrollbar-thumb-bg: hsl(0, 0%, 65%);
  --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%);

  /* ! Code editor colors */
  --topbar-bg: hsl(0, 0%, 91%);
  --topbar-clr: hsl(0, 0%, 25%);

  --file-type-icon-bg: hsl(0, 0%, 23%);
  --file-type-icon-clr: hsl(0, 0%, 90%);

  --cm-editor-bg: hsl(0, 0%, 88%);
  --cm-gutter-bg: hsl(0, 0%, 88%);
  --cm-gutter-elt-clr: hsl(0, 0%, 60%);
  --cm-active-gutter-elt-clr: hsl(0, 0%, 0%);
  --cm-gutters-border-right: 1px solid hsl(0, 0%, 80%);

  --cm-focused-selected-bg: hsla(216, 100%, 80%, 0.25);
  --cm-unfocused-selected-bg: hsla(0, 0%, 60%, 0.25);
  --cm-cursor-clr: hsl(0, 0%, 20%);
  --foldmarker-clr: hsl(0, 0%, 10%);
  --cm-activeline-bg: transparent;
  --cm-active-line-bg-border: 1px solid hsl(0, 0%, 82%);

  /* xml */
  --xml-default: hsl(0, 0%, 20%);
  --xml-keyword: hsl(207, 61%, 39%);
  --xml-bracket: hsl(0, 0%, 50%);
  --xml-attribute: hsl(201, 98%, 60%);
  --xml-string: hsl(17, 47%, 44%);
  --xml-comment: hsl(101, 29%, 27%);

  /* css */
  --css-default: hsl(0, 0%, 20%);
  --css-qualifier: hsl(41, 53%, 47%);
  --css-property: hsl(201, 98%, 60%);
  --css-number: hsl(99, 28%, 53%);
  --css-keyword: hsl(17, 47%, 44%);
  --css-variable: var(--css-property);
  --css-variable-2: var(--css-property);
  --css-variable-3: hsl(17, 47%, 44%);
  --css-callee: hsl(60, 42%, 56%);
  --css-comment: hsl(101, 29%, 27%);
  --css-atom: hsl(17, 47%, 44%);
  --css-builtin: hsl(41, 53%, 47%);
  --css-tag: hsl(41, 53%, 47%);
  --css-string: hsl(17, 47%, 44%);
  --css-def: hsl(314, 35%, 45%);

  /* js */
  --js-default: hsl(0, 0%, 20%);
  --js-keyword: hsl(207, 61%, 39%);
  --js-def: hsl(201, 100%, 45%);
  --js-variable: hsl(201, 98%, 60%);
  --js-variable-2: hsl(201, 98%, 60%);
  --js-property: hsl(60, 42%, 56%);
  --js-string: hsl(17, 47%, 44%);
  --js-comment: hsl(101, 29%, 27%);
  --js-number: hsl(99, 28%, 53%);
  --js-atom: hsl(207, 61%, 59%);

  /* Additionals */
  --bracket-color: var(--xml-default);
  --bracket-outline: hsl(0, 0%, 63%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: hsl(0, 0%, 5%);
    --body-clr: hsl(0, 0%, 90%);
    --overlay: hsl(0, 0%, 0%, 0.3);

    --g-btn-clr: hsl(0, 0%, 90%);
    --g-btn-bg: hsl(0, 0%, 14%);
    --g-btn-hover-bg: hsl(0, 0%, 18%);
    --g-btn-hover-clr: hsl(0, 0%, 100%);
    --g-btn-padding: 0.125rem 0.625rem;
    --g-btn-border-radius: 0.325rem;

    --option-btn-bg: hsl(0, 0%, 20%);
    --option-btn-hover-bg: hsl(0, 0%, 25%);

    --input-bg: hsla(0, 0%, 30%, 0.3);
    --input-outline: 1px solid hsl(0, 0%, 50%, 0.6);
    --option-bg: hsl(0, 0%, 14%);
    --option-clr: hsl(0, 0%, 100%);

    --expand-reset-btn-border: 1px solid hsl(0, 0%, 25%);
    --expand-reset-btn-box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.2);

    --tab-change-btn-before-bg: hsl(0, 0%, 63%);
    --tab-change-btn-selected-bg: hsl(0, 0%, 25%);
    --tab-change-btn-border: 1px solid var(--tab-change-btn-before-bg);

    --slick-border: 1px solid hsl(0, 0%, 21%);

    --sidebar-toggle-icon-bg: hsl(0, 0%, 12%);
    --sidebar-toggle-btn-hover-border: 1px solid hsl(0, 0%, 21%);
    --submenu-bg: hsl(0, 0%, 12%);

    --project-list-item-hover-bg: hsl(0, 0%, 13%);

    --container-bg: hsl(0, 0%, 9%);
    --light-container-border: 1px solid hsl(0, 0%, 13%);
    --toast-message-clr: hsl(0, 0%, 5%);
    --toast-message-bg: hsl(0, 0%, 85%);
    --toast-message-border: 1px solid var(--toast-message-bg);

    --global-scrollbar-track-bg: hsl(0, 0%, 7%);
    --global-scrollbar-thumb-bg: hsl(0, 0%, 35%);
    --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%);

    /* ! Code editor colors */
    --topbar-bg: var(--container-bg);
    --topbar-clr: hsl(0, 0%, 85%);

    --file-type-icon-bg: hsl(0, 0%, 77%);
    --file-type-icon-clr: hsl(0, 0%, 10%);

    --cm-editor-bg: hsl(0, 0%, 12%);
    --cm-gutter-bg: hsl(0, 0%, 12%);
    --cm-gutter-elt-clr: hsl(0, 0%, 40%);
    --cm-active-gutter-elt-clr: hsl(0, 0%, 100%);
    --cm-gutters-border-right: 1px solid hsl(0, 0%, 20%);

    --cm-focused-selected-bg: hsla(207, 79%, 56%, 0.4);
    --cm-unfocused-selected-bg: hsla(0, 0%, 50%, 0.25);
    --cm-cursor-clr: hsl(0, 0%, 80%);
    --foldmarker-clr: hsl(0, 0%, 90%);
    --cm-activeline-bg: transparent;
    --cm-active-line-bg-border: 1px solid hsl(0, 0%, 18%);

    /* xml */
    --xml-default: hsl(0, 0%, 80%);
    --xml-keyword: hsl(207, 61%, 59%);
    --xml-bracket: hsl(0, 0%, 50%);
    --xml-attribute: hsl(201, 98%, 80%);
    --xml-string: hsl(17, 47%, 64%);
    --xml-comment: hsl(101, 29%, 47%);

    /* css */
    --css-default: hsl(0, 0%, 80%);
    --css-qualifier: hsl(41, 53%, 67%);
    --css-property: hsl(201, 98%, 80%);
    --css-number: hsl(99, 28%, 73%);
    --css-keyword: hsl(17, 47%, 64%);
    --css-variable: var(--css-property);
    --css-variable-2: var(--css-property);
    --css-variable-3: hsl(17, 47%, 64%);
    --css-callee: hsl(60, 42%, 76%);
    --css-comment: hsl(101, 29%, 47%);
    --css-atom: hsl(17, 47%, 64%);
    --css-builtin: hsl(41, 53%, 67%);
    --css-tag: hsl(41, 53%, 67%);
    --css-string: hsl(17, 47%, 64%);
    --css-def: hsl(314, 35%, 65%);

    /* js */
    --js-default: hsl(0, 0%, 80%);
    --js-keyword: hsl(207, 61%, 59%);
    --js-def: hsl(201, 100%, 65%);
    --js-variable: hsl(201, 98%, 80%);
    --js-variable-2: hsl(201, 98%, 80%);
    --js-property: hsl(60, 42%, 76%);
    --js-string: hsl(17, 47%, 64%);
    --js-comment: hsl(101, 29%, 47%);
    --js-number: hsl(99, 28%, 73%);
    --js-atom: hsl(207, 61%, 41%);

    /* === Matching Brackets === */
    --bracket-color: var(--xml-default);
    --bracket-outline: hsl(0, 0%, 37%);
  }
}

/*! Default Theme */

[data-theme='light-default'] {
  color-scheme: light;
  --body-bg: hsl(0, 0%, 95%);
  --body-clr: hsl(0, 0%, 10%);
  --overlay: hsl(0, 0%, 100%, 0.3);

  --g-btn-clr: hsl(0, 0%, 10%);
  --g-btn-bg: hsl(0, 0%, 86%);
  --g-btn-hover-bg: hsl(0, 0%, 82%);
  --g-btn-hover-clr: hsl(0, 0%, 0%);
  --g-btn-padding: 0.125rem 0.625rem;
  --g-btn-border-radius: 0.325rem;

  --option-btn-bg: hsl(0, 0%, 85%);
  --option-btn-hover-bg: hsl(0, 0%, 80%);

  --input-bg: hsla(0, 0%, 70%, 0.3);
  --input-outline: 1px solid hsl(0, 0%, 50%, 0.6);
  --option-bg: hsl(0, 0%, 86%);
  --option-clr: hsl(0, 0%, 0%);

  --expand-reset-btn-border: 1px solid hsl(0, 0%, 85%);
  --expand-reset-btn-box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.2);

  --tab-change-btn-before-bg: hsl(0, 0%, 37%);
  --tab-change-btn-selected-bg: hsl(0, 0%, 85%);
  --tab-change-btn-border: 1px solid var(--tab-change-btn-before-bg);

  --slick-border: 1px solid hsl(0, 0%, 79%);

  --sidebar-toggle-icon-bg: hsl(0, 0%, 88%);
  --sidebar-toggle-btn-hover-border: 1px solid hsl(0, 0%, 79%);
  --submenu-bg: hsl(0, 0%, 88%);

  --project-list-item-hover-bg: hsl(0, 0%, 87%);

  --container-bg: hsl(0, 0%, 91%);
  --light-container-border: 1px solid hsl(0, 0%, 87%);
  --toast-message-clr: hsl(0, 0%, 95%);
  --toast-message-bg: hsl(0, 0%, 15%);
  --toast-message-border: 1px solid var(--toast-message-bg);

  --global-scrollbar-track-bg: hsl(0, 0%, 93%);
  --global-scrollbar-thumb-bg: hsl(0, 0%, 65%);
  --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%);

  /* ! Code editor colors */
  --topbar-bg: hsl(0, 0%, 91%);
  --topbar-clr: hsl(0, 0%, 25%);

  --file-type-icon-bg: hsl(0, 0%, 23%);
  --file-type-icon-clr: hsl(0, 0%, 90%);

  --cm-editor-bg: hsl(0, 0%, 88%);
  --cm-gutter-bg: hsl(0, 0%, 88%);
  --cm-gutter-elt-clr: hsl(0, 0%, 60%);
  --cm-active-gutter-elt-clr: hsl(0, 0%, 0%);
  --cm-gutters-border-right: 1px solid hsl(0, 0%, 80%);

  --cm-focused-selected-bg: hsla(216, 100%, 80%, 0.25);
  --cm-unfocused-selected-bg: hsla(0, 0%, 60%, 0.25);
  --cm-cursor-clr: hsl(0, 0%, 20%);
  --foldmarker-clr: hsl(0, 0%, 10%);
  --cm-activeline-bg: transparent;
  --cm-active-line-bg-border: 1px solid hsl(0, 0%, 82%);

  /* xml */
  --xml-default: hsl(0, 0%, 20%);
  --xml-keyword: hsl(207, 61%, 39%);
  --xml-bracket: hsl(0, 0%, 50%);
  --xml-attribute: hsl(201, 98%, 60%);
  --xml-string: hsl(17, 47%, 44%);
  --xml-comment: hsl(101, 29%, 27%);

  /* css */
  --css-default: hsl(0, 0%, 20%);
  --css-qualifier: hsl(41, 53%, 47%);
  --css-property: hsl(201, 98%, 60%);
  --css-number: hsl(99, 28%, 53%);
  --css-keyword: hsl(17, 47%, 44%);
  --css-variable: var(--css-property);
  --css-variable-2: var(--css-property);
  --css-variable-3: hsl(17, 47%, 44%);
  --css-callee: hsl(60, 42%, 56%);
  --css-comment: hsl(101, 29%, 27%);
  --css-atom: hsl(17, 47%, 44%);
  --css-builtin: hsl(41, 53%, 47%);
  --css-tag: hsl(41, 53%, 47%);
  --css-string: hsl(17, 47%, 44%);
  --css-def: hsl(314, 35%, 45%);

  /* js */
  --js-default: hsl(0, 0%, 20%);
  --js-keyword: hsl(207, 61%, 39%);
  --js-def: hsl(201, 100%, 45%);
  --js-variable: hsl(201, 98%, 60%);
  --js-variable-2: hsl(201, 98%, 60%);
  --js-property: hsl(60, 42%, 56%);
  --js-string: hsl(17, 47%, 44%);
  --js-comment: hsl(101, 29%, 27%);
  --js-number: hsl(99, 28%, 53%);
  --js-atom: hsl(207, 61%, 59%);

  /* Additionals */
  --bracket-color: var(--xml-default);
  --bracket-outline: hsl(0, 0%, 63%);
}

[data-theme='dark-default'] {
  color-scheme: dark;
  --body-bg: hsl(0, 0%, 5%);
  --body-clr: hsl(0, 0%, 90%);
  --overlay: hsl(0, 0%, 0%, 0.3);

  --g-btn-clr: hsl(0, 0%, 90%);
  --g-btn-bg: hsl(0, 0%, 14%);
  --g-btn-hover-bg: hsl(0, 0%, 18%);
  --g-btn-hover-clr: hsl(0, 0%, 100%);
  --g-btn-padding: 0.125rem 0.625rem;
  --g-btn-border-radius: 0.325rem;

  --option-btn-bg: hsl(0, 0%, 20%);
  --option-btn-hover-bg: hsl(0, 0%, 25%);

  --input-bg: hsla(0, 0%, 30%, 0.3);
  --input-outline: 1px solid hsl(0, 0%, 50%, 0.6);
  --option-bg: hsl(0, 0%, 14%);
  --option-clr: hsl(0, 0%, 100%);

  --expand-reset-btn-border: 1px solid hsl(0, 0%, 25%);
  --expand-reset-btn-box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.2);

  --tab-change-btn-before-bg: hsl(0, 0%, 63%);
  --tab-change-btn-selected-bg: hsl(0, 0%, 25%);
  --tab-change-btn-border: 1px solid var(--tab-change-btn-before-bg);

  --slick-border: 1px solid hsl(0, 0%, 21%);

  --sidebar-toggle-icon-bg: hsl(0, 0%, 12%);
  --sidebar-toggle-btn-hover-border: 1px solid hsl(0, 0%, 21%);
  --submenu-bg: hsl(0, 0%, 12%);

  --project-list-item-hover-bg: hsl(0, 0%, 13%);

  --container-bg: hsl(0, 0%, 9%);
  --light-container-border: 1px solid hsl(0, 0%, 13%);
  --toast-message-clr: hsl(0, 0%, 5%);
  --toast-message-bg: hsl(0, 0%, 85%);
  --toast-message-border: 1px solid var(--toast-message-bg);

  --global-scrollbar-track-bg: hsl(0, 0%, 7%);
  --global-scrollbar-thumb-bg: hsl(0, 0%, 35%);
  --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%);

  /* ! Code editor colors */
  --topbar-bg: var(--container-bg);
  --topbar-clr: hsl(0, 0%, 85%);

  --file-type-icon-bg: hsl(0, 0%, 77%);
  --file-type-icon-clr: hsl(0, 0%, 10%);

  --cm-editor-bg: hsl(0, 0%, 12%);
  --cm-gutter-bg: hsl(0, 0%, 12%);
  --cm-gutter-elt-clr: hsl(0, 0%, 40%);
  --cm-active-gutter-elt-clr: hsl(0, 0%, 100%);
  --cm-gutters-border-right: 1px solid hsl(0, 0%, 20%);

  --cm-focused-selected-bg: hsla(207, 79%, 56%, 0.4);
  --cm-unfocused-selected-bg: hsla(0, 0%, 50%, 0.25);
  --cm-cursor-clr: hsl(0, 0%, 80%);
  --foldmarker-clr: hsl(0, 0%, 90%);
  --cm-activeline-bg: transparent;
  --cm-active-line-bg-border: 1px solid hsl(0, 0%, 18%);

  --bracket-color: var(--xml-default);
  --bracket-outline: hsl(0, 0%, 37%);

  /* xml */
  --xml-default: hsl(0, 0%, 80%);
  --xml-keyword: hsl(207, 61%, 59%);
  --xml-bracket: hsl(0, 0%, 50%);
  --xml-attribute: hsl(201, 98%, 80%);
  --xml-string: hsl(17, 47%, 64%);
  --xml-comment: hsl(101, 29%, 47%);

  /* css */
  --css-default: hsl(0, 0%, 80%);
  --css-qualifier: hsl(41, 53%, 67%);
  --css-property: hsl(201, 98%, 80%);
  --css-number: hsl(99, 28%, 73%);
  --css-keyword: hsl(17, 47%, 64%);
  --css-variable: var(--css-property);
  --css-variable-2: var(--css-property);
  --css-variable-3: hsl(17, 47%, 64%);
  --css-callee: hsl(60, 42%, 76%);
  --css-comment: hsl(101, 29%, 47%);
  --css-atom: hsl(17, 47%, 64%);
  --css-builtin: hsl(41, 53%, 67%);
  --css-tag: hsl(41, 53%, 67%);
  --css-string: hsl(17, 47%, 64%);
  --css-def: hsl(314, 35%, 65%);

  /* js */
  --js-default: hsl(0, 0%, 80%);
  --js-keyword: hsl(207, 61%, 59%);
  --js-def: hsl(201, 100%, 65%);
  --js-variable: hsl(201, 98%, 80%);
  --js-variable-2: hsl(201, 98%, 80%);
  --js-property: hsl(60, 42%, 76%);
  --js-string: hsl(17, 47%, 64%);
  --js-comment: hsl(101, 29%, 47%);
  --js-number: hsl(99, 28%, 73%);
  --js-atom: hsl(207, 61%, 41%);
}

/*! All Light themes  */
[data-theme='light-night-owl'] {
  color-scheme: light;
  --body-bg: hsl(0, 0%, 95%);
  --body-clr: hsl(0, 0%, 10%);
  --overlay: hsl(0, 0%, 100%, 0.3);

  --g-btn-clr: hsl(0, 0%, 10%);
  --g-btn-bg: hsl(0, 0%, 86%);
  --g-btn-hover-bg: hsl(0, 0%, 82%);
  --g-btn-hover-clr: hsl(0, 0%, 0%);
  --g-btn-padding: 0.125rem 0.625rem;
  --g-btn-border-radius: 0.325rem;

  --option-btn-bg: hsl(0, 0%, 85%);
  --option-btn-hover-bg: hsl(0, 0%, 80%);

  --input-bg: hsla(0, 0%, 70%, 0.3);
  --input-outline: 1px solid hsl(0, 0%, 50%, 0.6);
  --option-bg: hsl(0, 0%, 86%);
  --option-clr: hsl(0, 0%, 0%);

  --expand-reset-btn-border: 1px solid hsl(0, 0%, 85%);
  --expand-reset-btn-box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.2);

  --tab-change-btn-before-bg: hsl(0, 0%, 37%);
  --tab-change-btn-selected-bg: hsl(0, 0%, 85%);
  --tab-change-btn-border: 1px solid var(--tab-change-btn-before-bg);

  --slick-border: 1px solid hsl(0, 0%, 79%);

  --sidebar-toggle-icon-bg: hsl(0, 0%, 88%);
  --sidebar-toggle-btn-hover-border: 1px solid hsl(0, 0%, 79%);
  --submenu-bg: hsl(0, 0%, 88%);

  --project-list-item-hover-bg: hsl(0, 0%, 87%);

  --container-bg: hsl(0, 0%, 94%);
  --light-container-border: 1px solid hsl(0, 0%, 87%);
  --toast-message-clr: hsl(0, 0%, 95%);
  --toast-message-bg: hsl(0, 0%, 15%);
  --toast-message-border: 1px solid var(--toast-message-bg);

  --global-scrollbar-track-bg: hsl(0, 0%, 93%);
  --global-scrollbar-thumb-bg: hsl(0, 0%, 65%);
  --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%);

  /* ! Code editor colors */
  --topbar-bg: var(--container-bg);
  --topbar-clr: hsl(0, 0%, 30%);

  --file-type-icon-bg: var(--topbar-clr);
  --file-type-icon-clr: hsl(0, 0%, 90%);

  --cm-editor-bg: hsl(0, 0%, 98%);
  --cm-gutter-bg: hsl(0, 0%, 98%);
  --cm-gutter-elt-clr: hsl(0, 0%, 60%);
  --cm-active-gutter-elt-clr: hsl(0, 0%, 0%);
  --cm-gutters-border-right: 1px solid hsl(0, 0%, 80%);

  --cm-focused-selected-bg: hsla(0, 0%, 55%, 0.25);
  --cm-unfocused-selected-bg: hsla(0, 0%, 75%, 0.25);
  --cm-cursor-clr: hsl(0, 0%, 20%);
  --foldmarker-clr: #000;
  --cm-activeline-bg: transparent;
  --cm-active-line-bg-border: 1px solid hsl(0, 0%, 82%);

  --cm-comment: hsl(223, 14%, 65%);
  /* xml */
  --xml-default: hsl(0, 0%, 20%);
  --xml-keyword: hsl(279, 50%, 53%);
  --xml-bracket: hsl(279, 50%, 53%);
  --xml-attribute: hsl(221, 63%, 56%);
  --xml-string: hsl(1, 48%, 59%);
  --xml-comment: var(--cm-comment);

  /* css */
  --css-default: hsl(0, 0%, 20%);
  --css-qualifier: hsl(221, 63%, 56%);
  --css-property: hsl(182, 86%, 33%);
  --css-number: hsl(315, 90%, 35%);
  --css-keyword: hsl(1, 48%, 59%);
  --css-variable: var(--css-qualifier);
  --css-variable-2: var(--css-qualifier);
  --css-variable-3: var(--css-qualifier);
  --css-callee: var(--css-qualifier);
  --css-comment: var(--cm-comment);
  --css-atom: var(--css-keyword);
  --css-builtin: var(--css-number);
  --css-tag: var(--css-keyword);
  --css-string: var(--css-keyword);
  --css-def: hsl(279, 50%, 53%);

  /* js */
  --js-default: hsl(0, 0%, 20%);
  --js-keyword: hsl(279, 50%, 53%);
  --js-def: hsl(221, 63%, 56%);
  --js-variable: hsl(182, 86%, 33%);
  --js-variable-2: var(--js-variable);
  --js-property: hsl(315, 90%, 35%);
  --js-string: hsl(221, 63%, 56%);
  --js-comment: var(--cm-comment);
  --js-number: hsl(315, 90%, 35%);
  --js-atom: hsl(0, 44%, 53%);

  /* Additionals */
  --bracket-color: var(--xml-default);
  --bracket-outline: hsl(0, 0%, 63%);
}

[data-theme='light-material'] {
  color-scheme: light;
  --body-bg: hsl(0, 0%, 95%);
  --body-clr: hsl(0, 0%, 10%);
  --overlay: hsl(0, 0%, 100%, 0.3);

  --g-btn-clr: hsl(0, 0%, 30%);
  --g-btn-bg: hsl(0, 0%, 96%);
  --g-btn-hover-bg: hsl(0, 0%, 90%);
  --g-btn-hover-clr: hsl(0, 0%, 0%);
  --g-btn-padding: 0.125rem 0.625rem;
  --g-btn-border-radius: 0.325rem;

  --option-btn-bg: hsl(0, 0%, 96%);
  --option-btn-hover-bg: hsl(0, 0%, 90%);

  --input-bg: hsla(0, 0%, 70%, 0.3);
  --input-outline: 1px solid hsl(0, 0%, 50%, 0.6);
  --option-bg: hsl(0, 0%, 86%);
  --option-clr: hsl(0, 0%, 0%);

  --expand-reset-btn-border: 1px solid hsl(0, 0%, 85%);
  --expand-reset-btn-box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.2);

  --tab-change-btn-before-bg: hsl(0, 0%, 37%);
  --tab-change-btn-selected-bg: hsl(0, 0%, 85%);
  --tab-change-btn-border: 1px solid var(--tab-change-btn-before-bg);

  --slick-border: 1px solid hsl(0, 0%, 85%);

  --sidebar-toggle-icon-bg: hsl(0, 0%, 93%);
  --sidebar-toggle-btn-hover-border: 1px solid hsl(0, 0%, 79%);
  --submenu-bg: hsl(0, 0%, 95%);

  --project-list-item-hover-bg: hsl(0, 0%, 87%);

  --container-bg: hsl(0, 0%, 100%);
  --light-container-border: 1px solid hsl(0, 0%, 94%);
  --toast-message-clr: hsl(0, 0%, 95%);
  --toast-message-bg: hsl(0, 0%, 55%);
  --toast-message-border: 1px solid var(--toast-message-bg);

  --global-scrollbar-track-bg: hsl(0, 0%, 97%);
  --global-scrollbar-thumb-bg: hsl(0, 0%, 80%);
  --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 60%);

  /* ! Code editor colors */
  --topbar-bg: hsl(0, 0%, 99%);
  --topbar-clr: hsl(0, 0%, 25%);

  --file-type-icon-bg: hsl(0, 0%, 23%);
  --file-type-icon-clr: hsl(0, 0%, 90%);

  --cm-editor-bg: hsl(0, 0%, 100%);
  --cm-gutter-bg: hsl(0, 0%, 100%);
  --cm-gutter-elt-clr: hsl(0, 0%, 60%);
  --cm-active-gutter-elt-clr: hsl(0, 0%, 0%);
  --cm-gutters-border-right: 1px solid hsl(0, 0%, 94%);

  --cm-focused-selected-bg: hsl(174, 42%, 91%);
  --cm-unfocused-selected-bg: hsl(173, 39%, 95%);
  --cm-cursor-clr: hsl(0, 0%, 20%);
  --foldmarker-clr: hsl(280, 68%, 55%);
  --cm-activeline-bg: hsl(192, 19%, 97%);
  --cm-active-line-bg-border: 1px solid transparent;

  /* xml */
  --xml-default: hsl(200, 16%, 62%);
  --xml-keyword: hsl(1, 77%, 55%);
  --xml-bracket: hsl(184, 52%, 47%);
  --xml-attribute: hsl(281, 68%, 55%);
  --xml-string: hsl(85, 40%, 54%);
  --xml-comment: hsl(200, 16%, 62%);

  /* css */
  --css-default: hsl(0, 0%, 20%);
  --css-qualifier: hsl(36, 77%, 50%);
  --css-property: hsl(218, 21%, 61%);
  --css-number: hsl(13, 92%, 62%);
  --css-keyword: hsl(218, 21%, 61%);
  --css-variable: var(--css-property);
  --css-variable-2: var(--css-property);
  --css-variable-3: hsl(276, 68%, 55%);
  --css-callee: hsl(217, 38%, 55%);
  --css-comment: hwb(201 56% 32%);
  --css-atom: var(--css-property);
  --css-builtin: hsl(13, 92%, 62%);
  --css-tag: hsl(36, 77%, 50%);
  --css-string: hsl(85, 40%, 54%);
  --css-def: hsl(184, 52%, 47%);

  /* js */
  --js-default: hsl(0, 0%, 20%);
  --js-keyword: hsl(280, 68%, 55%);
  --js-def: hsl(200, 16%, 62%);
  --js-variable: hsl(200, 16%, 62%);
  --js-variable-2: hsl(217, 38%, 55%);
  --js-property: hsl(200, 16%, 62%);
  --js-string: hsl(85, 40%, 54%);
  --js-comment: hsl(200, 16%, 62%);
  --js-number: hsl(13, 92%, 62%);
  --js-atom: hsl(350, 100%, 66%);

  /* Additionals */
  --bracket-color: var(--css-default);
  --bracket-outline: hsl(0, 0%, 73%);

  .CodeMirror-matchingbracket {
    background-color: #fff;
  }
}

[data-theme='light-ayu'] {
  color-scheme: light;
  --body-bg: hsl(0, 0%, 95%);
  --body-clr: hsl(0, 0%, 10%);
  --overlay: hsl(0, 0%, 100%, 0.3);

  --g-btn-clr: hsl(0, 0%, 10%);
  --g-btn-bg: hsl(0, 0%, 95%);
  --g-btn-hover-bg: hsl(0, 0%, 92%);
  --g-btn-hover-clr: hsl(0, 0%, 0%);
  --g-btn-padding: 0.125rem 0.625rem;
  --g-btn-border-radius: 0.325rem;

  --option-btn-bg: hsl(0, 0%, 85%);
  --option-btn-hover-bg: hsl(0, 0%, 80%);

  --input-bg: hsla(0, 0%, 70%, 0.3);
  --input-outline: 1px solid hsl(0, 0%, 50%, 0.6);
  --option-bg: hsl(0, 0%, 86%);
  --option-clr: hsl(0, 0%, 0%);

  --expand-reset-btn-border: 1px solid hsl(0, 0%, 85%);
  --expand-reset-btn-box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.2);

  --tab-change-btn-before-bg: hsl(0, 0%, 37%);
  --tab-change-btn-selected-bg: hsl(0, 0%, 85%);
  --tab-change-btn-border: 1px solid var(--tab-change-btn-before-bg);

  --slick-border: 1px solid hsl(0, 0%, 89%);

  --sidebar-toggle-icon-bg: hsl(0, 0%, 96%);
  --sidebar-toggle-btn-hover-border: 1px solid hsl(0, 0%, 79%);
  --submenu-bg: hsl(0, 0%, 94%);

  --project-list-item-hover-bg: hsl(0, 0%, 87%);

  --container-bg: hsl(0, 0%, 100%);
  --light-container-border: 1px solid hsl(0, 0%, 90%);
  --toast-message-clr: hsl(0, 0%, 95%);
  --toast-message-bg: hsl(0, 0%, 15%);
  --toast-message-border: 1px solid var(--toast-message-bg);

  --global-scrollbar-track-bg: hsl(0, 0%, 97%);
  --global-scrollbar-thumb-bg: hsl(0, 0%, 85%);
  --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 65%);

  /* ! Code editor colors */
  --topbar-bg: hsl(0, 0%, 98%);
  --topbar-clr: hsl(0, 0%, 30%);

  --file-type-icon-bg: hsl(0, 0%, 30%);
  --file-type-icon-clr: hsl(0, 0%, 90%);

  --cm-editor-bg: hsl(0, 0%, 100%);
  --cm-gutter-bg: hsl(0, 0%, 100%);
  --cm-gutter-elt-clr: hsl(0, 0%, 65%);
  --cm-active-gutter-elt-clr: hsl(0, 0%, 0%);
  --cm-gutters-border-right: 1px solid hsl(0, 0%, 90%);

  --cm-focused-selected-bg: #d6e4f6;
  --cm-unfocused-selected-bg: #eaf0f9;
  --cm-cursor-clr: hsl(25, 95%, 61%);
  --foldmarker-clr: #f07171;
  --cm-activeline-bg: hsl(210, 7%, 95%);
  --cm-active-line-bg-border: 1px solid transparent;

  --bracket-color: #000;
  --bracket-outline: hsl(0, 0%, 63%);

  /* xml */
  --xml-default: #5c6166;
  --xml-keyword: #55b4d4;
  --xml-bracket: #a9d8e8;
  --xml-attribute: #f2ae49;
  --xml-string: #86b300;
  --xml-comment: #a8aaae;

  /* css */
  --css-default: hsl(0, 0%, 20%);
  --css-qualifier: #f2ae49;
  --css-property: #55b4d4;
  --css-number: #a37acc;
  --css-keyword: #f98d3e;
  --css-variable: var(--css-property);
  --css-variable-2: #5c6166;
  --css-variable-3: #f2ae49;
  --css-callee: #f07171;
  --css-comment: #adafb2;
  --css-atom: #4cc5c3;
  --css-builtin: #f2ae49;
  --css-tag: #399ee6;
  --css-string: #86b300;
  --css-def: #fa8d3e;

  /* js */
  --js-default: hsl(0, 0%, 20%);
  --js-keyword: #fa8d3e;
  --js-def: #5c6196;
  --js-variable: #5c6166;
  --js-variable-2: #5c6166;
  --js-property: #f6bf49;
  --js-string: #96b300;
  --js-comment: #b4afb2;
  --js-number: #a37acc;
  --js-atom: #a37acc;
}

/*! All Dark themes  */
[data-theme='dark-monokai'] {
  color-scheme: dark;
  --body-bg: hsl(0, 0%, 5%);
  --body-clr: hsl(0, 0%, 90%);
  --overlay: hsl(0, 0%, 0%, 0.3);

  --g-btn-clr: hsl(0, 0%, 90%);
  --g-btn-bg: hsla(235, 18%, 17%, 1);
  --g-btn-hover-bg: hsla(235, 18%, 19%, 1);
  --g-btn-hover-clr: hsl(0, 0%, 100%);
  --g-btn-padding: 0.125rem 0.625rem;
  --g-btn-border-radius: 0.325rem;

  --option-btn-bg: hsl(0, 0%, 20%);
  --option-btn-hover-bg: hsl(0, 0%, 25%);

  --input-bg: hsla(235, 18%, 30%, 0.3);
  --input-outline: 1px solid hsl(0, 0%, 50%, 0.6);
  --option-bg: #282a39;
  --option-clr: hsl(0, 0%, 100%);

  --expand-reset-btn-border: 1px solid hsl(0, 0%, 25%);
  --expand-reset-btn-box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.2);

  --tab-change-btn-before-bg: #ff5c59;
  --tab-change-btn-selected-bg: hsl(0, 0%, 25%);
  --tab-change-btn-border: 1px solid var(--tab-change-btn-before-bg);

  --slick-border: 1px solid hsla(235, 18%, 21%, 1);

  --sidebar-toggle-icon-bg: hsl(0, 0%, 12%);
  --sidebar-toggle-btn-hover-border: 1px solid hsl(0, 0%, 21%);
  --submenu-bg: hsla(235, 18%, 18%, 1);

  --project-list-item-hover-bg: hsl(0, 0%, 13%);

  --container-bg: #1e1f2b;
  --light-container-border: 1px solid hsla(235, 18%, 19%);

  --toast-message-clr: hsl(0, 0%, 5%);
  --toast-message-bg: hsl(0, 0%, 85%);
  --toast-message-border: 1px solid var(--toast-message-bg);

  --global-scrollbar-track-bg: hsla(235, 18%, 14%, 1);
  --global-scrollbar-thumb-bg: hsla(235, 18%, 35%, 1);
  --global-scrollbar-thumb-hover-bg: hsla(235, 18%, 50%, 1);

  /* ! Code editor colors */
  --topbar-bg: var(--container-bg);
  --topbar-clr: hsl(0, 0%, 85%);

  --file-type-icon-bg: hsl(0, 0%, 77%);
  --file-type-icon-clr: hsl(0, 0%, 10%);

  --cm-editor-bg: #282a3a;
  --cm-gutter-bg: #282a3a;
  --cm-gutter-elt-clr: #535763;
  --cm-active-gutter-elt-clr: hsl(0, 0%, 100%);
  --cm-gutters-border-right: 1px solid hsl(0, 0%, 20%);

  --cm-focused-selected-bg: #3d404d;
  --cm-unfocused-selected-bg: #323443;
  --cm-cursor-clr: hsl(0, 0%, 80%);
  --foldmarker-clr: #ff5c59;
  --cm-activeline-bg: #323443;
  --cm-active-line-bg-border: 1px solid hsl(0, 0%, 18%);

  /* xml */
  --xml-default: #eaf2f1;
  --xml-keyword: #ff5c59;
  --xml-bracket: #888d94;
  --xml-attribute: #98d1bb;
  --xml-string: #ffd76d;
  --xml-comment: #696d77;

  /* css */
  --css-default: #eaf2f1;
  --css-qualifier: #bad152;
  --css-property: #dff2f1;
  --css-number: #c39ac9;
  --css-keyword: #9cd1bb;
  --css-variable: var(--css-property);
  --css-variable-2: var(--css-property);
  --css-variable-3: #9cd1bb;
  --css-callee: #bad152;
  --css-comment: #696d77;
  --css-atom: #9cd1bb;
  --css-builtin: #ff9b5e;
  --css-tag: #ff657a;
  --css-string: #ffd76d;
  --css-def: #ff657a;

  /* js */
  --js-default: hsl(0, 0%, 90%);
  --js-keyword: #89d1bb;
  --js-def: #c39ac9;
  --js-variable: #ffffff;
  --js-variable-2: #ffffff;
  --js-property: #bad761;
  --js-string: #ffd76d;
  --js-comment: #696d77;
  --js-number: #c39ac9;
  --js-atom: #c39ac9;

  /* === Matching Brackets === */
  --bracket-color: var(--xml-default);
  --matching-bracket-bg: #282a3a;
  --bracket-outline: hsl(0, 0%, 37%);
}
[data-theme='dark-dracula'] {
  color-scheme: dark;
  --body-bg: hsl(0, 0%, 5%);
  --body-clr: hsl(0, 0%, 90%);
  --overlay: hsl(0, 0%, 0%, 0.3);

  --g-btn-clr: hsl(0, 0%, 90%);
  --g-btn-bg: hsla(235, 14%, 17%, 1);
  --g-btn-hover-bg: hsla(235, 14%, 19%, 1);
  --g-btn-hover-clr: hsl(0, 0%, 100%);
  --g-btn-padding: 0.125rem 0.625rem;
  --g-btn-border-radius: 0.325rem;

  --option-btn-bg: hsla(235, 14%, 20%, 1);
  --option-btn-hover-bg: hsla(235, 14%, 25%, 1);

  --input-bg: hsla(235, 14%, 30%, 0.3);
  --input-outline: 1px solid hsl(0, 0%, 50%, 0.6);
  --option-bg: #2b2c39;
  --option-clr: hsl(0, 0%, 100%);

  --expand-reset-btn-border: 1px solid hsl(0, 0%, 25%);
  --expand-reset-btn-box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.2);

  --tab-change-btn-before-bg: #f279c6;
  --tab-change-btn-selected-bg: hsl(0, 0%, 25%);
  --tab-change-btn-border: 1px solid var(--tab-change-btn-before-bg);

  --slick-border: 1px solid hsla(235, 14%, 21%, 1);

  --sidebar-toggle-icon-bg: hsl(0, 0%, 12%);
  --sidebar-toggle-btn-hover-border: 1px solid hsl(0, 0%, 21%);
  --submenu-bg: hsla(235, 14%, 18%, 1);

  --project-list-item-hover-bg: hsl(0, 0%, 13%);

  --container-bg: hsla(235, 14%, 15%, 1);
  --light-container-border: 1px solid hsla(235, 18%, 19%);

  --toast-message-clr: hsl(0, 0%, 5%);
  --toast-message-bg: hsl(0, 0%, 85%);
  --toast-message-border: 1px solid var(--toast-message-bg);

  --global-scrollbar-track-bg: hsla(235, 14%, 15%, 1);
  --global-scrollbar-thumb-bg: hsla(235, 14%, 35%, 1);
  --global-scrollbar-thumb-hover-bg: hsla(235, 14%, 50%, 1);

  /* ! Code editor colors */
  --topbar-bg: var(--container-bg);
  --topbar-clr: hsl(0, 0%, 85%);

  --file-type-icon-bg: hsl(0, 0%, 77%);
  --file-type-icon-clr: hsl(0, 0%, 10%);

  --cm-editor-bg: #282a36;
  --cm-gutter-bg: #282a36;
  --cm-gutter-elt-clr: #6272a4;
  --cm-active-gutter-elt-clr: hsl(0, 0%, 100%);
  --cm-gutters-border-right: 1px solid hsl(0, 0%, 20%);

  --cm-focused-selected-bg: #44475a;
  --cm-unfocused-selected-bg: #363948;
  --cm-cursor-clr: hsl(0, 0%, 80%);
  --foldmarker-clr: #ff79c6;
  --cm-activeline-bg: transparent;
  --cm-active-line-bg-border: 1px solid hsla(235, 14%, 27%, 1);

  /* xml */
  --xml-default: #ffffff;
  --xml-keyword: #ff79c6;
  --xml-bracket: #ffffff;
  --xml-attribute: #4bfa7b;
  --xml-string: #f1fa8c;
  --xml-comment: #6272a4;

  /* css */
  --css-default: #ffffff;
  --css-qualifier: #4efa7b;
  --css-property: #8be9fd;
  --css-number: #bd93f9;
  --css-keyword: #bd93f9;
  --css-variable: var(--css-property);
  --css-variable-2: #ffffff;
  --css-variable-3: #4efa7b;
  --css-callee: #8be9fd;
  --css-comment: #6272a4;
  --css-atom: #bd93f9;
  --css-builtin: #42dd6d;
  --css-tag: #ff6d9d;
  --css-string: #f1fa8c;
  --css-def: #ff6d9d;

  /* js */
  --js-default: hsl(0, 0%, 90%);
  --js-keyword: #ff79c6;
  --js-def: #bd93f9;
  --js-variable: #bd93f9;
  --js-variable-2: #ffffff;
  --js-property: #3ffa7b;
  --js-string: #f1fa8c;
  --js-comment: #6272a4;
  --js-number: #bd93f9;
  --js-atom: #bd93f9;

  /* === Matching Brackets === */
  --bracket-color: var(--xml-default);
  --matching-bracket-bg: transparent;
  --bracket-outline: hsla(235, 14%, 42%, 1);
}
[data-theme='dark-one-monokai'] {
  color-scheme: dark;
  --body-bg: hsl(0, 0%, 5%);
  --body-clr: hsl(0, 0%, 90%);
  --overlay: hsl(0, 0%, 0%, 0.3);

  --g-btn-clr: hsl(0, 0%, 90%);
  --g-btn-bg: hsl(216, 13%, 17%);
  --g-btn-hover-bg: hsl(216, 13%, 19%);
  --g-btn-hover-clr: hsl(0, 0%, 100%);
  --g-btn-padding: 0.125rem 0.625rem;
  --g-btn-border-radius: 0.325rem;

  --option-btn-bg: hsl(216, 13%, 20%);
  --option-btn-hover-bg: hsl(216, 13%, 25%);

  --input-bg: hsla(235, 14%, 30%, 0.3);
  --input-outline: 1px solid hsl(0, 0%, 50%, 0.6);
  --option-bg: #2b2c39;
  --option-clr: hsl(0, 0%, 100%);

  --expand-reset-btn-border: 1px solid hsl(0, 0%, 25%);
  --expand-reset-btn-box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.2);

  --tab-change-btn-before-bg: hsl(187, 47%, 55%);
  --tab-change-btn-selected-bg: hsl(0, 0%, 25%);
  --tab-change-btn-border: 1px solid var(--tab-change-btn-before-bg);

  --slick-border: 1px solid hsl(216, 13%, 21%);

  --sidebar-toggle-icon-bg: hsl(0, 0%, 12%);
  --sidebar-toggle-btn-hover-border: 1px solid hsl(0, 0%, 21%);
  --submenu-bg: hsl(216, 13%, 18%);

  --project-list-item-hover-bg: hsl(0, 0%, 13%);

  --container-bg: hsl(216, 13%, 15%);
  --light-container-border: 1px solid hsl(216, 13%, 19%);

  --toast-message-clr: hsl(0, 0%, 5%);
  --toast-message-bg: hsl(0, 0%, 85%);
  --toast-message-border: 1px solid var(--toast-message-bg);

  --global-scrollbar-track-bg: hsl(216, 13%, 15%);
  --global-scrollbar-thumb-bg: hsl(216, 13%, 35%);
  --global-scrollbar-thumb-hover-bg: hsl(216, 13%, 50%);

  /* ! Code editor colors */
  --topbar-bg: var(--container-bg);
  --topbar-clr: hsl(0, 0%, 85%);

  --file-type-icon-bg: hsl(0, 0%, 77%);
  --file-type-icon-clr: hsl(0, 0%, 10%);

  --cm-editor-bg: hsl(220, 13%, 18%);
  --cm-gutter-bg: hsl(220, 13%, 18%);
  --cm-gutter-elt-clr: #495162;
  --cm-active-gutter-elt-clr: hsl(0, 0%, 90%);
  --cm-gutters-border-right: 1px solid hsl(0, 0%, 20%);

  --cm-focused-selected-bg: hsl(221, 13%, 26%);
  --cm-unfocused-selected-bg: hsl(221, 14%, 23%);
  --cm-cursor-clr: hsl(0, 0%, 95%);
  --foldmarker-clr: #e06c75;
  --cm-activeline-bg: hsl(220, 14%, 22%);
  --cm-active-line-bg-border: 1px solid transparent;

  /* xml */
  --xml-default: #bbbbbb;
  --xml-keyword: #e06c75;
  --xml-bracket: #bbbbbb;
  --xml-attribute: #85c379;
  --xml-string: #e5c07b;
  --xml-comment: #676f7d;

  /* css */
  --css-default: hsl(0, 0%, 80%);
  --css-qualifier: #98c379;
  --css-property: #9fb2bf;
  --css-number: #c678dd;
  --css-keyword: #e06c75;
  --css-variable: #56b6c2;
  --css-variable-2: #56b1ab;
  --css-variable-3: #98c379;
  --css-callee: #98c379;
  --css-comment: #676f7d;
  --css-atom: #56b1ab;
  --css-builtin: #98aa59;
  --css-tag: #e06c75;
  --css-string: #da9340;
  --css-def: #e06c75;

  /* js */
  --js-default: hsl(0, 0%, 80%);
  --js-keyword: #3ba9c2;
  --js-def: #61afe3;
  --js-variable: #98c379;
  --js-variable-2: #e06c75;
  --js-property: #5fafef;
  --js-string: #e5c07b;
  --js-comment: #676f7d;
  --js-number: #c678dd;
  --js-atom: #3ba9c2;

  /* === Matching Brackets === */
  --bracket-color: var(--xml-default);
  --matching-bracket-bg: transparent;
  --bracket-outline: hsla(235, 14%, 42%, 1);
}
[data-theme='dark-github'] {
  color-scheme: dark;
  --body-bg: hsl(0, 0%, 5%);
  --body-clr: hsl(0, 0%, 90%);
  --overlay: hsl(0, 0%, 0%, 0.3);

  --g-btn-clr: hsl(0, 0%, 90%);
  --g-btn-bg: hsl(215, 18%, 17%);
  --g-btn-hover-bg: hsl(215, 18%, 19%);
  --g-btn-hover-clr: hsl(0, 0%, 100%);
  --g-btn-padding: 0.125rem 0.625rem;
  --g-btn-border-radius: 0.325rem;

  --option-btn-bg: hsl(215, 18%, 20%);
  --option-btn-hover-bg: hsl(215, 18%, 25%);

  --input-bg: hsl(215, 18%, 30%, 0.3);
  --input-outline: 1px solid hsl(0, 0%, 50%, 0.6);
  --option-bg: #262c36;
  --option-clr: hsl(0, 0%, 100%);

  --expand-reset-btn-border: 1px solid hsl(0, 0%, 25%);
  --expand-reset-btn-box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.2);

  --tab-change-btn-before-bg: #46a6ff;
  --tab-change-btn-selected-bg: hsl(0, 0%, 25%);
  --tab-change-btn-border: 1px solid var(--tab-change-btn-before-bg);

  --slick-border: 1px solid hsl(216, 13%, 21%);

  --sidebar-toggle-icon-bg: hsl(215, 18%, 17%);
  --sidebar-toggle-btn-hover-border: 1px solid hsl(215, 18%, 22%);
  --submenu-bg: hsl(215, 18%, 18%);

  --project-list-item-hover-bg: hsl(0, 0%, 13%);

  --container-bg: hsl(215, 18%, 13%);
  --light-container-border: 1px solid hsl(215, 18%, 19%);

  --toast-message-clr: hsl(0, 0%, 5%);
  --toast-message-bg: hsl(0, 0%, 85%);
  --toast-message-border: 1px solid var(--toast-message-bg);

  --global-scrollbar-track-bg: hsl(216, 13%, 15%);
  --global-scrollbar-thumb-bg: hsl(216, 13%, 35%);
  --global-scrollbar-thumb-hover-bg: hsl(216, 13%, 50%);

  /* ! Code editor colors */
  --topbar-bg: var(--container-bg);
  --topbar-clr: hsl(0, 0%, 85%);

  --file-type-icon-bg: hsl(0, 0%, 77%);
  --file-type-icon-clr: hsl(0, 0%, 10%);

  --cm-editor-bg: #22272e;
  --cm-gutter-bg: #22272e;
  --cm-gutter-elt-clr: #636e7b;
  --cm-active-gutter-elt-clr: hsl(0, 0%, 80%);
  --cm-gutters-border-right: 1px solid hsl(0, 0%, 20%);

  --cm-focused-selected-bg: #264f78;
  --cm-unfocused-selected-bg: hsl(211, 39%, 23%);
  --cm-cursor-clr: #6cb6ff;
  --foldmarker-clr: #6cb6ff;
  --cm-activeline-bg: #292e36;
  --cm-active-line-bg-border: 1px solid transparent;

  /* xml */
  --xml-default: #adbac7;
  --xml-keyword: #8ddb8c;
  --xml-bracket: #adbac7;
  --xml-attribute: #6cb6ff;
  --xml-string: #96d0ff;
  --xml-comment: #768390;

  /* css */
  --css-default: hsl(0, 0%, 80%);
  --css-qualifier: #6cb6ff;
  --css-property: #6cb6ff;
  --css-number: #6cb6ff;
  --css-keyword: #6cb6ff;
  --css-variable: #56b6c2;
  --css-variable-2: #f69d50;
  --css-variable-3: #6cb6ff;
  --css-callee: #6cb6ff;
  --css-comment: #768390;
  --css-atom: #6cb6ff;
  --css-builtin: #6cb6ff;
  --css-tag: #8ddb8c;
  --css-string: #96d0ff;
  --css-def: #f4684e;

  /* js */
  --js-default: hsl(0, 0%, 80%);
  --js-keyword: #f4684e;
  --js-def: #6cb6ff;
  --js-variable: #6cb6ff;
  --js-variable-2: #adbac7;
  --js-property: #dcbdfb;
  --js-string: #96d0ff;
  --js-comment: #768390;
  --js-number: #6cb6ff;
  --js-atom: #6cb6ff;

  /* === Matching Brackets === */
  --bracket-color: var(--xml-default);
  --matching-bracket-bg: transparent;
  --bracket-outline: hsla(235, 14%, 42%, 1);
}
[data-theme='dark-material'] {
  color-scheme: dark;
  --body-bg: hsl(0, 0%, 5%);
  --body-clr: hsl(0, 0%, 90%);
  --overlay: hsl(0, 0%, 0%, 0.3);

  --g-btn-clr: hsl(0, 0%, 90%);
  --g-btn-bg: hsl(0, 0%, 15%);
  --g-btn-hover-bg: hsl(0, 0%, 18%);
  --g-btn-hover-clr: hsl(0, 0%, 100%);
  --g-btn-padding: 0.125rem 0.625rem;
  --g-btn-border-radius: 0.325rem;

  --option-btn-bg: hsl(0, 0%, 20%);
  --option-btn-hover-bg: hsl(0, 0%, 25%);

  --input-bg: hsl(0, 0%, 25%, 0.3);
  --input-outline: 1px solid hsl(0, 0%, 50%, 0.6);
  --option-bg: #252525;
  --option-clr: hsl(0, 0%, 100%);

  --expand-reset-btn-border: 1px solid hsl(0, 0%, 25%);
  --expand-reset-btn-box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.2);

  --tab-change-btn-before-bg: hsl(18, 92%, 61%);
  --tab-change-btn-selected-bg: hsl(0, 0%, 25%);
  --tab-change-btn-border: 1px solid var(--tab-change-btn-before-bg);

  --slick-border: 1px solid hsl(0, 0%, 21%);

  --sidebar-toggle-icon-bg: hsl(0, 0%, 17%);
  --sidebar-toggle-btn-hover-border: 1px solid hsl(215, 18%, 22%);
  --submenu-bg: hsl(0, 0%, 14%);

  --project-list-item-hover-bg: hsl(0, 0%, 13%);

  --container-bg: hsl(0, 0%, 10%);
  --light-container-border: 1px solid hsl(0, 0%, 15%);

  --toast-message-clr: hsl(0, 0%, 5%);
  --toast-message-bg: hsl(0, 0%, 85%);
  --toast-message-border: 1px solid var(--toast-message-bg);

  --global-scrollbar-track-bg: hsl(0, 0%, 15%);
  --global-scrollbar-thumb-bg: hsl(0, 0%, 35%);
  --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%);

  /* ! Code editor colors */
  --topbar-bg: var(--container-bg);
  --topbar-clr: hsl(0, 0%, 85%);

  --file-type-icon-bg: hsl(0, 0%, 77%);
  --file-type-icon-clr: hsl(0, 0%, 10%);

  --cm-editor-bg: #212121;
  --cm-gutter-bg: #212121;
  --cm-gutter-elt-clr: #424242;
  --cm-active-gutter-elt-clr: hsl(0, 0%, 60%);
  --cm-gutters-border-right: 1px solid hsl(0, 0%, 20%);

  --cm-focused-selected-bg: #353535;
  --cm-unfocused-selected-bg: #2c2c2c;
  --cm-cursor-clr: #ffd700;
  --foldmarker-clr: #ffd700;
  --cm-activeline-bg: hsl(0, 0%, 9%);
  --cm-active-line-bg-border: 1px solid transparent;

  /* xml */
  --xml-default: #eeffff;
  --xml-keyword: #f0716a;
  --xml-bracket: #7bdbff;
  --xml-attribute: #c792ea;
  --xml-string: #c3e88d;
  --xml-comment: #4a4a4a;

  /* css */
  --css-default: hsl(0, 0%, 90%);
  --css-qualifier: #ffcb6b;
  --css-property: #b2ccd6;
  --css-number: hsl(18, 92%, 61%);
  --css-keyword: #eeffff;
  --css-variable: #eefff1;
  --css-variable-2: #eefff1;
  --css-variable-3: #c792ea;
  --css-callee: #69aaff;
  --css-comment: #4a4a4a;
  --css-atom: #eeffff;
  --css-builtin: hsl(18, 92%, 61%);
  --css-tag: #ffcb6b;
  --css-string: #c3e88d;
  --css-def: #89ddf8;

  /* js */
  --js-default: hsl(0, 0%, 80%);
  --js-keyword: #c792ea;
  --js-def: #eeffff;
  --js-variable: #eeffff;
  --js-variable-2: #eeffff;
  --js-property: #82aaff;
  --js-string: #c3e88d;
  --js-comment: #4a4a4a;
  --js-number: #f76f39;
  --js-atom: #ff9cac;

  /* === Matching Brackets === */
  --bracket-color: var(--xml-default);
  --matching-bracket-bg: #212121;
  --bracket-outline: hsl(17, 92%, 70%, 0.4);
}
[data-theme='dark-ayu-mirage'] {
  color-scheme: dark;
  --body-bg: hsl(0, 0%, 5%);
  --body-clr: hsl(0, 0%, 90%);
  --overlay: hsl(0, 0%, 0%, 0.3);

  --g-btn-clr: hsl(0, 0%, 90%);
  --g-btn-bg: hsl(222, 22%, 18%);
  --g-btn-hover-bg: hsl(222, 22%, 21%);
  --g-btn-hover-clr: hsl(0, 0%, 100%);
  --g-btn-padding: 0.125rem 0.625rem;
  --g-btn-border-radius: 0.325rem;

  --option-btn-bg: hsl(222, 22%, 20%);
  --option-btn-hover-bg: hsl(222, 22%, 26%);

  --input-bg: hsl(222, 22%, 30%, 0.3);
  --input-outline: 1px solid hsl(0, 0%, 50%, 0.6);
  --option-bg: #272d3d;
  --option-clr: hsl(0, 0%, 100%);

  --expand-reset-btn-border: 1px solid hsl(0, 0%, 25%);
  --expand-reset-btn-box-shadow: 0 1px 2px hsla(0, 0%, 50%, 0.2);

  --tab-change-btn-before-bg: hsl(223, 30%, 65%);
  --tab-change-btn-selected-bg: hsl(0, 0%, 25%);
  --tab-change-btn-border: 1px solid var(--tab-change-btn-before-bg);

  --slick-border: 1px solid hsl(222, 22%, 23%);

  --sidebar-toggle-icon-bg: hsl(222, 22%, 21%);
  --sidebar-toggle-btn-hover-border: 1px solid hsl(222, 22%, 25%);
  --submenu-bg: hsl(222, 22%, 17%);

  --project-list-item-hover-bg: hsl(0, 0%, 13%);

  --container-bg: hsl(222, 22%, 15%);
  --light-container-border: 1px solid hsl(222, 22%, 18%);

  --toast-message-clr: hsl(0, 0%, 5%);
  --toast-message-bg: hsl(0, 0%, 85%);
  --toast-message-border: 1px solid var(--toast-message-bg);

  --global-scrollbar-track-bg: hsl(222, 22%, 15%);
  --global-scrollbar-thumb-bg: hsl(222, 22%, 35%);
  --global-scrollbar-thumb-hover-bg: hsl(222, 22%, 50%);

  /* ! Code editor colors */
  --topbar-bg: var(--container-bg);
  --topbar-clr: hsl(0, 0%, 85%);

  --file-type-icon-bg: hsl(0, 0%, 77%);
  --file-type-icon-clr: hsl(0, 0%, 10%);

  --cm-editor-bg: #242936;
  --cm-gutter-bg: #242936;
  --cm-gutter-elt-clr: #4d535d;
  --cm-active-gutter-elt-clr: hsl(0, 0%, 60%);
  --cm-gutters-border-right: 1px solid hsl(0, 0%, 20%);

  --cm-focused-selected-bg: #2b4768;
  --cm-unfocused-selected-bg: #273950;
  --cm-cursor-clr: #ffd700;
  --foldmarker-clr: #ffd700;
  --cm-activeline-bg: #1a1f29;
  --cm-active-line-bg-border: 1px solid transparent;

  /* xml */
  --xml-default: #cccac2;
  --xml-keyword: #5ccfe6;
  --xml-bracket: #3b7787;
  --xml-attribute: #ffd173;
  --xml-string: #caff80;
  --xml-comment: #6e7c8e;

  /* css */
  --css-default: hsl(0, 0%, 90%);
  --css-qualifier: #ffcb6b;
  --css-property: #b2ccd6;
  --css-number: hsl(18, 92%, 61%);
  --css-keyword: #eeffff;
  --css-variable: #eefff1;
  --css-variable-2: #eefff1;
  --css-variable-3: #c792ea;
  --css-callee: #69aaff;
  --css-comment: #6e7c8e;
  --css-atom: #eeffff;
  --css-builtin: hsl(18, 92%, 61%);
  --css-tag: #ffcb6b;
  --css-string: #c3e88d;
  --css-def: #89ddf8;

  /* js */
  --js-default: hsl(0, 0%, 80%);
  --js-keyword: #c792ea;
  --js-def: #eeffff;
  --js-variable: #eeffff;
  --js-variable-2: #eeffff;
  --js-property: #82aaff;
  --js-string: #c3e88d;
  --js-comment: #6e7c8e;
  --js-number: #f76f39;
  --js-atom: #ff9cac;

  /* === Matching Brackets === */
  --bracket-color: var(--xml-default);
  --matching-bracket-bg: #212121;
  --bracket-outline: hsl(17, 92%, 70%, 0.4);
}
[data-theme='dark-shades-of-purple'] {
  color-scheme: dark;
  /* variables goes here */
}
