@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-700.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-600.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-500.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-300.woff2") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-200.woff2") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-v21-latin-400.woff2") format("woff2");
  font-weight: 400;
}
* {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  margin: 0;
  background-color: var(--body-bg);
  color: var(--body-clr);
  --main-transition-duration: 350ms;
  --content-transition-duration-scale: 500ms;
  --content-transition-duration-translate: 550ms;
}

div:focus,
div:focus-visible {
  outline: none;
}

img {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  color: var(--global-button-clr);
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
button:active {
  opacity: 0.8;
}
button:hover {
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
select {
  min-width: 0;
}
input:focus, input:focus-visible,
textarea:focus,
textarea:focus-visible,
select:focus,
select:focus-visible {
  outline: 1px solid hsla(0, 0%, 50%, 0.6);
  outline-offset: 2px;
}

input {
  min-width: 0;
}

svg,
i {
  pointer-events: none;
}

main {
  height: 100vh;
  height: 100svh;
  display: flex;
}

.side-bar {
  min-height: 100%;
}

.homepage {
  flex-grow: 1;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: var(--global-scrollbar-track-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--global-scrollbar-thumb-bg);
  border: 3px solid var(--global-scrollbar-track-bg);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--global-scrollbar-thumb-hover-bg);
}

.homepage::-webkit-scrollbar-corner {
  display: none;
}

:root {
  --white: hsl(0, 0%, 0%);
  --overlay-dark: hsla(0, 0%, 100%, 0.3);
  --white-transparent: hsla(0, 0%, 0%, 0.075);
  --outline-hover: hsla(0, 0%, 35%, 0.7);
  --body-bg: hsl(0, 0%, 95%);
  --body-clr: hsl(0, 0%, 10%);
  --global-button-clr: hsl(0, 0%, 10%);
  --global-button-bg: hsl(0, 0%, 85%);
  --global-button-hover-bg: hsl(0, 0%, 82%);
  --global-button-padding: 0.125rem 0.625rem;
  --global-button-border-radius: 0.325rem;
  --slick-border-clr: hsl(0, 0%, 79%);
  --global-scrollbar-track-bg: hsl(0, 0%, 93%);
  --global-scrollbar-thumb-bg: hsl(0, 0%, 65%);
  --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%);
  --each-page-body-bg: hsl(0, 0%, 93%);
  --each-page-body-border: hsl(0, 0%, 87%);
  --sidebar-bg: hsl(0, 0%, 93%);
  --sidebar-border-clr: hsl(0, 0%, 87%);
  --sidebar-clr: hsl(0, 0%, 17%);
  --sidebar-toggle-btn-hover-border: hsl(0, 0%, 79%);
  --sidebar-toggle-icon-fill: hsl(0, 0%, 88%);
  --profile-image-svg-fill: hsl(0, 0%, 5%);
  --profile-img-outline-hover: hsla(0, 0%, 35%, 0.7);
  --primary-link-hover-clr: hsl(0, 0%, 0%);
  --primary-menu-link-hover-bg: hsl(0, 0%, 87%);
  --sub-menu-bg: hsl(0, 0%, 87%);
  --sub-menu-button-hover-bg: hsl(0, 0%, 87%);
  --create-new-project-btn-bg: hsl(0, 0%, 85%);
  --create-new-project-btn-hover-bg: hsl(0, 0%, 83%);
  --project-list-item-hover-bg: hsl(0, 0%, 83%);
  --project-list-item-created-outline: hsl(0, 0%, 87%);
  --sub-menu-option-hover-bg: hsl(0, 0%, 80%);
  --particle-bg: hsla(0, 0%, 7%, 0.7);
  --banner-clr: hsl(0, 0%, 20%);
  --banner-bg: hsla(0, 0%, 50%, 0.1);
  --p-username-clr: hsl(0, 0%, 50%);
  --social-link-form-bg: hsl(0, 0%, 91%);
  --profile-edit-form-bg: hsl(0, 0%, 91%);
  --input-textarea-bg: hsla(0, 0%, 0%, 0.075);
  --setting-border: 1px solid hsla(0, 0%, 50%, 0.2);
  --option-bg: hsl(0, 0%, 86%);
  --option-clr: hsl(0, 0%, 0%);
  --form-bg-clr: hsl(0, 0%, 91%);
  --form-bg-layer-bg: hsla(0, 0%, 100%, 0.3);
  --delete-message-modal-suggested-span: hsl(0, 0%, 36%);
  --toast-message-clr: hsl(0, 0%, 20%);
  --toast-message-bg: hsl(0, 0%, 80%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: hsl(0, 0%, 100%);
    --overlay-dark: hsla(0, 0%, 0%, 0.3);
    --white-transparent: hsla(0, 0%, 100%, 0.075);
    --outline-hover: hsla(0, 0%, 65%, 0.7);
    --body-bg: hsl(0, 0%, 5%);
    --body-clr: hsl(0, 0%, 90%);
    --global-button-clr: hsl(0, 0%, 90%);
    --global-button-bg: hsl(0, 0%, 15%);
    --global-button-hover-bg: hsl(0, 0%, 18%);
    --global-button-padding: 0.125rem 0.625rem;
    --global-button-border-radius: 0.325rem;
    --slick-border-clr: hsl(0, 0%, 21%);
    --global-scrollbar-track-bg: hsl(0, 0%, 7%);
    --global-scrollbar-thumb-bg: hsl(0, 0%, 35%);
    --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%);
    --each-page-body-bg: hsl(0, 0%, 7%);
    --each-page-body-border: hsl(0, 0%, 13%);
    --sidebar-bg: hsl(0, 0%, 7%);
    --sidebar-border-clr: hsl(0, 0%, 13%);
    --sidebar-clr: hsl(0, 0%, 83%);
    --sidebar-toggle-btn-hover-border: hsl(0, 0%, 21%);
    --sidebar-toggle-icon-fill: hsl(0, 0%, 12%);
    --profile-image-svg-fill: hsl(0, 0%, 95%);
    --profile-img-outline-hover: hsla(0, 0%, 65%, 0.7);
    --primary-link-hover-clr: hsl(0, 0%, 100%);
    --primary-menu-link-hover-bg: hsl(0, 0%, 13%);
    --sub-menu-bg: hsl(0, 0%, 13%);
    --sub-menu-button-hover-bg: hsl(0, 0%, 13%);
    --create-new-project-btn-bg: hsl(0, 0%, 15%);
    --create-new-project-btn-hover-bg: hsl(0, 0%, 17%);
    --project-list-item-hover-bg: hsl(0, 0%, 17%);
    --project-list-item-created-outline: hsl(0, 0%, 13%);
    --sub-menu-option-hover-bg: hsl(0, 0%, 20%);
    --particle-bg: hsla(0, 0%, 100%, 0.7);
    --banner-clr: hsl(0, 0%, 80%);
    --banner-bg: hsla(0, 0%, 50%, 0.1);
    --p-username-clr: hsl(0, 0%, 50%);
    --social-link-form-bg: hsl(0, 0%, 9%);
    --profile-edit-form-bg: hsl(0, 0%, 9%);
    --input-textarea-bg: hsla(0, 0%, 100%, 0.075);
    --setting-border: 1px solid hsla(0, 0%, 50%, 0.2);
    --option-bg: hsl(0, 0%, 14%);
    --option-clr: hsl(0, 0%, 100%);
    --form-bg-clr: hsl(0, 0%, 9%);
    --form-bg-layer-bg: hsla(0, 0%, 0%, 0.3);
    --delete-message-modal-suggested-span: hsl(0, 0%, 64%);
    --toast-message-clr: hsl(0, 0%, 100%);
    --toast-message-bg: hsl(0, 0%, 40%);
  }
}
[data-theme=light] {
  color-scheme: light;
  --white: hsl(0, 0%, 0%);
  --overlay-dark: hsla(0, 0%, 100%, 0.3);
  --white-transparent: hsla(0, 0%, 0%, 0.075);
  --outline-hover: hsla(0, 0%, 35%, 0.7);
  --body-bg: hsl(0, 0%, 95%);
  --body-clr: hsl(0, 0%, 10%);
  --global-button-clr: hsl(0, 0%, 10%);
  --global-button-bg: hsl(0, 0%, 85%);
  --global-button-hover-bg: hsl(0, 0%, 82%);
  --global-button-padding: 0.125rem 0.625rem;
  --global-button-border-radius: 0.325rem;
  --slick-border-clr: hsl(0, 0%, 79%);
  --global-scrollbar-track-bg: hsl(0, 0%, 93%);
  --global-scrollbar-thumb-bg: hsl(0, 0%, 65%);
  --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%);
  --each-page-body-bg: hsl(0, 0%, 93%);
  --each-page-body-border: hsl(0, 0%, 87%);
  --sidebar-bg: hsl(0, 0%, 93%);
  --sidebar-border-clr: hsl(0, 0%, 87%);
  --sidebar-clr: hsl(0, 0%, 17%);
  --sidebar-toggle-btn-hover-border: hsl(0, 0%, 79%);
  --sidebar-toggle-icon-fill: hsl(0, 0%, 88%);
  --profile-image-svg-fill: hsl(0, 0%, 5%);
  --profile-img-outline-hover: hsla(0, 0%, 35%, 0.7);
  --primary-link-hover-clr: hsl(0, 0%, 0%);
  --primary-menu-link-hover-bg: hsl(0, 0%, 87%);
  --sub-menu-bg: hsl(0, 0%, 87%);
  --sub-menu-button-hover-bg: hsl(0, 0%, 87%);
  --create-new-project-btn-bg: hsl(0, 0%, 85%);
  --create-new-project-btn-hover-bg: hsl(0, 0%, 83%);
  --project-list-item-hover-bg: hsl(0, 0%, 83%);
  --project-list-item-created-outline: hsl(0, 0%, 87%);
  --sub-menu-option-hover-bg: hsl(0, 0%, 80%);
  --particle-bg: hsla(0, 0%, 7%, 0.7);
  --banner-clr: hsl(0, 0%, 20%);
  --banner-bg: hsla(0, 0%, 50%, 0.1);
  --p-username-clr: hsl(0, 0%, 50%);
  --social-link-form-bg: hsl(0, 0%, 91%);
  --profile-edit-form-bg: hsl(0, 0%, 91%);
  --input-textarea-bg: hsla(0, 0%, 0%, 0.075);
  --setting-border: 1px solid hsla(0, 0%, 50%, 0.2);
  --option-bg: hsl(0, 0%, 86%);
  --option-clr: hsl(0, 0%, 0%);
  --form-bg-clr: hsl(0, 0%, 91%);
  --form-bg-layer-bg: hsla(0, 0%, 100%, 0.3);
  --delete-message-modal-suggested-span: hsl(0, 0%, 36%);
  --toast-message-clr: hsl(0, 0%, 20%);
  --toast-message-bg: hsl(0, 0%, 80%);
}

[data-theme=dark] {
  color-scheme: dark;
  --white: hsl(0, 0%, 100%);
  --overlay-dark: hsla(0, 0%, 0%, 0.3);
  --white-transparent: hsla(0, 0%, 100%, 0.075);
  --outline-hover: hsla(0, 0%, 65%, 0.7);
  --body-bg: hsl(0, 0%, 5%);
  --body-clr: hsl(0, 0%, 90%);
  --global-button-clr: hsl(0, 0%, 90%);
  --global-button-bg: hsl(0, 0%, 15%);
  --global-button-hover-bg: hsl(0, 0%, 18%);
  --global-button-padding: 0.125rem 0.625rem;
  --global-button-border-radius: 0.325rem;
  --slick-border-clr: hsl(0, 0%, 21%);
  --global-scrollbar-track-bg: hsl(0, 0%, 7%);
  --global-scrollbar-thumb-bg: hsl(0, 0%, 35%);
  --global-scrollbar-thumb-hover-bg: hsl(0, 0%, 50%);
  --each-page-body-bg: hsl(0, 0%, 7%);
  --each-page-body-border: hsl(0, 0%, 13%);
  --sidebar-bg: hsl(0, 0%, 7%);
  --sidebar-border-clr: hsl(0, 0%, 13%);
  --sidebar-clr: hsl(0, 0%, 83%);
  --sidebar-toggle-btn-hover-border: hsl(0, 0%, 21%);
  --sidebar-toggle-icon-fill: hsl(0, 0%, 12%);
  --profile-image-svg-fill: hsl(0, 0%, 95%);
  --profile-img-outline-hover: hsla(0, 0%, 65%, 0.7);
  --primary-link-hover-clr: hsl(0, 0%, 100%);
  --primary-menu-link-hover-bg: hsl(0, 0%, 13%);
  --sub-menu-bg: hsl(0, 0%, 13%);
  --sub-menu-button-hover-bg: hsl(0, 0%, 13%);
  --create-new-project-btn-bg: hsl(0, 0%, 15%);
  --create-new-project-btn-hover-bg: hsl(0, 0%, 17%);
  --project-list-item-hover-bg: hsl(0, 0%, 17%);
  --project-list-item-created-outline: hsl(0, 0%, 13%);
  --sub-menu-option-hover-bg: hsl(0, 0%, 20%);
  --particle-bg: hsla(0, 0%, 100%, 0.7);
  --banner-clr: hsl(0, 0%, 80%);
  --banner-bg: hsla(0, 0%, 50%, 0.1);
  --p-username-clr: hsl(0, 0%, 50%);
  --social-link-form-bg: hsl(0, 0%, 9%);
  --profile-edit-form-bg: hsl(0, 0%, 9%);
  --input-textarea-bg: hsla(0, 0%, 100%, 0.075);
  --setting-border: 1px solid hsla(0, 0%, 50%, 0.2);
  --option-bg: hsl(0, 0%, 14%);
  --option-clr: hsl(0, 0%, 100%);
  --form-bg-clr: hsl(0, 0%, 9%);
  --form-bg-layer-bg: hsla(0, 0%, 0%, 0.3);
  --delete-message-modal-suggested-span: hsl(0, 0%, 64%);
  --toast-message-clr: hsl(0, 0%, 100%);
  --toast-message-bg: hsl(0, 0%, 40%);
}

.all-pages {
  width: 100%;
  overflow-y: hidden;
  scroll-behavior: smooth;
  min-height: 100%;
}

.each-page {
  height: 100vh;
  height: 100svh;
  overflow-y: hidden;
  padding: 0.5rem;
}

.each-page .body {
  width: 100%;
  height: 100%;
  border: 1px solid var(--each-page-body-border);
  border-radius: 0.525rem;
  overflow: hidden;
  background-color: var(--each-page-body-bg);
}

.page-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.sidebar {
  background-color: var(--sidebar-bg);
  border-inline-end: 1px solid var(--sidebar-border-clr);
  min-width: 60px;
  width: 60px;
  position: relative;
  z-index: 10;
  color: var(--sidebar-clr);
  overflow-x: hidden;
  transition: min-width 500ms, background-color 0ms;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-toggle-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  display: grid;
  cursor: pointer;
  transition: scale 50ms;
  border: 1px solid transparent;
  border-radius: 0.465rem;
}

.sidebar-toggle-btn:hover {
  border: 1px solid var(--sidebar-toggle-btn-hover-border);
}

.sidebar-toggle-btn:active {
  scale: 0.94;
}

.sidebar-toggle-btn svg rect:first-of-type {
  fill: var(--sidebar-toggle-icon-fill);
}

.profile-image {
  height: 120px;
  padding-block-end: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 500ms;
}

.display-profile-img {
  width: 35px;
  height: 35px;
  outline: 2px solid hsla(0, 0%, 50%, 0.5);
  outline-width: 1px;
  outline-offset: 3px;
  border-radius: 50%;
  overflow: hidden;
  transition: width 500ms, height 500ms, outline 200ms;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-profile-img:hover {
  outline: 1px solid var(--profile-img-outline-hover);
}

.display-profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
  object-fit: cover;
}

.primary-menu {
  margin-inline: 0.5rem;
  margin-block: 0.525rem;
  border-radius: 0.5rem;
}

.primary-menu-link {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1rem;
  padding-inline: 0.525rem;
  padding-block: 0.425rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  transition: gap 600ms, background-color 200ms;
}

.primary-menu-link:hover {
  color: var(--primary-link-hover-clr);
  background-color: var(--primary-menu-link-hover-bg);
  border: 1px solid var(--slick-border-clr);
}

.primary-menu-link svg {
  min-width: 24px;
}

.project-menu {
  border: 1px solid transparent;
}

.project-menu:hover {
  border: 1px solid var(--slick-border-clr);
}

.project-menu .primary-menu-link {
  padding-block: 0;
  border: 1px solid transparent;
}

.project-menu > div:first-of-type {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  overflow: hidden;
  height: 40.5px;
  border-block-end: 1px solid transparent;
}

.project-menu > div:first-of-type a {
  height: 100%;
  border-radius: unset;
  flex-grow: 1;
}

.sub-menu-btn {
  display: grid;
  place-items: center;
  height: 100%;
  padding-inline: 0.625rem;
  cursor: pointer;
}

.sub-menu-btn:hover {
  background-color: var(--sub-menu-button-hover-bg);
}

.sub-menu-btn svg {
  transition: 200ms ease-in-out;
}

.sub-menu {
  background-color: var(--sub-menu-bg);
  padding-inline: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  opacity: 0;
  transition: 400ms;
  max-height: 300px;
  overflow-y: auto;
}

.sub-menu::-webkit-scrollbar {
  width: 7px;
  height: 10px;
  display: none;
  -webkit-transition: display 200ms allow-discrete;
  transition: display 200ms allow-discrete;
}

.sub-menu::-webkit-scrollbar-track {
  background-color: var(--sidebar-border-clr);
}

.sub-menu::-webkit-scrollbar-thumb {
  background-color: var(--global-scrollbar-thumb-bg);
  border: 1px solid var(--global-scrollbar-track-bg);
  border-radius: 100px;
}

.sub-menu::-webkit-scrollbar-thumb:hover {
  background-color: var(--global-scrollbar-thumb-hover-bg);
}

.sub-menu::-webkit-scrollbar-corner {
  display: none;
}

.sub-menu:hover::-webkit-scrollbar {
  display: unset;
}

.create-new-project-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.825rem;
  width: 100%;
  text-align: start;
  padding-block: 0.425rem;
  padding-inline-start: 0.5rem;
  cursor: pointer;
  border-radius: 0.4rem;
  text-wrap: nowrap;
  background-color: var(--create-new-project-btn-bg);
  border: 1px solid var(--slick-border-clr);
}

.create-new-project-btn:hover {
  color: var(--white);
  background-color: var(--create-new-project-btn-hover-bg);
}

.create-new-project-btn svg {
  min-width: 18px;
}

.project-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 0.4rem;
  margin-block: 5px;
  opacity: 0;
  border: 1px solid transparent;
  position: relative;
  z-index: 5;
}

.project-list-item a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  padding-block: 0.525rem;
  padding-inline-start: 0.5rem;
}

.project-list-item span {
  outline: none;
  width: 100%;
  word-break: break-all;
}

.project-list-item:hover {
  color: var(--white);
  background-color: var(--project-list-item-hover-bg);
  border: 1px solid var(--slick-border-clr);
}

.project-list-item:hover .sub-menu-option-btn {
  color: var(--white);
  opacity: 1;
}

.sub-menu-option-btn:focus-visible {
  color: var(--white);
  opacity: 1;
}

.project-list-item svg {
  min-width: 18px;
}

.sub-menu-options {
  position: absolute;
  bottom: calc(50% + 34px);
  right: 0;
  z-index: 5;
  translate: 0 50%;
  display: none;
  border: 1px solid var(--slick-border-clr);
  background-color: var(--sub-menu-option-hover-bg);
  border-radius: 0.325rem;
  cursor: default;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3647058824);
}

.sub-menu-options button {
  display: flex;
  cursor: pointer;
  padding-block: 0.555rem;
  padding-inline: 0.525rem;
  opacity: 0.7;
}

.sub-menu-options button:hover {
  opacity: 1;
}

.sub-menu-options button + button svg {
  fill: rgb(255, 60, 60);
}

.sub-menu-options::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 12px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: var(--sub-menu-option-hover-bg);
  rotate: 45deg;
  cursor: pointer;
}

.sub-menu-option-btn {
  width: 25px;
  height: 25px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 200ms;
  margin-inline-end: 0.325rem;
}

.sub-menu-option-btn:hover {
  background-color: var(--sub-menu-option-hover-bg);
}

.grid-smooth-height {
  display: grid;
  grid-template-rows: 0fr;
  scale: 0.9;
  transition: 400ms ease-in-out;
}

.landing-page-wrapper {
  position: relative;
}

#particle-container {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1000ms;
}

.particle {
  position: absolute;
  border-radius: 50%;
  background: white;
  opacity: 0.1;
  animation: float infinite ease-in-out;
  will-change: transform;
}

@keyframes float {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(20px, -30px) scale(1.1);
  }
  50% {
    transform: translate(0px, -60px) scale(1);
  }
  75% {
    transform: translate(-20px, -30px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
.home-page-wrapper {
  position: relative;
  z-index: 3;
  max-width: 1100px;
  margin-inline: auto;
  box-sizing: content-box;
  padding-inline: 1rem;
}

.home-page-banner-container {
  position: relative;
  z-index: 5;
  translate: 0 -100%;
  overflow: hidden;
  background-color: var(--banner-bg);
  color: var(--banner-clr);
  font-size: 0.925rem;
  font-weight: 300;
  padding-block: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  white-space: nowrap;
  border-bottom: 1px solid var(--sidebar-border-clr);
  animation: banner-appear 1s ease-out forwards;
}

.banners {
  -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fff 2%, #fff 98%, rgba(0, 0, 0, 0));
          mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), #fff 2%, #fff 98%, rgba(0, 0, 0, 0));
}

.banner-track {
  display: inline-flex;
  animation: scroll-loop 80s linear infinite;
}

.home-page-banner-container:hover .banner-track {
  animation-play-state: paused;
}

.banner-track > span {
  padding-inline: 0.5rem;
  flex-shrink: 0;
}
.banner-track > span span {
  padding-inline-start: 1rem;
  font-size: 1.5rem;
  line-height: 0;
  display: inline-block;
  translate: 0 3px;
}

@keyframes banner-appear {
  to {
    translate: 0 0;
  }
}
@keyframes scroll-loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.hero {
  display: grid;
  text-align: center;
  background-color: hsla(0, 0%, 50%, 0.05);
  margin-block-start: 1rem;
  border-radius: 0.525rem;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border: 1px solid var(--sidebar-border-clr);
  padding-block: 2rem;
  padding-inline: 1.225rem;
}
.hero h1 {
  font-size: clamp(1.625rem, 0.7679rem + 2.7429vw, 2.825rem);
  font-weight: 600;
  margin: 0;
  letter-spacing: 1px;
  line-height: 1.5lh;
}
.hero p {
  opacity: 0.8;
  font-weight: 300;
}

.quick-launch-btn {
  background-color: hsla(0, 0%, 50%, 0.1);
  padding-block: 0.525rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
  display: block;
  margin-inline: auto;
  padding-inline: 2rem;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 0.5rem;
  border: 1px solid var(--slick-border-clr);
  margin-block-start: 3rem;
}
.quick-launch-btn:hover {
  background-color: hsla(0, 0%, 50%, 0.15);
}

.profile-page-wrapper {
  max-width: 1100px;
  margin-inline: auto;
  display: flex;
  box-sizing: content-box;
  gap: 1rem;
  padding-inline: 1rem;
  padding-block: 3rem;
}

.profile-informations {
  width: 100%;
  max-width: 300px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  padding: 1rem;
}

.profile-image-container {
  margin-block-end: 1rem;
  display: flex;
  justify-content: center;
}

img {
  max-width: 100%;
}

.p-image {
  --width-height: ;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  outline: 2px solid hsla(0, 0%, 50%, 0.5);
  transition: scale 400ms, outline-offset 100ms;
  cursor: pointer;
}
.p-image:hover {
  scale: 0.95;
  outline-offset: 5px;
}
.p-image:hover svg, .p-image:hover img {
  scale: 1.05;
}
.p-image img,
.p-image svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: scale 300ms;
}

.p-name {
  font-size: 24px;
  line-height: 1.2lh;
  letter-spacing: -1px;
}

.p-username {
  font-size: 20px;
  font-weight: 200;
  line-height: 1lh;
  color: var(--p-username-clr);
  letter-spacing: -1px;
}

.p-bio {
  line-height: 0.9lh;
  word-break: break-all;
}

.profile-activity-tab {
  flex-grow: 1;
  overflow-x: hidden;
  position: relative;
  min-height: 700px;
}

.profile-edit-button {
  display: grid;
  place-items: center;
  background-color: var(--global-button-bg);
  border: 1px solid var(--slick-border-clr);
  font-size: 0.925rem;
  height: 30px;
  padding-inline: 0.725rem;
  font-weight: 500;
  border-radius: 0.325rem;
  margin-block-start: 1rem;
}
.profile-edit-button:hover {
  background-color: var(--global-button-hover-bg);
}

.first-join-date {
  display: block;
  text-align: end;
  margin-block-start: 1rem;
  opacity: 0.8;
  font-size: 0.825rem;
  font-weight: 300;
}

.social-links {
  padding: 1.525rem;
  border: 1px solid var(--slick-border-clr);
  border-radius: 0.525rem;
}

.social-links header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-social-link-btn {
  background-color: var(--global-button-bg);
  border: 1px solid var(--slick-border-clr);
  padding: 0 0.425rem;
  padding-block: 0.125rem 0;
  border-radius: 0.325rem;
  font-size: 0.8325rem;
}
.add-social-link-btn:hover {
  background-color: var(--global-button-hover-bg);
}

.social-link-display {
  display: grid;
  gap: 0.725rem;
}

.each-username-link-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  opacity: 0.7;
  font-weight: 300;
}
.each-username-link-container a {
  flex-grow: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(--slick-border-clr);
  background-color: var(--global-button-bg);
  border-radius: 0.325rem;
  padding-block: 0.225rem;
  padding-inline-start: 1rem;
  transition: 400ms;
}
.each-username-link-container .profile-url {
  font-size: 0.9rem;
  opacity: 0.6;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (width < 760px) {
  .each-username-link-container .profile-url {
    display: none;
  }
}
.each-username-link-container button {
  display: grid;
  place-items: center;
  background-color: var(--global-button-bg);
  width: 25px;
  height: 25px;
  border-radius: var(--global-button-border-radius);
  border: 1px solid var(--slick-border-clr);
}
.each-username-link-container button:hover {
  background-color: var(--global-button-hover-bg);
}
@media (pointer: fine) {
  .each-username-link-container:hover {
    opacity: 1;
  }
}
@media (width < 650px) {
  .each-username-link-container {
    gap: 1rem;
  }
}

.each-username-link-container:first-child {
  margin-block-start: 1.5rem;
}

.social-links-edit-form-container {
  width: 100%;
  background-color: var(--social-link-form-bg);
  border: 1px solid var(--slick-border-clr);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1.525rem;
  border-radius: 0.525rem;
  display: none;
  translate: 100% 0;
  transition: 600ms;
  scale: 0.3;
}
.social-links-edit-form-container > div {
  display: grid;
  gap: 1rem;
}

.social-link-inputs {
  border: 1px solid var(--slick-border-clr);
  border-radius: 0.425rem;
  font-size: 0.825rem;
  display: flex;
  align-items: center;
  margin-block-start: 0.425rem;
}
.social-link-inputs > div {
  display: flex;
  align-items: center;
  gap: 0.525rem;
  margin-inline: 0.5rem;
}
.social-link-inputs input {
  min-width: 0;
  flex-grow: 1;
  border-radius: 0 0.325rem 0.325rem 0;
  border: unset;
  font-size: 0.925rem;
  padding: 0.425rem 0.625rem;
}

.social-link-btn-container.social-link-btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-block-start: 2rem;
  gap: 0.5rem;
}

.social-link-btn {
  background-color: var(--global-button-bg);
  border: 1px solid var(--slick-border-clr);
  border-radius: var(--global-button-border-radius);
  padding: var(--global-button-padding);
}
.social-link-btn:hover {
  background-color: var(--global-button-hover-bg);
}

.profile-edit-form {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background-color: var(--profile-edit-form-bg);
  border: 1px solid var(--slick-border-clr);
  padding: 1.525rem;
  translate: 100% 0;
  transition: 600ms;
  scale: 0.3;
  border-radius: 0.5rem;
  z-index: 2;
  display: none;
}
.profile-edit-form input,
.profile-edit-form textarea,
.profile-edit-form select,
.profile-edit-form button {
  padding: 0.325rem 0.625rem;
}
.profile-edit-form textarea {
  height: 100px;
}

.p-form-btns.p-form-btns {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-block-start: 2rem;
  gap: 0.5rem;
}
.p-form-btns.p-form-btns button {
  border-radius: var(--global-button-border-radius);
  background-color: var(--global-button-bg);
  border: 1px solid var(--slick-border-clr);
  padding: var(--global-button-padding);
}
.p-form-btns.p-form-btns button:hover {
  background-color: var(--global-button-hover-bg);
}

.profile-edit-form select {
  background-color: var(--input-textarea-bg);
  color: var(--body-clr);
  border: 1px solid var(--slick-border-clr);
  border-radius: 0.5rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 37px;
  cursor: pointer;
}

.profile-edit-form option {
  background: var(--input-textarea-bg);
  color: #111;
}

.recent-projects {
  margin-block-start: 1rem;
}
.recent-projects > span {
  display: block;
  margin-block-end: 0.325rem;
}

.recent-projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
}

.each-recent-project {
  background-color: hsla(0, 0%, 50%, 0.1);
  border: 1px solid var(--slick-border-clr);
  border-radius: 0.525rem;
  padding: 0.925rem;
  display: flex;
  flex-direction: column;
}
.each-recent-project > span {
  flex-grow: 1;
  opacity: 0.5;
  font-size: 0.9125rem;
  font-weight: 200;
  letter-spacing: 0.3px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.each-recent-project > div:first-child {
  font-size: 0.925rem;
  display: flex;
  align-items: center;
  gap: 0.425rem;
  margin-block-end: 0.525rem;
}
.each-recent-project > div:first-child a:hover {
  text-decoration: underline;
}
.each-recent-project > div:first-child svg {
  min-width: 16px;
}

.each-recent-project > div:last-child {
  opacity: 0.7;
  font-size: 0.825rem;
  font-weight: 300;
  margin-block-start: 0.525rem;
  text-align: end;
}

.settings-page-wrapper {
  max-width: 1100px;
  margin-inline: auto;
  box-sizing: content-box;
  padding-inline: 1rem;
}
.settings-page-wrapper h2 {
  font-size: 2rem;
  font-weight: 400;
}

.all-settings {
  border-top: var(--setting-border);
  padding-block-end: 1rem;
}
.all-settings h3 {
  margin: 0;
  font-size: 1.05rem;
  font-weight: 600;
  line-height: 1lh;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border-block-end: 1px solid hsl(0, 0%, 50%);
  margin-block: 1rem 0.625rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.all-settings h3 span {
  font-weight: 400;
  font-size: 0.8325rem;
}

.theme-container {
  display: flex;
  gap: 0.525rem;
  flex-wrap: wrap;
}

.themes-btn {
  border: 1px solid var(--slick-border-clr);
  background-color: var(--global-button-bg);
  flex-grow: 1;
  flex-basis: 0;
  height: 35px;
  border-radius: var(--global-button-border-radius);
  text-wrap: nowrap;
  padding-inline: 0.525rem;
  opacity: 0.4;
}
.themes-btn:hover {
  background-color: var(--global-button-hover-bg);
  opacity: 1;
}

.editor-settings-list.editor-settings-list div {
  display: flex;
  align-items: center;
  margin-block: 0 0.325rem;
}
.editor-settings-list.editor-settings-list label {
  flex: 3;
  margin: 0;
}
.editor-settings-list.editor-settings-list select {
  flex: 2;
  background-color: var(--input-textarea-bg);
  color: var(--body-clr);
  height: 33px;
  border: 1px solid var(--slick-border-clr);
  border-radius: 0.325rem;
  padding-inline: 0.925rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.editor-settings-list.editor-settings-list select option {
  background-color: var(--option-bg);
  color: var(--option-clr);
}

.project-setting div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-setting button {
  background-color: var(--global-button-bg);
  border-radius: 0.425rem;
  border: 1px solid var(--slick-border-clr);
  padding: var(--global-button-padding);
  font-size: 0.925rem;
  transition: 100ms;
}
.project-setting button:hover {
  background-color: #cf2020;
  border-color: #e34f4f;
  color: #fff;
}

.projects-page-wrapper {
  max-width: 1100px;
  margin-inline: auto;
  box-sizing: content-box;
  padding-inline: 1rem;
}
.projects-page-wrapper h2 {
  font-size: 2rem;
  font-weight: 400;
}

.project-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-end: 0.725rem;
  border-block-end: 1px solid hsla(0, 0%, 50%, 0.15);
  margin-block-end: 1rem;
}

.projects-tab {
  display: flex;
  gap: 1px;
  border-radius: var(--global-button-border-radius);
  overflow: hidden;
  border: 1px solid var(--slick-border-clr);
}
.projects-tab button {
  background-color: var(--global-button-bg);
  padding: var(--global-button-padding);
  opacity: 0.6;
  transition: opacity 100ms;
}
.projects-tab button:hover {
  background-color: var(--global-button-hover-bg);
  opacity: 1;
}
.projects-tab button.active-tab {
  background-color: var(--global-button-hover-bg);
  opacity: 1;
}

.start-new-project-btn {
  background-color: var(--global-button-bg);
  padding: var(--global-button-padding);
  border: 1px solid var(--slick-border-clr);
  border-radius: var(--global-button-border-radius);
}
.start-new-project-btn:hover {
  background-color: var(--global-button-hover-bg);
}

.project-page-project-container {
  display: grid;
  gap: 0.525rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-block-end: 1rem;
}

.each-project {
  border: 1px solid var(--slick-border-clr);
  padding: 1rem;
  display: grid;
  gap: 0.525rem;
  border-radius: 0.425rem;
  background-color: hsla(0, 0%, 50%, 0.1);
  max-width: 550px;
}
.each-project header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.each-project header .title {
  font-weight: 300;
  word-break: break-all;
  line-height: 0.8lh;
}
.each-project header button {
  border: 1px solid transparent;
  padding: 0.125rem;
  border-radius: 100px;
  background-color: var(--global-button-bg);
  border: 1px solid var(--slick-border-clr);
  opacity: 0.8;
  padding: 0.225rem;
}
.each-project header button svg {
  animation: rotateSettingSvg;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;
}
.each-project header button:hover {
  border: 1px solid var(--slick-border-clr);
  background-color: var(--global-button-hover-bg);
  opacity: 1;
}
.each-project header button:hover svg {
  animation-play-state: running;
}
.each-project > span {
  margin: 0;
  opacity: 0.8;
  font-size: 0.9125rem;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 54px;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}
.each-project button {
  display: grid;
  place-items: center;
}

.each-project footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.each-project footer div {
  display: flex;
  align-items: center;
  gap: 0.425rem;
}
.each-project footer .open-editor-btn,
.each-project footer .preview-editor-btn {
  display: flex;
  gap: 0.325rem;
  align-items: center;
  border: 1px solid var(--slick-border-clr);
  background-color: var(--global-button-bg);
  padding: 0 0.425rem;
  border-radius: var(--global-button-border-radius);
  height: 25px;
}
.each-project footer .open-editor-btn span,
.each-project footer .preview-editor-btn span {
  opacity: 1;
}
.each-project footer .open-editor-btn:hover,
.each-project footer .preview-editor-btn:hover {
  background-color: var(--global-button-hover-bg);
}
.each-project footer span {
  opacity: 0.6;
  font-size: 0.825rem;
  font-weight: 300;
}

.each-project > span::-webkit-scrollbar {
  width: 10px;
}

.first-load-welcome-note {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: var(--body-bg);
  display: grid;
  place-items: center;
  padding-inline: 1.425rem;
  overflow: hidden;
  box-shadow: 10px 0 15px hsla(0, 0%, 10%, 0.1);
}

.first-load-welcome-note > .note-content {
  width: 100%;
  max-width: 600px;
  text-align: center;
}
.first-load-welcome-note > .note-content > * {
  margin: 0;
}
.first-load-welcome-note > .note-content h2 {
  font-size: clamp(1.725rem, 1.2346rem + 1.9615vw, 3rem);
  font-weight: 500;
}
.first-load-welcome-note > .note-content p {
  font-size: clamp(0.825rem, 0.7096rem + 0.4615vw, 1.125rem);
}
.first-load-welcome-note > .note-content button {
  font-size: 1.225rem;
  padding-inline: 2rem;
  padding-block: 0.425rem;
  background-color: var(--body-clr);
  color: var(--body-bg);
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 0.425rem;
  font-weight: 500;
  transition: scale 100ms;
  display: block;
  margin-inline: auto;
  margin-block-start: 2rem;
}

.sidebar-bg-layer {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--form-bg-layer-bg);
  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: 450ms;
  transition-behavior: allow-discrete;
}
@media (pointer: fine) {
  .sidebar-bg-layer {
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
}

.disable-interactivity-layer {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  background-color: transparent;
  display: none;
}

.profile-img-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: var(--form-bg-layer-bg);
  place-items: center;
  padding: 1.5rem;
  overflow: hidden;
  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: var(--main-transition-duration);
  transition-behavior: allow-discrete;
}
@media (width > 700px) {
  .profile-img-modal {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

.img-modal-container {
  width: 100%;
  height: 100%;
  max-width: 900px;
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-color: var(--form-bg-clr);
  border-radius: 1rem;
  border: 1px solid var(--slick-border-clr);
  padding: 1rem;
  overflow-y: auto;
  scale: 0.3;
  translate: 0 150%;
  transition: translate var(--content-transition-duration-translate), scale var(--content-transition-duration-scale);
}

.img-container {
  border-radius: 0.8rem;
  width: 100%;
  max-height: 650px;
  background-color: var(--sidebar-bg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.img-buttons {
  display: flex;
  align-items: center;
  gap: 0.525rem;
  justify-content: flex-end;
  padding-block-start: 1rem;
}
.img-buttons div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.525rem;
}
.img-buttons span {
  flex-grow: 1;
  font-size: 0.8125rem;
  opacity: 0.7;
  font-weight: 200;
  letter-spacing: 0.3px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.img-buttons input {
  display: none;
}
@media (pointer: coarse) {
  .img-buttons {
    display: grid;
    gap: 1.425rem;
  }
}

.img-buttons button {
  font-size: 0.9rem;
  padding-block: 0.225rem;
  padding-inline: 0.625rem;
  background-color: var(--global-button-bg);
  border: 1px solid var(--slick-border-clr);
  border-radius: 0.5rem;
}

.img-buttons button:hover {
  background-color: var(--global-button-hover-bg);
}

.form-background-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: var(--form-bg-layer-bg);
  place-items: center;
  padding: 1rem;
  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: var(--main-transition-duration);
  transition-behavior: allow-discrete;
}
@media (width > 700px) {
  .form-background-layer {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

.form-background-layer form {
  background-color: var(--form-bg-clr);
  box-sizing: content-box;
  padding: 1.425rem;
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--slick-border-clr);
  border-radius: 0.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  translate: 0 250%;
  scale: 0.5;
  transition: scale var(--content-transition-duration-scale), translate var(--content-transition-duration-translate);
}
@media (width < 700px) {
  .form-background-layer form {
    width: 80%;
  }
}

form > div:not(.form-buttons) {
  display: grid;
  margin-block-end: 1rem;
}

form label {
  margin-block-end: 0.325rem;
  color: var(--sidebar-clr);
}

form input,
form textarea {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0.225rem 0.625rem;
  background-color: var(--input-textarea-bg);
  color: var(--body-clr);
  border-radius: 0.5rem;
  border: 1px solid var(--slick-border-clr);
}

form textarea {
  resize: none;
  max-height: 200px;
  height: 150px;
}

form textarea::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.form-buttons button {
  cursor: pointer;
}

.form-buttons button:not(.cancel-btn) {
  background-color: var(--global-button-bg);
  padding: var(--global-button-padding);
  border-radius: var(--global-button-border-radius);
  font-size: 0.925rem;
  border: 1px solid var(--slick-border-clr);
}

.form-buttons button:not(.cancel-btn):hover {
  background-color: var(--global-button-hover-bg);
}

.form-buttons .cancel-btn {
  font-size: 0.9rem;
  padding-block: 0rem;
  padding-inline: 0.8rem;
  text-underline-offset: 2px;
  text-decoration: underline;
  transition: text-underline-offset 200ms;
}

.form-buttons .cancel-btn:hover {
  text-underline-offset: 6px;
}

.delete-confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  place-items: center;
  background-color: var(--form-bg-layer-bg);
  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: var(--main-transition-duration);
  transition-behavior: allow-discrete;
}
@media (width > 700px) {
  .delete-confirmation-modal {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

.delete-confirmation-modal > div {
  box-sizing: content-box;
  background-color: var(--sidebar-border-clr);
  border-radius: 1rem;
  border: 1px solid var(--slick-border-clr);
  width: 100%;
  max-width: 400px;
  scale: 0.5;
  translate: 0 250%;
  transition: scale var(--content-transition-duration-scale), translate var(--content-transition-duration-translate);
}

.delete-confirmation-modal > div > div:first-of-type {
  border-block-start: 1px solid var(--slick-border-clr);
  padding-inline: 1.5rem;
}

.delete-confirmation-modal h2 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0;
  padding-inline: 1.5rem;
  padding-block: 1rem;
}

.delete-confirmation-modal .delete-messages > span {
  font-size: 0.9rem;
  color: var(--delete-message-modal-suggested-span);
}

.delete-confirmation-modal p {
  margin-block-end: 0.5rem;
  color: var(--body-clr);
  word-break: break-all;
}

.delete-confirmation-modal p span {
  font-weight: 500;
}

.delete-confirmation-modal a {
  text-decoration: underline;
  text-underline-offset: 1px;
  transition: text-underline-offset 200ms;
}

.delete-confirmation-modal a:hover {
  text-underline-offset: 5px;
}

.delete-confirmation-buttons {
  padding-block: 1.5rem 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.delete-confirmation-buttons button {
  padding-block: 0.325rem 0.425rem;
  padding-inline: 1.225rem;
  border: 1px solid var(--slick-border-clr);
  border-radius: 1000px;
  font-size: 0.925rem;
  font-weight: 500;
}

.delete-confirmation-buttons .dlt-confirm-btn {
  color: #fff;
  border: 1px solid hsl(0, 73%, 47%);
  background-color: hsl(0, 73%, 47%);
}

.delete-confirmation-buttons .dlt-confirm-btn:hover {
  background-color: hsl(0, 73%, 55%);
  border: 1px solid hsl(0, 73%, 50%);
}

.delete-confirmation-buttons .dlt-cancel-btn:hover {
  background-color: var(--global-button-hover-bg);
}

.toast-container {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 9999;
  width: 100%;
  pointer-events: none;
}

.toast-container div {
  display: flex;
  justify-content: center;
  box-sizing: content-box;
  height: 0px;
  margin-block-end: 2px;
  transition: 200ms;
}
.toast-container div span {
  height: 40px;
  color: var(--toast-message-clr);
  background-color: var(--toast-message-bg);
  font-size: 0.925rem;
  font-weight: 500;
  display: grid;
  place-items: center;
  padding-inline: 0.725rem;
  border-radius: 0.425rem;
  box-shadow: 0 4px 5px hsla(0, 0%, 25%, 0.1);
  scale: 0.6;
  opacity: 0;
  translate: 0 -100%;
  transition: 250ms;
}

.toast-container div.active {
  height: 50px;
}
.toast-container div.active span {
  scale: 1;
  opacity: 1;
  translate: 0 0;
}

.edit-project-form-modal {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  display: grid;
  place-items: center;
  background-color: var(--form-bg-layer-bg);
  display: none;
  opacity: 0;
  transition-property: display, opacity;
  transition-behavior: allow-discrete;
  transition-duration: var(--main-transition-duration);
}
@media (width > 700px) {
  .edit-project-form-modal {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

.edit-project-form-modal form {
  box-sizing: content-box;
  background-color: var(--form-bg-clr);
  padding: 1.525rem;
  width: 100%;
  max-width: 400px;
  border-radius: 0.5rem;
  border: 1px solid var(--slick-border-clr);
  translate: 0 250%;
  scale: 0.5;
  transition: translate var(--content-transition-duration-translate), scale var(--content-transition-duration-scale);
}
.edit-project-form-modal form div:last-child {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.425rem;
  margin-block: 1.525rem 0;
}
.edit-project-form-modal form button {
  padding: var(--global-button-padding);
  background-color: var(--global-button-bg);
  border: 1px solid var(--slick-border-clr);
  border-radius: var(--global-button-border-radius);
  font-size: 0.925rem;
  transition: 100ms;
}
.edit-project-form-modal form button:hover {
  background-color: var(--global-button-hover-bg);
}
.edit-project-form-modal form .project-edit-form-delete-btn:hover {
  color: #fff;
  background-color: hsl(0, 73%, 47%);
  border-color: hsl(0, 73%, 60%);
}
@media (width < 700px) {
  .edit-project-form-modal form {
    width: 80%;
  }
}

.delete-all-project-modal {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: var(--form-bg-layer-bg);
  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: var(--main-transition-duration);
  transition-behavior: allow-discrete;
}
@media (width > 700px) {
  .delete-all-project-modal {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
  }
}

.delete-all-project-modal form {
  background-color: var(--form-bg-clr);
  box-sizing: content-box;
  padding: 1.525rem;
  width: 100%;
  max-width: 450px;
  border-radius: 0.5rem;
  border: 1px solid var(--slick-border-clr);
  scale: 0.5;
  translate: 0 250%;
  transition: translate var(--content-transition-duration-translate), scale var(--content-transition-duration-scale);
}
.delete-all-project-modal form span:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  display: block;
  padding-block-end: 0.5rem;
  border-block-end: 1px solid var(--slick-border-clr);
}
.delete-all-project-modal form .warning-message {
  background-color: hsla(0, 100%, 60%, 0.13);
  color: hsl(0, 100%, 45%);
  font-size: 0.925rem;
  padding-block: 0.5rem;
  padding-inline-start: 1rem;
  border-radius: 0.425rem;
  display: block;
  margin-block: 1rem;
  font-weight: 300;
  letter-spacing: 0.2px;
}
.delete-all-project-modal form .warning-message strong {
  font-weight: 500;
}
.delete-all-project-modal form .delete-project-input-container {
  margin: 0;
}
.delete-all-project-modal form .error-message {
  margin-block: 0.425rem;
  height: 22px;
  font-size: 0.855rem;
  color: hsl(0, 100%, 45%);
  display: flex;
  align-items: center;
  gap: 0.325rem;
}
.delete-all-project-modal form button {
  background-color: var(--global-button-bg);
  padding: var(--global-button-padding);
  border-radius: var(--global-button-border-radius);
  border: 1px solid var(--slick-border-clr);
  transition: 100ms;
}
.delete-all-project-modal form button:hover {
  background-color: var(--global-button-hover-bg);
}
.delete-all-project-modal form .confirm-all-project-delete-btn:hover {
  background-color: #cf2020;
  border-color: #e34f4f;
  color: #fff;
}
.delete-all-project-modal form .delete-all-project-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.525rem;
  margin: 0;
}
@media (width < 700px) {
  .delete-all-project-modal form {
    width: 80%;
    padding: 1.225rem;
  }
}

.display-preview-modal {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  background-color: var(--form-bg-layer-bg);
  z-index: 99;
  display: grid;
  place-items: center;
  padding: 1.5rem;
  display: none;
  opacity: 0;
  transition-property: display opacity;
  transition-duration: var(--main-transition-duration);
  transition-behavior: allow-discrete;
}
@media (pointer: fine) {
  .display-preview-modal {
    -webkit-backdrop-filter: blur(3px);
            backdrop-filter: blur(3px);
  }
}

.preview-modal-content {
  display: flex;
  width: 100%;
  border: 1px solid var(--slick-border-clr);
  background-color: #ffffff;
  position: relative;
  scale: 0.5;
  translate: 0 150%;
  transition: scale var(--content-transition-duration-scale), translate var(--content-transition-duration-translate);
}
.preview-modal-content iframe {
  width: 100%;
  height: 100%;
  display: block;
  border: none;
}
@media (width < 1300px) {
  .preview-modal-content {
    height: 80%;
  }
}
@media (width >= 1300px) {
  .preview-modal-content {
    max-width: 1300px;
    aspect-ratio: 16/9;
  }
}

.preview-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;
}

.preview-extra-feature-container {
  position: absolute;
  bottom: calc(100% + 5px);
  left: 0;
  padding-inline: 0.5rem 0.225rem;
  padding-block: 0.225rem;
  border-radius: 0.225rem;
  background-color: var(--form-bg-clr);
  border: 1px solid var(--sidebar-border-clr);
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.preview-extra-feature-container button {
  display: grid;
  background-color: var(--global-button-bg);
  color: var(--global-button-clr);
  border-radius: 0.225rem;
  padding-inline: 0.525rem;
  padding-block: 0.125rem;
  font-size: 0.925rem;
  border: 1px solid var(--slick-border-clr);
  text-wrap: nowrap;
}
.preview-extra-feature-container button:hover {
  background-color: var(--global-button-hover-bg);
}

.preview-project-description {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 0.925rem;
  margin: 0;
  font-weight: 300;
}

.display-preview-modal.show {
  display: grid;
  opacity: 1;
}
.display-preview-modal.show .preview-modal-content {
  scale: 1;
  translate: 0 0;
}
@starting-style {
  .display-preview-modal.show .preview-modal-content {
    scale: 0.5;
    translate: 0 150%;
  }
}
@starting-style {
  .display-preview-modal.show {
    opacity: 0;
  }
}

main {
  transition: opacity 2s, scale 1.5s ease-out;
}

.blinking-rect {
  animation: blinking 2s infinite;
}

@keyframes blinking {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}
.sidebar.show {
  min-width: 250px;
}
.sidebar.show .primary-menu-link {
  gap: 1rem;
}

.profile-image.enlarge {
  height: 170px;
}

.profile-image.enlarge .display-profile-img {
  width: 80px;
  height: 80px;
  outline-width: 2px;
}

.project-menu.show {
  background-color: var(--primary-menu-link-hover-bg);
}

.project-menu.show .primary-menu-link:hover,
.project-menu.show .sub-menu-btn:hover {
  background-color: var(--sub-menu-option-hover-bg);
}

.project-menu.show > div:first-of-type {
  border-radius: 0.5rem 0.5rem 0 0;
  border-block-end: 1px solid var(--slick-border-clr);
}

.project-menu.show .sub-menu-btn svg {
  rotate: -180deg;
  animation: blinking 1.5s infinite;
}

.project-menu.show .grid-smooth-height {
  scale: 1;
  grid-template-rows: 1fr;
}

.project-menu.show .sub-menu {
  padding-block: 0.5rem;
  opacity: 1;
}

.form-background-layer.appear {
  opacity: 1;
  display: grid;
}
.form-background-layer.appear form {
  scale: 1;
  translate: 0 0;
}
@starting-style {
  .form-background-layer.appear form {
    scale: 0.5;
    translate: 0 350%;
  }
}
@starting-style {
  .form-background-layer.appear {
    opacity: 0;
  }
}

.delete-confirmation-modal.appear {
  opacity: 1;
  display: grid;
}
.delete-confirmation-modal.appear .delete-modal-content {
  translate: 0 0;
  scale: 1;
}
@starting-style {
  .delete-confirmation-modal.appear .delete-modal-content {
    translate: 0 250%;
    scale: 0.5;
  }
}
@starting-style {
  .delete-confirmation-modal.appear {
    opacity: 0;
  }
}

.profile-img-modal.appear {
  display: grid;
  opacity: 1;
}
.profile-img-modal.appear .img-modal-container {
  translate: 0 0;
  scale: 1;
}
@starting-style {
  .profile-img-modal.appear .img-modal-container {
    translate: 0 250%;
    scale: 0.3;
  }
}
@starting-style {
  .profile-img-modal.appear {
    opacity: 0;
  }
}

@keyframes created {
  0% {
    translate: 0 -20px;
    opacity: 0;
    outline: 2px solid hsl(0, 0%, 80%);
    scale: 0.6;
  }
  50% {
    translate: 0 0;
    scale: 0.99;
  }
  80% {
    outline: 2px solid hsl(0, 0%, 70%);
  }
  100% {
    opacity: 1;
    outline: 1px solid var(--project-list-item-created-outline);
    scale: 1;
  }
}
.project-list-item.created {
  animation-name: created;
  animation-timing-function: ease;
  animation-delay: 400ms;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.sub-menu-options.show {
  display: flex;
}

@keyframes rotateSettingSvg {
  100% {
    rotate: 360deg;
  }
}
.settings-svg {
  animation: rotateSettingSvg;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.primary-menu-link.focused {
  background-color: var(--primary-menu-link-hover-bg);
  border: 1px solid var(--slick-border-clr);
}
.primary-menu-link.focused svg {
  animation: jump-up 700ms;
}

@keyframes jump-up {
  30% {
    scale: 0.9;
  }
  59% {
    scale: 1;
  }
  60% {
    translate: 0 -2px;
  }
  80% {
    translate: 0 2px;
  }
}
.profile-edit-form.active {
  translate: 0 0;
  scale: 1;
}

.social-links-edit-form-container.active {
  translate: 0 0;
  scale: 1;
}

.edit-project-form-modal.appear {
  display: grid;
  opacity: 1;
}
.edit-project-form-modal.appear form {
  translate: 0 0;
  scale: 1;
}
@starting-style {
  .edit-project-form-modal.appear form {
    translate: 0 250%;
    scale: 0.5;
  }
}
@starting-style {
  .edit-project-form-modal.appear {
    opacity: 0;
  }
}

.themes-btn.active {
  opacity: 1;
}

.no-transitions * {
  transition: none !important;
}

.delete-all-project-modal.appear {
  display: grid;
  opacity: 1;
}
.delete-all-project-modal.appear form {
  translate: 0 0;
  scale: 1;
}
@starting-style {
  .delete-all-project-modal.appear form {
    translate: 0 250%;
    scale: 0.5;
  }
}
@starting-style {
  .delete-all-project-modal.appear {
    opacity: 0;
  }
}

.delete-project-input-container input.error {
  outline: 1px solid hsl(0, 100%, 45%);
  outline-offset: 2px;
}

input, textarea {
  border-radius: 0.2525rem !important;
}

@media (width < 1000px) {
  ::-webkit-scrollbar {
    width: 12px;
  }
  .sidebar {
    position: fixed;
    z-index: 10;
    height: 100%;
  }
  .sidebar-bg-layer.show {
    display: block;
    opacity: 1;
  }
  @starting-style {
    .sidebar-bg-layer.show {
      opacity: 0;
    }
  }
  .all-pages {
    margin-inline-start: 60px;
  }
  .profile-page-wrapper {
    display: grid;
    padding-block: 1rem;
  }
  .profile-page-wrapper .profile-informations {
    max-width: 100%;
    padding-inline: 0;
  }
  .profile-page-wrapper .profile-informations .profile-image-container > .p-image {
    width: 180px;
    height: 180px;
  }
  .profile-page-wrapper .profile-informations button {
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .profile-page-wrapper .profile-activity-tab {
    min-height: 630px;
  }
  .profile-edit-form {
    padding: 1rem;
  }
  .social-links-edit-form-container {
    padding: 1rem;
  }
  .social-links-edit-form-container > div {
    display: block !important;
  }
  .social-links-edit-form-container > div > * {
    margin-block-end: 0.825rem;
  }
  .social-link-btn-container {
    margin: 0 !important;
  }
}
@media (pointer: coarse) {
  .social-link-inputs > div > span:last-child {
    display: none;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  .social-links {
    padding: 1rem;
  }
  .sub-menu-option-btn {
    cursor: default;
    opacity: 1;
  }
  * {
    cursor: default !important;
  }
}